@model IdentitySample.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Inicio de Sesión";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/logo_ico.png" />
    <title>@ViewBag.Title - Portal thyssenkrup</title>
    <link href="@Url.Content("~/Content/bootstrap3_3_7.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet">
    <style>
        body {
            font-family: 'TKTypeMedium';
            src: url('../../fonts/tkmm/TKTypeMedium.ttf') format('truetype');
        }

        .tooltip_class + .tooltip > .tooltip-inner {
            background-color: #fbf0b3;
            color: #060689;
            border: 1px solid #808080;
            padding: 15px;
            font-size: 15px;
        }
        /* Tooltip on top */
        .tooltip_class + .tooltip.top > .tooltip-arrow {
            border-top: 5px solid #b1a669;
        }
        /* Tooltip on bottom */
        .tooltip_class + .tooltip.bottom > .tooltip-arrow {
            border-bottom: 5px solid #b1a669;
        }
        /* Tooltip on left */
        .tooltip_class + .tooltip.left > .tooltip-arrow {
            border-left: 5px solid #b1a669;
        }
        /* Tooltip on right */
        .tooltip_class + .tooltip.right > .tooltip-arrow {
            border-right: 5px solid #b1a669;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="abs-center">
            <div class="col-sm-6 col-md-5">
                <center>
                    <img src="~/Content/images/logo_4.png" class="img-responsive" height="106px" width="450px" alt="">
                </center>
                <div class="panel panel-default box-shadow box-login">
                    <div class="panel-heading">
                        <span class="text-primary">Inicio de sesi&oacute;n</span>
                        <span class="text-muted pull-right today" title="Today">@(DateTime.Now.ToString())</span>
                    </div><!--.panel-heading-->
                    <div class="panel-body">
                        <center>
                            <h3 style="color:#0094ff"><b>Portal thyssenkrupp</b></h3>
                        </center>

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">

                                @Html.ValidationSummary(true, "Aviso:", new { @class = "text-danger" })

                                @Html.LabelFor(m => m.Email )
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Usuario o correo electrónico", @tabindex = "1" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                <div id="divMayus" style="display:none; color:#0094ff; text-align:right"><i class="glyphicon glyphicon-info-sign"></i> Bloq Mayús está activo</div>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña", @tabindex = "2" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-block btn-info" tabindex="3" style="background-color: #00a0f4">Iniciar Sesi&oacute;n</button>
                        }
                        <div class="row" style="padding-top:5px">
                            <div class="col-md-6 col-sm-6 ">
                                <a href="@Url.Action("ForgotPassword", "Account")" class="tooltip_class" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Haz clic aquí para restablecer tu contraseña.</u>">
                                    ¿Olvidaste tu contrase&ntilde;a?
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6" style="text-align:right">
                                <a href="@Url.Action("SolicitarUsuario", "Account")" class="tooltip_class" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Si aún no tienes <b>usuario</b>, haz clic aquí para solicitarlo.</u>">
                                    Solicitar Usuario
                                </a>
                            </div>
                            
                        </div>                      
                    </div>
                </div><!--.panel-->
            </div><!--.cols-->
        </div><!--.row-->
    </div><!--.container-->
</body>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/bootstrap_3.4.1_login.min.js")
@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        // Get the input field
        var input = document.getElementById("Password");

        // Get the warning text
        var text = document.getElementById("divMayus");

        // When the user presses any key on the keyboard, run the function
        input.addEventListener("keyup", function (event) {

            // If "caps lock" is pressed, display the warning text
            if (event.getModifierState("CapsLock")) {
                text.style.display = "block";
            } else {
                text.style.display = "none"
            }
        });

    });
   
</script>
</html>