@model Portal_2_0.Models.poliza_manual

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>poliza_manual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero_documento_sap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_documento_sap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_validacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_validacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_autorizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_autorizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario_rechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario_rechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_poliza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_poliza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biblioteca_digital.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biblioteca_digital.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biblioteca_digital1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biblioteca_digital1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currency.CurrencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency.CurrencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.numeroEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.numeroEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plantas.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plantas.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM_autorizadores.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM_autorizadores.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM_tipo_poliza.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM_tipo_poliza.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PM_validadores.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PM_validadores.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
