@model Portal_2_0.Models.BG_IHS_combinacion

@{
    ViewBag.Title = "Detalles de Combinación IHS";
    ViewBag.PrimerNivel = "budget_ihs";
    ViewBag.SegundoNivel = "BG_IHS_combinacion";
    ViewBag.ControllerName = "BG_IHS_combinacion";

    int contador = 100;


    var cabeceraDemanda = Portal_2_0.Models.BG_IHS_UTIL.GetCabecera();
    var cabeceraCuartos = Portal_2_0.Models.BG_IHS_UTIL.GetCabeceraCuartos();
    var cabeceraAnios = Portal_2_0.Models.BG_IHS_UTIL.GetCabeceraAnios();
    var cabeceraAniosFY = Portal_2_0.Models.BG_IHS_UTIL.GetCabeceraAniosFY();

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

    <style>
        .fondo-default {
            background-color: #f7f7f7 !important;
            color: #000000 !important;
        }

        .fondo-ihs {
            background-color: antiquewhite !important;
        }

        .fondo-user {
            background-color: #d6c6ea !important;
        }

        .fondo-original {
            background-color: #faff6b !important;
        }

        .fondo-customer {
            background-color: #6afcf3 !important;
        }

        .texto-verde {
            font-weight: bold;
            color: darkgreen;
            background-color: #b8f6f3 !important;
        }

        .texto-rojo {
            font-weight: bold;
            color: red;
            background-color: #b8f6f3 !important;
        }

        .fondo-customer {
            background-color: #6afcf3 !important;
        }

        .fondo-cuarto-calculado {
            background-color: #bbf3c1 !important;
            color: darkslategray !important;
        }

        .fondo-cuarto-ihs {
            background-color: lightpink !important;
            color: darkslategray !important;
        }
    </style>
}


<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">



                        <div class="form-group row">
                            <span style="color:black"><b>DATOS GENERALES</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.vehicle, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-5 col-sm-5 ">
                                @Html.EditorFor(model => model.vehicle, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.vehicle, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.production_brand, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-5 col-sm-5">
                                @Html.EditorFor(model => model.production_brand, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.production_brand, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.production_plant, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-5 col-sm-5 ">
                                @Html.EditorFor(model => model.production_plant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.manufacturer_group, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-5 col-sm-5">
                                @Html.EditorFor(model => model.manufacturer_group, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.sop_start_of_production, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-3 col-sm-3">
                                <input type="month" id="sop_start_of_production" name="sop_start_of_production" class="form-control" value="@(Model.sop_start_of_production.HasValue? Model.sop_start_of_production.Value.ToString("yyyy-MM") : String.Empty )" disabled />
                            </div>
                            @Html.LabelFor(model => model.eop_end_of_production, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-3 col-sm-3">
                                <input type="month" id="eop_end_of_production" name="eop_end_of_production" class="form-control" value="@(Model.eop_end_of_production.HasValue? Model.eop_end_of_production.Value.ToString("yyyy-MM") : String.Empty )" disabled />
                            </div>
                            <!-- porcentaje scrap-->
                            @Html.LabelFor(model => model.porcentaje_scrap_100, new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.porcentaje_scrap_100, new { htmlAttributes = new { @class = "form-control porcentaje", @type = "text", @readonly = "readonly" } })
                            </div>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>ELEMENTOS IHS</b></span>
                        </div>

                        @*SELECCION DE ELEMENTOS IHS*@

                        <div id="div_rel_combinaciones">
                            @foreach (var rel_combinacion in Model.BG_IHS_rel_combinacion)
                            {
                                <div class="form-group row" id="div_items_ihs_@contador">
                                    <input type="hidden" name="hidden_id_ish_@contador" id="hidden_id_ish_@contador" value="@rel_combinacion.id_ihs_item" class="ihs-item" />
                                    <label class="control-label col-md-1" for="BG_IHS_rel_combinacion[@contador].id_ihs_item">
                                        <span class="float-right">IHS item</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" value="@Html.DisplayFor(model => rel_combinacion.BG_IHS_item.ConcatCodigo)" readonly />
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <button type="button" id="btn-info-cell_@contador" onclick="mostrarDetalles(@contador); return false;" class="btn btn-primary btn-sm" title="Ver Detalles"> <i class="fa-solid fa-eye"></i></button>
                                    </div>

                                </div>

                                contador++;
                            }
                        </div>


                        <div class="form-group row">

                        </div>


                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.comentario, new { @class = "control-label col-md-12 col-sm-12", @style = "text-align:left" })
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.comentario, new { @class = "form-control", @rows = "4", @autocomplete = "off", @readonly = "readonly" })
                            </div>
                        </div>

                        @*Demanda ORIGINAL*@
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>DEMANDA ORIGINAL (IHS)</b></span>
                        </div>


                        <div class="table-responsive">

                            <table id="datatable_1" class="table data-table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr style=" background-color: #0094ff; color: azure;" !important>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Origen
                                        </th>
                                        <th>
                                            Manufacturer
                                        </th>
                                        <th>
                                            Production Plant
                                        </th>
                                        <th>
                                            Production Brand
                                        </th>
                                        <th>
                                            Program
                                        </th>
                                        <th>
                                            Production Nameplate
                                        </th>
                                        <th>
                                            Vehicle
                                        </th>
                                        <th>
                                            SOP
                                        </th>
                                        <th>
                                            EOP
                                        </th>
                                        <th>
                                            % Scrap
                                        </th>
                                        @foreach (var cabecera in cabeceraDemanda)
                                        {
                                            <th nowrap style="background-color:royalblue">
                                                @cabecera.text
                                            </th>
                                        }
                                        @foreach (var cabecera in cabeceraCuartos)
                                        {
                                            <th nowrap>
                                                @cabecera.text
                                            </th>
                                        }
                                        @foreach (var cabecera in cabeceraAnios)
                                        {
                                            <th nowrap style="background-color:royalblue">
                                                @cabecera.text
                                            </th>
                                        }
                                        @foreach (var cabecera in cabeceraAniosFY)
                                        {
                                            <th nowrap>
                                                @cabecera.text
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="body_conceptos_ORIGINAL">
                                    @*Agrega de forma dinámica los elementos*@
                                </tbody>

                            </table>

                        </div>

                        @*Demanda CUSTOMER*@
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>DEMANDA CUSTOMER</b></span>
                        </div>


                        <div class="table-responsive">

                            <table id="datatable_2" class="table data-table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr style=" background-color: #0094ff; color: azure;" !important>
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Origen
                                        </th>
                                        <th>
                                            Manufacturer
                                        </th>
                                        <th>
                                            Production Plant
                                        </th>
                                        <th>
                                            Production Brand
                                        </th>
                                        <th>
                                            Program
                                        </th>
                                        <th>
                                            Production Nameplate
                                        </th>
                                        <th>
                                            Vehicle
                                        </th>
                                        <th>
                                            SOP
                                        </th>
                                        <th>
                                            EOP
                                        </th>
                                        <th>
                                            % Scrap
                                        </th>
                                        @foreach (var cabecera in cabeceraDemanda)
                                        {
                                            <th nowrap style="background-color:royalblue">
                                                @cabecera.text
                                            </th>
                                        }
                                        @foreach (var cabecera in cabeceraCuartos)
                                        {
                                            <th nowrap>
                                                @cabecera.text
                                            </th>
                                        }
                                        @foreach (var cabecera in cabeceraAnios)
                                        {
                                            <th nowrap style="background-color:royalblue">
                                                @cabecera.text
                                            </th>
                                        }
                                        @foreach (var cabecera in cabeceraAniosFY)
                                        {
                                            <th nowrap>
                                                @cabecera.text
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody id="body_conceptos_CUSTOMER">
                                    @*Agrega de forma dinámica los elementos*@
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12">
                            <div class="ln_solid"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render(Url.Content("~/Content/vendors/jquery-iu/jquery-ui.min.js"))
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    <!-- input mask -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"))
<script>
        $(document).ready(function () {

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

             //llamada al metodo para cargar las filas
            CargaRow('@Bitacoras.Util.BG_IHS_tipo_demanda.ORIGINAL');
            CargaRow('@Bitacoras.Util.BG_IHS_tipo_demanda.CUSTOMER');

            //input mask
            $('.porcentaje').inputmask({ 'alias': 'integer', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'suffix': ' %', 'allowMinus': false, 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });


        });

        //variable global para el id
        var num = 0;


        function CargaRow(demanda) {
            let items_seleccionados = [];


            let porcentaje = $('#@Html.IdFor(model => model.porcentaje_scrap_100)').val();

            if (isNaN(porcentaje))
                porcentaje = 0; //100%

            //obtiene la lista de los ids enviados
            $('.ihs-item').each(function () {
                var value = $(this).val();

                if (value != "")
                    items_seleccionados.push(value);
            });


            if (items_seleccionados.length > 0) {
                $.ajax({
                    type: 'POST',
                    url: '/BG_IHS_combinacion/GetRows',
                    data: { data: items_seleccionados, demanda: demanda, porcentaje: porcentaje },
                    // contentType: 'application/json',
                    success: function (data) {
                        try {
                            $('#body_conceptos_' + demanda).html(data[0].value);
                        }
                        catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Ocurrió un error obteniendo la información: ' + error,
                                confirmButtonText: 'Aceptar',
                            })
                        }
                    },
                    error: function (textStatus, errorThrown) {
                        //en caso de error en la llamada ajax
                        Swal.fire({
                            icon: 'error',
                            title: 'Ocurrió un error: ' + errorThrown,
                            text: 'Intente nuevamente.'
                        })
                    },
                    async: true
                });
            }
        }

    function mostrarDetalles(contador) {
        var e = document.getElementById("BG_IHS_rel_combinacion[" + contador + "].id_ihs_item");
        var value = e.value;
        window.open('/BG_IHS_item/Details/' + value + '', 'popup', "width=" + screen.width * .80 + ",height=" + screen.height * .80 + "");

    }
        window.onload = function () {
            clicMenu(1);
        }
</script>
}


