@model IEnumerable<Portal_2_0.Models.BG_IHS_combinacion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado de Combinaciones de IHS";
    ViewBag.PrimerNivel = "budget_ihs";
    ViewBag.SegundoNivel = "BG_IHS_combinacion";
    ViewBag.ControllerName = "BG_IHS_combinacion";

    ViewBag.nav_style = "nav-sm";

    var bG_IHS_versiones = (Portal_2_0.Models.BG_IHS_versiones)ViewBag.VersionIHS;

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title - @(bG_IHS_versiones!=null? bG_IHS_versiones.ConcatVersion : string.Empty)</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-gear"></i> Opciones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="@Url.Action("listadoIHS", "BG_IHS_item", new { version = bG_IHS_versiones.id, origen = Bitacoras.Util.BG_IHS_Origen.UNION})" class="dropdown-item" style="color: #666666">
                                        <i class="fa-regular fa-pen-to-square"></i> Editar
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_combinacion", new { version = bG_IHS_versiones.id})" class="dropdown-item" style="color: #666666">
                                        <i class="fa-solid fa-arrows-to-circle"></i> Combinaci&oacute;n
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_division", new { version = bG_IHS_versiones.id})" class="dropdown-item" style="color: #666666">
                                        <svg width="16px" height="16px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#666666"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>split-solid</title> <g id="Layer_2" data-name="Layer 2"> <g id="invisible_box" data-name="invisible box"> <rect width="48" height="48" fill="none"></rect> </g> <g id="icons_Q2" data-name="icons Q2"> <path d="M44,17V6a2,2,0,0,0-2-2H31a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2h6.2l-14,14H6a2,2,0,0,0-2,2H4a2,2,0,0,0,2,2H23.2l14,14H31a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2H42a2,2,0,0,0,2-2V31a2,2,0,0,0-2-2h0a2,2,0,0,0-2,2v6.2L26.8,24,40,10.8V17a2,2,0,0,0,2,2h0A2,2,0,0,0,44,17Z"></path> </g> </g> </g></svg> Divisi&oacute;n
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_segmentos", new { version = bG_IHS_versiones.id})" class="dropdown-item" style="color: #666666">
                                        Segmentos
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_regiones", new { version = bG_IHS_versiones.id})" class="dropdown-item" style="color: #666666">
                                        Regiones
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_rel_regiones", new { version = bG_IHS_versiones.id})" class="dropdown-item" style="color: #666666">
                                        Asignar regiones a Planta
                                    </a>
                                    <a href="@Url.Action("ListadoVersionesIHS", "BG_IHS_item")" class="dropdown-item" style="color: #0000e5">
                                        <i class="fa-regular fa-circle-right fa-rotate-180"></i> Listado Versiones IHS
                                    </a>
                                </div>
                            </div>

                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                                        {
                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="id" style="text-align:right">Combinaci&oacute;n:</label>
                                                <div class="col-md-8 col-sm-8">
                                                    @Html.DropDownList("id", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                            </div>

                                            <input type="hidden" name="version" id="version" value="@bG_IHS_versiones.id" />
                                        }
                                        <hr />
                                    </div>
                                    <div class="form-group">
                                        <a href="@Url.Action( "Create", ViewBag.ControllerName, new { version = bG_IHS_versiones.id })" class="btn btn-success">
                                            <i class="fa fa-plus-square"></i>
                                            Crear nuevo
                                        </a>
                                    </div>
                                    <table id="datatable_1" class="table table-bordered" cellspacing="0" width="100%">
                                        <thead style="background-color: #009ff5; color: azure;">
                                            <tr>
                                                <th>Acciones</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.id)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.vehicle)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.production_brand)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.production_plant)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.manufacturer_group)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.sop_start_of_production)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.eop_end_of_production)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.comentario)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.porcentaje_scrap)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.activo)
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr style=" @(!item.activo?"font-weight:bold; color: red": "font-weight:bold; background-color:#daffda; color:green;")">
                                                    <td nowrap>
                                                        <a href="@Url.Action("Edit", ViewBag.ControllerName, new { id = item.id })" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Editar">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                        </a>
                                                        <a href="@Url.Action("Details", ViewBag.ControllerName, new { id = item.id })" class="btn btn-info" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Detalles">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                        @if (!item.activo)
                                                        {
                                                            <a href="@Url.Action("Enable", ViewBag.ControllerName, new { id = item.id })" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Habilitar">
                                                                <i class="fa-solid fa-circle-check"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Disable", ViewBag.ControllerName, new { id = item.id })" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Deshabilitar">
                                                                <i class="fa-solid fa-circle-xmark"></i>
                                                            </a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.vehicle)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.production_brand)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.production_plant)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.manufacturer_group)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.sop_start_of_production)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.eop_end_of_production)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.comentario)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.porcentaje_scrap)
                                                    </td>
                                                    <td>
                                                        @(item.activo?"Activo":"Inactivo")
                                                    </td>
                                                </tr>

                                                foreach (var rel in item.BG_IHS_rel_combinacion)
                                                {
                                                    <tr style="background-color: #fafafa">
                                                        <td colspan="3">
                                                        </td>
                                                        <td colspan="8">
                                                            @Html.DisplayFor(modelItem => rel.BG_IHS_item.ConcatCodigo)
                                                        </td>
                                                    </tr>
                                                }

                                            }

                                        </tbody>
                                    </table>

                                </div>
                                <br />
                                @if (Model.Count() > 0)
                                {
                                    <nav id="nav_paginacion" aria-label="...">
                                        @{Html.RenderPartial("_Paginacion", Model);}
                                    </nav>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>

        $(document).ready(function () {

            //inicializa los data table
            //var tabla = $('#datatable_1').DataTable({
            //    "paging": false,
            //    "ordering": false,
            //    "searching": false,
            //    "scrollX": true,
            //    "info": false
            //});

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Envia el formulario cada vez que se modifica el combo
            $(".select2bs4").change(function () {
                $("#buscarForm").submit();
                BloqueaPantalla();
            });

        });

        //agranda el tamaño de la barra
        window.onload = function () {
            //clicMenu(2); //dos veces para acomodar la tabla
        }


    </script>

}
