@model Portal_2_0.Models.produccion_datos_entrada

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>produccion_datos_entrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.peso_real_pieza_neto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_real_pieza_neto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orden_sap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden_sap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orden_sap_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orden_sap_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piezas_por_golpe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piezas_por_golpe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_rollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_rollo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lote_rollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lote_rollo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_etiqueta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_etiqueta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_regreso_rollo_real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_regreso_rollo_real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_bascula_kgs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_bascula_kgs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_despunte_kgs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_despunte_kgs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_cola_kgs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_cola_kgs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_piezas_ajuste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_piezas_ajuste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ordenes_por_pieza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordenes_por_pieza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.produccion_registros.sap_platina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produccion_registros.sap_platina)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
