@model Portal_2_0.Models.produccion_datos_entrada

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>produccion_datos_entrada</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_produccion_registro)

        <div class="form-group">
            @Html.LabelFor(model => model.peso_real_pieza_neto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso_real_pieza_neto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.peso_real_pieza_neto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.orden_sap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.orden_sap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.orden_sap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.orden_sap_2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.orden_sap_2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.orden_sap_2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.piezas_por_golpe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.piezas_por_golpe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.piezas_por_golpe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero_rollo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero_rollo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numero_rollo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lote_rollo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lote_rollo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lote_rollo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.peso_etiqueta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso_etiqueta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.peso_etiqueta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.peso_regreso_rollo_real, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso_regreso_rollo_real, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.peso_regreso_rollo_real, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.peso_bascula_kgs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso_bascula_kgs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.peso_bascula_kgs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.peso_despunte_kgs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso_despunte_kgs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.peso_despunte_kgs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.peso_cola_kgs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.peso_cola_kgs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.peso_cola_kgs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.total_piezas_ajuste, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_piezas_ajuste, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total_piezas_ajuste, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ordenes_por_pieza, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ordenes_por_pieza, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ordenes_por_pieza, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
