@model IEnumerable<Portal_2_0.Models.produccion_datos_entrada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.peso_real_pieza_neto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orden_sap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orden_sap_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.piezas_por_golpe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero_rollo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lote_rollo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_etiqueta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_regreso_rollo_real)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_bascula_kgs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_despunte_kgs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso_cola_kgs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_piezas_ajuste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordenes_por_pieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produccion_registros.sap_platina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.peso_real_pieza_neto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orden_sap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orden_sap_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.piezas_por_golpe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_rollo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lote_rollo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_etiqueta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_regreso_rollo_real)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_bascula_kgs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_despunte_kgs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso_cola_kgs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_piezas_ajuste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ordenes_por_pieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.produccion_registros.sap_platina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_produccion_registro }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_produccion_registro }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_produccion_registro })
        </td>
    </tr>
}

</table>
