@model Portal_2_0.Models.PFA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PFA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_request)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_request)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sap_part_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sap_part_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer_part_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_part_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_pf_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_pf_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.promise_recovering_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.promise_recovering_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razon_rechazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon_rechazo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_aprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_aprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.numeroEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.numeroEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados1.numeroEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados1.numeroEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Recovered_cost.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Recovered_cost.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Border_port.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Border_port.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Department.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Department.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Destination_plant.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Destination_plant.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Reason.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Reason.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Responsible_cost.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Responsible_cost.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Type_shipment.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Type_shipment.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PFA_Volume.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFA_Volume.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
