@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Detalle de Rol";
    ViewBag.PrimerNivel = "usuarios";
    ViewBag.SegundoNivel = "roles";
    ViewBag.ControllerName = "RolesAdmin";
}




@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Roles</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @if (ViewBag.Mensaje != null)
                        {
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <strong>¡Correcto!</strong> @ViewBag.Mensaje
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                        <dl class="dl-horizontal">
                            <dt>
                                Nombre
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                        <hr />

                        <p>Usuarios con este Rol</p>

                        <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Correo
                                    </th>                                   
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Users)
                                {
                                    <tr>
                                        <td>
                                            @item.UserName
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>                                        
                                        <td>
                                            <a href="@Url.Action("Details", "UsersAdmin", new { id = item.Id})" class="btn btn-success btm-sm" title="Detalles">
                                                <i class="fa fa-info-circle"></i> Detalles
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/dataTables_js")
   
}


