@model Portal_2_0.Models.produccion_supervisores

@{
    ViewBag.Title = "Detalles de Supervisor";
    ViewBag.PrimerNivel = "bitacoras_produccion";
    ViewBag.SegundoNivel = "bitacoras_produccion_catalogos";
    ViewBag.TercerNivel = "produccion_supervisores";
    ViewBag.ControllerName = "ProduccionSupervisores";

}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Detalles del turno</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>

                    <!-- /.col -->
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.empleados.numeroEmpleado)</th>
                                        <td>@Html.DisplayFor(model => model.empleados.numeroEmpleado)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.empleados.nombre)</th>
                                        <td>@Html.DisplayFor(model => model.empleados.nombre)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.empleados.apellido1)</th>
                                        <td>@Html.DisplayFor(model => model.empleados.apellido1)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.empleados.apellido2)</th>
                                        <td>@Html.DisplayFor(model => model.empleados.apellido2)</td>
                                    </tr>                                   
                                    <tr>
                                        <th>Planta</th>
                                        <td>@Html.DisplayFor(model => model.plantas.descripcion)</td>
                                    </tr>                                   
                                    <tr>
                                        <th> @Html.DisplayNameFor(model => model.activo)</th>
                                        <td>
                                            @if (Model.activo.HasValue && Model.activo.Value)
                                            {
                                                <span>Activo</span>
                                            }
                                            else
                                            {
                                                <span>Inactivo</span>
                                            }
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="float-md-right">
                            <a href="@Url.Action("Edit", ViewBag.ControllerName, new { id = Model.id})" class="btn btn-success btm-sm" title="Editar">
                                <i class="fa fa-pencil-square-o"></i> Editar
                            </a>
                        </p>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{

    <script>
        //agranda el tamaño de la barra
        window.onload = function () {
            document.getElementById('menu_toggle').click();
            document.getElementById('menu_toggle').click();
        }
    </script>

}


<h2>Details</h2>

<div>
    <h4>produccion_supervisores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.numeroEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.numeroEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plantas.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plantas.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
