@model IEnumerable<Portal_2_0.Models.orden_trabajo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivel_urgencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_asignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_en_proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_cierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biblioteca_digital.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.biblioteca_digital1.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleados.numeroEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleados1.numeroEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleados2.numeroEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produccion_lineas.linea)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivel_urgencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_asignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_en_proceso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_cierre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biblioteca_digital.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.biblioteca_digital1.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleados.numeroEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleados1.numeroEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleados2.numeroEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.produccion_lineas.linea)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
