@model IEnumerable<Portal_2_0.Models.orden_trabajo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado Solicitudes Asignadas";
    ViewBag.PrimerNivel = "orden_trabajo";
    ViewBag.SegundoNivel = "ListadoAsignacionAsignadas";
    ViewBag.ControllerName = "OrdenesTrabajo";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;

}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="form-group">


                                        @*@if (ViewBag.Create != null && ViewBag.Create)
                                            {
                                                <a href="@Url.Action( "Create", ViewBag.ControllerName)" class="btn btn-success">
                                                    <i class="fa fa-plus-square"></i>
                                                    Crear nuevo
                                                </a>
                                            }*@

                                    </div>
                                    <table id="datatable_1" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="5%">Acciones</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.id)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.estatus)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.fecha_solicitud)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.nivel_urgencia)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.titulo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.descripcion)
                                                </th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        <a href="@Url.Action("Details", ViewBag.ControllerName, new { id = item.id })" class="btn btn-secondary " title="Detalles">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>
                                                        @if (item.estatus != Bitacoras.Util.OT_Status.CERRADO)
                                                        {
                                                            <a href="@Url.Action("Asignar", ViewBag.ControllerName, new { id = item.id })" class="btn btn-warning" title="Reasignar">
                                                                <i class="fa fa-arrow-right-arrow-left"></i>
                                                            </a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.id)
                                                    </td>
                                                    <td>
                                                        @Bitacoras.Util.OT_Status.DescripcionStatus(item.estatus)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.fecha_solicitud)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.nivel_urgencia)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.titulo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.descripcion)
                                                    </td>


                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                @if (Model.Count() > 0)
                                {
                                    <nav id="nav_paginacion" aria-label="...">
                                        @{Html.RenderPartial("_Paginacion", Model);}
                                    </nav>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>

        $(document).ready(function () {

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "info": false
            });

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });

        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(2);
        }


    </script>

}