@model IdentitySample.Models.RegisterViewModel
@{
    ViewBag.Title = "Crear nuevo usuario";
    ViewBag.PrimerNivel = "usuarios";
    ViewBag.SegundoNivel = "usuarios";
    ViewBag.ControllerName = "UsersAdmin";
}

@section estilos
{
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/flat/green.css")" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuarios</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Datos de la cuenta</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="item form-group">
                                @Html.LabelFor(model => model.Nombre, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.Apellidos, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.TextBoxFor(m => m.Apellidos, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.Password, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.Label("Roles", new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @foreach (var item in (SelectList)ViewBag.RoleId)
                                    {                                        
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="flat" name="SelectedRoles" value="@item.Value">@item.Value
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    
}



