@model IdentitySample.Models.EditUserViewModel

@{
    ViewBag.Title = "Editar usuario";
    ViewBag.PrimerNivel = "usuarios";
    ViewBag.SegundoNivel = "usuarios";
    ViewBag.ControllerName = "UsersAdmin";

    List<Portal_2_0.Models.AspNetRoles> rolesBD = (List<Portal_2_0.Models.AspNetRoles>)ViewBag.RolesBD;
}

@section estilos
{
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/flat/green.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}


@if (@ViewBag.TipoU != null)
{
    <input type="hidden" value="@ViewBag.TipoU" id="tipoU" />
}

@if (@ViewBag.numEmpleado != null)
{
    <input type="hidden" value="@ViewBag.numEmpleado" id="e_numEmpleado" />
}
@if (@ViewBag.NombreE != null)
{
    <input type="hidden" value="@ViewBag.NombreE" id="e_nombre" />
}

<input type="hidden" value="edit" id="e_edit" />

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuarios</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Edit", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo de Usuario</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" id="radioEmpleado" value="empleado" checked name="tipoUsuario" disabled> Empleado
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" id="radioOtro" value="otro" name="tipoUsuario" disabled> Otro
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" value="edit" id="tipoUsuario2" />

                            <div class="item form-group" id="divEmpleado">
                                @Html.LabelFor(model => model.IdEmpleado, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.DropDownList("IdEmpleado", (IEnumerable<SelectListItem>)ViewBag.EmpleadosList, new { @class = "form-control select2bs4", @style = "width:100%", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <input type="hidden" value="edit" id="IdEmpleado2" />

                            <div class="item form-group" id="divNombre">
                                @Html.LabelFor(model => model.Nombre, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-8 col-sm-8 offset-md-2">
                                    <table class="dataTable table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="50%" nowrap>Rol</th>
                                                <th>Descripci&oacute;n</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.RolesList)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" class="flat" name="SelectedRole" value="@item.Value" checked="@item.Selected">@item.Value
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>@(rolesBD.Where(x=>x.Name==item.Value).FirstOrDefault().descripcion)</td>

                                                </tr>
                                               
                                            }
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-6 ">
                                    

                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                    <a href="@Url.Action("ResetPassword", "Account",  new { id = Model.Id }, null)" class="btn btn-warning btm-sm" style="float:right" title="Restablecer contraseña">
                        <i class="fa fa-refresh"></i> Restablecer contrase&ntilde;a
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/Forms/usuarios.js"))
}
