@model Portal_2_0.Models.SCDM_solicitud

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>SCDM_solicitud</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.justificacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.justificacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_creacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.on_hold)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.on_hold)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.activo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.empleados.numeroEmpleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.empleados.numeroEmpleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SCDM_cat_prioridad.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SCDM_cat_prioridad.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SCDM_cat_tipo_cambio.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SCDM_cat_tipo_cambio.descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SCDM_cat_tipo_solicitud.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SCDM_cat_tipo_solicitud.descripcion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
