
@model Portal_2_0.Models.SCDM_solicitud

@{
    ViewBag.Title = "Formato de Extensión de Materiales";
    ViewBag.PrimerNivel = "scdm_mm";
    ViewBag.SegundoNivel = "mis_solicitudes_mm";

    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];
    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    List<string> listAmacenesVirtuales = (List<string>)ViewBag.listAmacenesVirtuales;

    string[] plantaArray = (string[])ViewBag.PlantaArray;

    ViewBag.nav_style = "nav-sm";
    string comentario = string.Empty;

}


@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/flat/green.css")" rel="stylesheet">
    <!--Handsontable -->
    <link href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" rel="stylesheet">
    <link href="~/Content/css/HansontableHeaderColors.css" rel="stylesheet" />

    <style>

        dl {
            border: 3px double #ccc;
            padding: 0.5em;
            background-color: #fffdf0
        }

        dt {
            font-weight: bold;
            color: green;
        }

        dd {
            font-weight: bold;
            color: #454545;
        }

        dt::after {
            content: ":";
        }

        .fondo_verde > td {
            background-color: green;
            color: #fffdf0;
            font-weight: bolder;
        }

        .fondo_amarillo > td {
            background-color: orange;
            color: #221f1f;
            font-weight: bolder;
        }

        .fondo_rojo > td {
            background-color: red;
            color: #fffdf0;
            font-weight: bolder;
        }

        input {
            text-align: right;
        }

        /**
        * Accordion example styles
        */

        /**
         * Accordion example styles
         */

        .wf-accordion-group {
            margin-top: 15px;
        }

            /* All elements succeeding an accordion group use margin-top to create white space */
            .wf-accordion-group + * {
                margin-top: 30px;
            }

        /* All accordions have borders… */
        .wf-accordion {
            border-top: 1px solid #bfbfbf;
            border-bottom: 1px solid #bfbfbf;
            border-left: 1px solid #bfbfbf;
            border-right: 1px solid #bfbfbf;
        }

            /* …unless they directly succeed another accordion, in which case we reset the top-border
          to avoid duplicate white space */
            .wf-accordion + .wf-accordion {
                border-top-width: 0;
            }

        .wf-accordion__header {
            color: #616163;
        }

        /* Please note: The trigger element is a <button> create via JS. To achieve consistent aesthetics,
           the native button styles have to be resetted here */
        .wf-accordion__trigger {
            /* baseline resets */
            background: transparent;
            border-width: 0;
            border-radius: 0;
            box-sizing: border-box;
            color: white;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            font-size: inherit;
            letter-spacing: inherit;
            line-height: inherit;
            margin: 0;
            padding: 0;
            text-align: left;
            text-decoration: none;
            /* end of baseline resets */
            /* additional styles for the demo */
            display: block;
            padding: 10px 1.25em 10px 8px;
            position: relative;
            width: 100%;
        }

            .wf-accordion__trigger::after {
                content: '';
                border: solid #fff;
                border-width: 0 2px 2px 0;
                height: 0.5em;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-60%) rotate(45deg);
                width: 0.5em;
            }

            .wf-accordion__trigger[aria-disabled=true] {
                cursor: not-allowed;
                opacity: 0.5;
            }

            .wf-accordion__trigger[aria-expanded=true]::after {
                transform: translateY(-30%) rotate(-135deg);
            }

            .wf-accordion__trigger:hover,
            .wf-accordion__trigger:focus {
                opacity: 0.8;
                /*  background: #f5f5f5;
                color: #161616;*/
            }

                .wf-accordion__trigger:hover::after,
                .wf-accordion__trigger:focus::after {
                    border-color: #fff;
                }

        .wf-accordion__panel {
            background-color: #fff;
            padding: 10px 8px;
        }

            .wf-accordion__panel[aria-hidden=true] {
                display: none;
            }

        .fondo-pendiente {
            background-color: #8b8b8b;
        }

        .fondo-completado {
            background-color: #009ff5;
        }
        /*Para color de celdas readonly*/
        .handsontable .htDimmed {
            background: #f2f1f1;
        }

        .alert {
            border-left: 4px solid #009ff5 !important;
            border-top: 1px solid #009ff5 !important;
            border-right: 1px solid #009ff5 !important;
            border-bottom: 1px solid #009ff5 !important;
            background-color: #009ff50d !important;
            margin-bottom: 2px !important;
        }

        .alert-title {
            color: #2457bf;
        }

        .alert-title {
            margin-top: 0;
            margin-bottom: 2px;
            font-size: 18px;
        }

        .alert-content {
            margin: 0;
            font-size: 14px;
            color: #616163 !important;
        }
    </style>

}


@{Html.RenderPartial("_BlockUI", Model);}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}



<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-sm-12">
                            <div class="card-box ">
                                <dl class="row">
                                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.id)</dt>
                                    <dd class="col-sm-2">@Html.DisplayFor(model => model.id)</dd>
                                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.id_tipo_solicitud)</dt>
                                    <dd class="col-sm-2">@Html.DisplayFor(model => model.SCDM_cat_tipo_solicitud.descripcion)</dd>
                                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.id_solicitante)</dt>
                                    <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.ConcatNombre)</dd>
                                    @if (Model.SCDM_rel_solicitud_materiales_solicitados.Count > 0 && (Model.id_tipo_solicitud == 1 || Model.id_tipo_solicitud == 2 || Model.id_tipo_solicitud == 5))
                                    {
                                        <dt class="col-sm-2">Tipo de Materiales</dt>
                                        <dd class="col-sm-2">@String.Join(", ", @Model.SCDM_rel_solicitud_materiales_solicitados.Select(x => x.SCDM_cat_tipo_materiales_solicitud.descripcion).Distinct().ToList())</dd>
                                    }
                                    @if (Model.id_tipo_solicitud == 3)
                                    {
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.id_tipo_cambio)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.SCDM_cat_tipo_cambio.descripcion)</dd>
                                    }
                                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.id_prioridad)</dt>
                                    <dd class="col-sm-2">@Html.DisplayFor(model => model.SCDM_cat_prioridad.descripcion)</dd>
                                    <dt class="col-sm-2">Plantas</dt>
                                    <dd class="col-sm-2">@String.Join(", ", @Model.SCDM_rel_solicitud_plantas.Select(x => x.plantas.descripcion).Distinct().ToList())</dd>
                                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.descripcion)</dt>
                                    <dd class="col-sm-2">@Html.DisplayFor(model => model.descripcion)</dd>
                                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.justificacion)</dt>
                                    <dd class="col-sm-2">@Html.DisplayFor(model => model.justificacion)</dd>
                                </dl>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <h4 style="color:#7c7c7c"><b>Elementos de la Solicitud</b></h4>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="wf-accordion-group js-accordion-group">
                                @if (Model.SCDM_rel_solicitud_secciones_activas.Any(x => x.id_seccion == (int)Bitacoras.Util.SCDMSeccionesSolicitud.EXTENSION))
                                {
                                    //3 = formato EXTENSION
                                    comentario = Model.SCDM_rel_solicitud_secciones_activas.FirstOrDefault(x => x.id_seccion == (int)Bitacoras.Util.SCDMSeccionesSolicitud.EXTENSION).comentario;

                                    <div class="wf-accordion js-accordion" data-wf-accordion-expanded="">
                                        <div class="wf-accordion__header js-accordion__header">
                                            <h3><button class="wf-accordion__trigger js-accordion__trigger fondo-completado" aria-expanded="true" aria-controls="accordion-1__panel-0" id="accordion-1__header-0">Materiales a Extender</button></h3>
                                        </div>
                                        <div class="wf-accordion__panel js-accordion__panel " aria-hidden="false" id="accordion-1__panel-0" aria-labelledby="accordion-1__header-0">
                                            <!--Ejemplo Handsontable-->
                                            <div id="example" class="hot handsontable htRowHeaders htColumnHeaders" data-originalstyle="height: 320px; overflow: hidden; width: 100%;"></div>
                                            <p>
                                                <br />
                                                <button class="btn btn-warning btn-sm float-right" onclick="insertaFila()">
                                                    <i class="fa-regular fa-square-plus"></i>
                                                    Agregar
                                                </button>
                                                <button class="btn btn-danger btn-sm float-left" onclick="borrarFila()">
                                                    <i class="fa-regular fa-trash-can"></i>
                                                    Borrar fila seleccionada
                                                </button>

                                            </p>
                                            <div class="form-group row">

                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <h4 style="color:#7c7c7c"><b>¿Extender a Almacenes Virtuales?</b></h4>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="alert alert-2-secondary">
                                <p class="alert-content">
                                    <i class="fa-solid fa-triangle-exclamation" style="color: #ff9924;"></i> En caso de necesitar que los materiales se extiendan a algún almacen virtual, favor de seleccionarlo a continuación:

                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br />
                        </div>
                        <div class="col-sm-12">
                            <div class="item form-group ">
                                <label class="col-form-label col-md-1 col-sm-1 label-align"> Almacén virtual </label>

                                <div class="item form-group col-md-6 col-sm-6 row" style="border: 1px solid; margin-left: 9px;">
                                    <div class="col-md-12 col-sm-12">
                                        &nbsp;&nbsp;
                                    </div>
                                    @foreach (var item in listAmacenesVirtuales)
                                    {
                                        <div class="col-md-4 col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="flat" id="SelectedAlmacenes" name="SelectedAlmacenes" value="@item" @(Model.SCDM_rel_solicitud_extension_almacenes_virtuales.Any(x => x.almacen_virtual == item) == true ? "checked" : null )> @item
                                                </label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- Inicio Comentario -->
                        <div class="col-sm-12">
                            <div class="wf-accordion-group js-accordion-group">
                                <div class="wf-accordion js-accordion" data-wf-accordion-expanded="">
                                    <div class="wf-accordion__header js-accordion__header">
                                        <h3><button class="wf-accordion__trigger js-accordion__trigger fondo-completado" aria-expanded="true" aria-controls="accordion-1__panel-0" id="accordion-1__header-0">Comentario Adicional</button></h3>
                                    </div>
                                    <div class="wf-accordion__panel js-accordion__panel " aria-hidden="false" id="accordion-1__panel-0" aria-labelledby="accordion-1__header-0">
                                        <!--Comentario-->
                                        <div class="form-group row">
                                            <div class="col-md-12 col-sm-12 ">
                                                <textarea id="comentario" name="comentario" class="form-control" rows="4" autocomplete="off" placeholder="Ingresa un comentario adicional..." maxlength="255">@Html.DisplayFor(model => comentario)</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Comentario -->
                        <div class="col-md-12">
                            <div class="ln_solid"></div>
                            <button type="button" id="btn-submit-salir" class="btn btn-info btn-lg float-lg-right"><i class="fa-solid fa-save"></i>  Guardar y salir</button>
                            <button type="button" id="btn-submit" class="btn btn-success btn-lg float-lg-right"><i class="fa-solid fa-save"></i>  Guardar y continuar</button>
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("EditarSolicitud", ViewBag.ControllerName, new {id=Model.id, viewUser = Request.Params["viewUser"] })" class="btn btn-round btn-info btm-sm" title="Volver" style="color:white">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/jquery-iu/jquery-ui.min.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/moment/moment.js"))
    <!-- SweetAlert2 (css incluido) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.all.min.js" integrity="sha512-/iBgV43zPirSC0tue+PT/1VHGs7En24twBmT+sVMgn9PTaOpKfbgIyL5YsGKlbAIxcwz9S8W/YEnYjpIYj2Axw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="~/Content/vendors/wfaccordion/wf.accordion.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/languages/es-MX.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.all.min.js" integrity="sha512-/iBgV43zPirSC0tue+PT/1VHGs7En24twBmT+sVMgn9PTaOpKfbgIyL5YsGKlbAIxcwz9S8W/YEnYjpIYj2Axw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        //variable para saber si ha cambiado el formulario y asi no se detenga por doble submit
        var documento_soporte_cambios = 1;
        var hot;

        var headers = ['ID', 'Material', 'Planta Referencia','Planta Destino', 'Valido'];

        var toastMixin = Swal.mixin({
            toast: true,
            icon: 'success',
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast'
            },
            animation: false,
            position: 'top-right',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        //variables para array
        var plantaArray = @Html.Raw(Json.Encode(plantaArray));


        $(document).ready(function () {

            //inicializa hansontable
            inicializaHandsontable();
            DefineValidadores();
            cargaDatosIniciales();

            $("#btn-submit").on("click", function () { EnviaFormulario(false) });
            $("#btn-submit-salir").on("click", function () { EnviaFormulario(true) });

            $.unblockUI();
        });


        function inicializaHandsontable() {
            const container = document.querySelector('#example');

            //obtiene el index de la columna con porcentaje

            hot = new Handsontable(container, {
                autoWrapRow: true,
                colHeaders: headers,
                afterGetColHeader: function (col, TH) {
                    var TR = TH.parentNode;
                    var THEAD = TR.parentNode;
                    var headerLevel = (-1) * THEAD.childNodes.length + Array.prototype.indexOf.call(THEAD.childNodes, TR);

                    function applyClass(elem, className) {
                        if (!Handsontable.dom.hasClass(elem, className)) {
                            Handsontable.dom.addClass(elem, className);
                        }
                    }

                    if (col == -1) {
                        applyClass(TH, 'HTgray');
                    } else if (headerLevel === -2) {
                        applyClass(TH, 'HTblue');
                    } else {
                        switch (col) {
                            case GetColFromName("Material"):
                                applyClass(TH, 'HTred');
                                break;
                            case GetColFromName("Planta Referencia"):
                            case GetColFromName("Planta Destino"):
                                applyClass(TH, 'HTgreen');
                                break;
                        }
                    }
                },
                 columns: [
                    { readOnly: true }, //hidden
                    { //material
                        validator: function (value, callback) {
                            let max = 7;
                            if ((value == null || value == '') || (value != null && value.length != max)) {
                                if (!toastMixin.isVisible())
                                    toastMixin.fire({ title: 'El campo Material debe ser de ' + max + ' carácteres.', icon: 'warning' });
                                callback(false);
                            } else {
                                //verifica si ya existe repetido el numero de material
                                let filas = hot.countRows();
                                let valido = true

                                for (var i = 0; i <= filas; i++) {
                                    let temp = hot.getDataAtCell(i, GetColFromName("Material"));
                                    if (temp != null && temp.toLowerCase() == value.toLowerCase() && i != this.row && value.length == 7) {
                                        valido = false;
                                    }
                                }
                                //revisa si el material de referencia es válido
                                if (!valido) {
                                    toastMixin.fire({ title: 'El número de material: ' + value + ' ya se encuentra en la solicitud.', icon: 'warning' });
                                    callback(false)
                                } else {
                                    let esValido = hot.getDataAtCell(this.row, GetColFromName("Valido"));
                                    if (esValido == "true") {
                                        callback(true);
                                    } else {
                                        if (!toastMixin.isVisible()) {
                                            toastMixin.fire({ title: 'El material de referencia no es válido. ' + max + ' carácteres.', icon: 'warning' });
                                        }
                                        callback(false);
                                    }
                                }
                            }
                        }
                    },
                     { //planta referencia
                        source: plantaArray, strict: false, readOnly:true,
                        validator: function (value, callback) {
                            //valida vacios
                            if ((value == null || value == '') ) {
                                callback(false);
                            }
                            else {
                                callback(true);
                            }
                        }
                     },
                     { //planta destino
                        source: plantaArray, strict: false, readOnly:true,
                        validator: function (value, callback) {
                            //valida vacios
                            if ((value == null || value == '') ) {
                                callback(false);
                            }
                            else {
                                callback(true);
                            }
                        }
                     },
                     { readOnly: true } //hidden

                ],
                colWidths: [0, //ID
                    130,//material
                    180,//Planta referencia
                    180,//Planta destino
                ],
                hiddenColumns: {
                    // specify columns hidden by default
                    columns: [0, GetColFromName("Valido")], //contains ID
                },
                outsideClickDeselects: false,
                licenseKey: 'non-commercial-and-evaluation',
                rowHeaders: true,
                autoColumnSize: true,
                //width: '100%',
                height: '400px',
                manualColumnResize: true,
                copyPaste: true,
                contextMenu: {
                    items: {
                        'undo': {},
                        'redo': {},
                        '---------': {},
                        'cut': {},
                        'copy': {},
                        // Opción personalizada para "Pegar" que respeta las celdas de solo lectura
                        'customPaste': {
                            name: 'Pegar',
                            callback: function () {
                                if (navigator.clipboard && navigator.clipboard.readText) {
                                    navigator.clipboard.readText().then(function (text) {
                                        // Separa el texto copiado en filas (usualmente separadas por saltos de línea)
                                        let rows = text.split(/\r?\n/);
                                        // Si la última fila está vacía, la eliminamos
                                        if (rows.length && rows[rows.length - 1] === '') {
                                            rows.pop();
                                        }

                                        // Obtiene la celda o rango actualmente seleccionado
                                        let selected = hot.getSelected(); // Ej: [[filaInicio, colInicio, filaFin, colFin]]
                                        if (selected && selected.length) {
                                            let startRow = selected[0][0];
                                            let startCol = selected[0][1];

                                            // Recorre cada fila del bloque copiado
                                            for (let i = 0; i < rows.length; i++) {
                                                // Separa cada fila en columnas (usualmente separadas por tabuladores)
                                                let values = rows[i].split("\t");
                                                for (let j = 0; j < values.length; j++) {
                                                    let targetRow = startRow + i;
                                                    let targetCol = startCol + j;
                                                    // Verifica si la celda destino no es de solo lectura
                                                    let meta = hot.getCellMeta(targetRow, targetCol);
                                                    if (!meta.readOnly) {
                                                        hot.setDataAtCell(targetRow, targetCol, values[j]);
                                                    }
                                                }
                                            }
                                        }
                                    }).catch(function (err) {
                                        alert('Error al acceder al portapapeles: ' + err);
                                    });
                                } else {
                                    alert('La API del portapapeles no está disponible en este navegador.');
                                }
                            }
                        }
                    }
                },
                language: 'es-MX',

            });

            //agrega eventos (nueva fila)
            hot.addHook('afterCreateRow', (row, amount) => {

                let fila = hot.countRows() - 1;
                //aplica los default
                try {
                    hot.setDataAtCell(fila, GetColFromName("Planta Referencia"), "@Model.plantas.ConcatPlantaSap");
                    hot.setDataAtCell(fila, GetColFromName("Planta Destino"), "@Model.plantas1.ConcatPlantaSap");
                } catch { //si es la primera fila debe esperar para aplicar los default
                    setTimeout(function () {
                        hot.setDataAtCell(fila, GetColFromName("Planta Referencia"), "@Model.plantas.ConcatPlantaSap")
                        hot.setDataAtCell(fila, GetColFromName("Planta Destino"), "@Model.plantas1.ConcatPlantaSap")
                    }, 100);
                }

            })
            hot.addHook('afterRemoveRow', (row, amount) => {
               //ValidaNumeroMaterial();
            })

            //determina si ya existe el material en la solicitud
            hot.addHook('beforeChange', (changes, source) => {

                switch (changes[0][1]) {
                    case GetColFromName("Material"): //4 decimales
                        if (changes[0][3] != '' && changes[0][3].length == 7)
                            cargaDatosMaterialReferencia(changes[0][3], changes[0][0]);
                    break;
                }


            });
        }

        function cargaDatosMaterialReferencia(material, row) {
            //llamada ajax para obtener el detalle del item  seleccionado
           let plantaSapSolicitud = '@Model.plantas.codigoSap'
           $.ajax({
               type: 'POST',
               url: '/SCDM_solicitud/ObtieneValoresMaterialReferencia',
               data: { material: material, plantaSolicitud: plantaSapSolicitud },
               success: function (data) {
                   try {
                       if (data[0].existe == "1") {
                           console.log(plantaSapSolicitud);
                           console.log(data);
                           if (data[0].planta == plantaSapSolicitud) {
                               hot.setDataAtCell(row, GetColFromName("Valido"), "true");
                           } else {
                               hot.setDataAtCell(row, GetColFromName("Valido"), "falso");
                               toastMixin.fire({ title: 'El material ' + material + " no se encuentra en la planta de referencia. R: " + plantaSapSolicitud + " M:" + data[0].planta, icon: 'warning' });

                           }

                       } else {
                           toastMixin.fire({ title: 'No se encontró el material de referencia en la planta indicada.', icon: 'warning' });
                           hot.setDataAtCell(row, GetColFromName("Valido"), "falso");
                       }
                   }
                   catch (error) {
                       Swal.fire({
                           icon: 'error',
                           title: 'Error',
                           text: 'Ocurrió un error obteniendo la información: ' + error,
                           confirmButtonText: 'Aceptar',
                       })
                       hot.setDataAtCell(row, GetColFromName("Valido"), "falso");

                   }
               },
               error: function (errorMsg) {
                   //Execute this function when the request fails
                   Swal.fire({
                       icon: 'error',
                       text: 'Ocurrió un error al obtener la información.',
                   })
               },
               async: false
           });
}

      function GuardaComentario() {

            let comentario = $('#comentario').val();
            //llamada ajax para obtener el detalle del item  seleccionado
            $.ajax({
                type: 'POST',
                url: '/SCDM_solicitud/GuardaComentario',
                data: { id_solicitud: @Model.id, id_seccion: @((int)Bitacoras.Util.SCDMSeccionesSolicitud.EXTENSION), comentario: comentario },
                success: function (data) {
                    console.log(data);
                    try {
                        console.log(data[0].resultado);
                        //hot.setDataAtCell(row, GetColFromName("Tipo Material<br>(componente)"), data[0].tipo_material );
                    }
                    catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Ocurrió un error al guardar el comentario: ' + error,
                            confirmButtonText: 'Aceptar',
                        })
                    }
                },
                async: false
            });
        }
        function EnviaFormulario(salir) {
            hot.validateCells((valid) => {
                if (valid) {
                    //guarda los almacenes virtuales
                    enviaAlmacenesVirtuales();
                    GuardaComentario();

                    // ... code for validated cells
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        url: '/SCDM_solicitud/EnviaMaterialesExtensionForm?id='+@Model.id,
                        data: JSON.stringify(hot.getData()),
                        success: function (data) {

                            try {

                                let result = data.result == null ? data[0].result : data.result;

                                toastMixin.fire({
                                    icon: data.icon == null ? data[0].icon : data.icon,
                                    title: data.message == null ? data[0].message : data.message
                                });

                                if (salir && result == "OK") {
                                    window.location.href = "../EditarSolicitud/@Model.id?viewUser=@Request.Params["viewUser"] ";
                                }
                                //asigna los ids guardados y modificados
                                for (i = 0; i < data.length; i++) {
                                    if (data[i] != null && data[i].result == "OK") {
                                        hot.setDataAtCell(data[i].fila, 0, data[i].id);
                                    }
                                    else {
                                        //console.log(data[i]);
                                    }
                                }


                            }
                            catch (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Ocurrió un error obteniendo la información: ' + error,
                                    confirmButtonText: 'Aceptar',
                                })
                            }
                        },
                        error: function (textStatus, errorThrown) {
                            //en caso de error en la llamada ajax
                            Swal.fire({
                                icon: 'error',
                                title: 'Ocurrió un error',
                                text: 'Intente nuevamente.'
                            })
                        },
                        async: true
                    });
                } else {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Mensaje',
                        text: 'Para continuar, verifica que no haya celdas marcadas en color rojo.',
                    })
                   // console.log(hot.getData());
                }
            })

        }

        //crea validadores
        function DefineValidadores() {



        }


        function enviaAlmacenesVirtuales() {

            //Obtiene los almacenes seleccionados
            var selected = [];
            var $boxes = $('input[name=SelectedAlmacenes]:checked');
            $boxes.each(function () {
                selected.push($(this).attr('value'));
            });


            console.log(selected)

                //llamada ajax para obtener el detalle del item  seleccionado
                $.ajax({
                    type: 'POST',
                    url: '/SCDM_solicitud/GuardaAlmacenesVirtuales',
                    data: { id_solicitud: @Model.id, almacenes: selected },
                    success: function (data) {
                        try {
                            console.log('Almacenes Guardados');
                         }
                        catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Ocurrió un error al enviar el almacen virtual: ' + error,
                                confirmButtonText: 'Aceptar',
                            })
                        }
                    },
                    error: function (errorMsg) {
                        //Execute this function when the request fails
                        Swal.fire({
                            icon: 'error',
                            text: 'Ocurrió un error al enviar el almacen virual.',
                        })
                    },
                    async: false
                });
        }


        function cargaDatosIniciales() {

             //llamada ajax para obtener el detalle del item  seleccionado
                $.ajax({
                    type: 'POST',
                    url: '/SCDM_solicitud/CargaMaterialesExtension',
                    data: { id_solicitud: @Model.id},
                    success: function (data) {
                        try {
                            console.log(data);
                            hot.loadData(data);
                        }
                        catch (error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Ocurrió un error obteniendo la información: ' + error,
                                confirmButtonText: 'Aceptar',
                            })
                        }
                    },
                    error: function (errorMsg) {
                        //Execute this function when the request fails
                        Swal.fire({
                            icon: 'error',
                            text: 'Ocurrió un error al obtener la información.',
                        })
                    },
                    async: false
                });
        }


           //function ValidaNumeroMaterial() {
           //    //valida nuevamente los numero material
           //    for (var i = 0; i < hot.countRows(); i++) {
           //        let valorActual = hot.getDataAtCell(i, GetColFromName("Nuevo Material"));

           //        if (valorActual == null || valorActual.includes("Rollo"))
           //            hot.setDataAtCell(i, GetColFromName("Nuevo Material"), "CreacionReferencia" + (i + 1));
           //    }
           // }

        function insertaFila() {
            var col = hot.countRows();
            hot.alter('insert_row_below', col, 1);
        }


        function GetColFromName(name) {
            var n_cols = headers.length;
            var i = 1;

            for (i = 1; i <= n_cols; i++) {
                if (headers[i] === undefined) {
                    console.log(headers[i] + ' - ' + name)
                }
                if (name.toLowerCase() == headers[i].toLowerCase()) {
                    return i;
                }
            }
            return -1; //return -1 if nothing can be found
        }

        $(window).resize(function () {
            hot.render();
        });

        function borrarFila() {

            let seleccion = hot.getSelectedLast();

            if (typeof seleccion === 'undefined') {
                toastMixin.fire({ title: 'No se detectó ninguna fila seleccionada.', icon: 'warning' });
            } else {
                let filaSeleccionada = seleccion[0];

                if (seleccion[0] == -1)
                    toastMixin.fire({ title: 'Seleccione sólo una celda.', icon: 'warning' });
                else {

                    Swal.fire({
                        title: "¿Quieres borrar la fila #" + (filaSeleccionada + 1) + " ?",
                        showDenyButton: true,
                        confirmButtonText: "Borrar",
                        denyButtonText: `Cancelar`
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            hot.alter('remove_row', filaSeleccionada);
                            hot.deselectCell()
                            toastMixin.fire({ title: 'Fila borrada.', icon: 'success' });
                        }

                    });
                }
            }

        }

    </script>

}
