@model IEnumerable<Portal_2_0.Models.SCDM_solicitud_asignaciones>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Solicitudes de MM por departamento";
    ViewBag.PrimerNivel = "scdm_mm";
    ViewBag.SegundoNivel = "solicitudes_departamento";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];

    ViewBag.nav_style = "nav-sm";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
    int idEmpleado = (int)ViewBag.EmpleadoID;
    int idEmpleadoDepartamento = (int)ViewBag.EmpleadoDepartamento;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <span style="color:black"><b>B&uacute;squeda por estatus:</b></span>
                                        </div>
                                        <div class="form-group row">
                                        </div>
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                                        {
                                            <div class="form-group row">
                                                <label class="control-label col-md-1 col-sm-1" for="id_estatus" style="text-align:right">Estatus:</label>

                                                <div class="col-md-10 col-sm-10 ">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                        @{string valorEstatus = (Request.QueryString["estatus"] != null ? Request.QueryString["estatus"] : string.Empty);
                                                            Dictionary<string, int> estatusAmountDictionary = (Dictionary<string, int>)ViewBag.estatusAmount;
                                                        }
                                                        @foreach (KeyValuePair<string, string> kvp in (Dictionary<string, string>)ViewBag.estatusMap)
                                                        {
                                                            <label class="btn @(kvp.Key == valorEstatus? "active": string.Empty)" role="button">
                                                                <input type="radio" id="CK_@kvp.Key" name="estatus" value="@kvp.Key">@kvp.Value
                                                                <span class="badge  @(kvp.Key == valorEstatus? "bg-red": "bg-secondary")" style="color:white">@estatusAmountDictionary[kvp.Key]</span>
                                                            </label>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-1 col-sm-1 label-align" for="id_solicitud">Núm Solicitud:</label>
                                                <div class="col-md-2 col-sm-2">
                                                    <input type="text" class="form-control" name="id_solicitud" id="id_solicitud" value="@Request.Params["id_solicitud"]" autocomplete="off">
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1 label-align" for="cliente">Núm Cliente:</label>
                                                <div class="col-md-1 col-sm-1">
                                                    <input type="text" class="form-control" name="cliente" id="cliente" value="@Request.Params["cliente"]" autocomplete="off">
                                                </div>

                                                <div class="col-md-1 col-sm-1">
                                                    <input type="button" value="borrar" class="btn btn-danger" id="borrarForm" />
                                                </div>
                                                <div class="col-md-1 col-sm-1">
                                                    <input type="submit" value="buscar" class="btn btn-info" />
                                                </div>
                                            </div>
                                        }
                                        <div class="col-sm-12">
                                            <div class="ln_solid"></div>
                                        </div>
                                    </div>

                                    <table id="datatable_1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.id)
                                                </th>
                                                <th>
                                                    Planta
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SCDM_solicitud.id_solicitante)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SCDM_solicitud.id_tipo_solicitud)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SCDM_solicitud.id_tipo_cambio)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.descripcion)
                                                </th>
                                                <th>
                                                    Cliente
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SCDM_solicitud.id_prioridad)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SCDM_solicitud.fecha_creacion)
                                                </th>

                                                @if (Request.QueryString["estatus"] == "Rechazadas")
                                                {
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.id_motivo_rechazo)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.descripcion)
                                                    </th>
                                                }
                                                @if (idEmpleadoDepartamento == (int)Bitacoras.Util.SCDM_departamentos_AsignacionENUM.VENTAS)
                                                {
                                                    <th>
                                                        Asignado A
                                                    </th>
                                                }
                                                <th>
                                                    Cerrado Por
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SCDM_solicitud.EstatusSolicitud)
                                                </th>
                                                <th>
                                                    Asignado A
                                                </th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr @*style="@(item.EstatusSolicitud == Portal_2_0.Models.SCMD_solicitud_estatus_enum.RECHAZADA_ASIGNADA_A_SCDM
                                                        || item.EstatusSolicitud == Portal_2_0.Models.SCMD_solicitud_estatus_enum.RECHAZADA_ASIGNADA_A_SOLICITANTE ? "color:red" : string.Empty
                                                    )"*@>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.id)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_rel_solicitud_plantas.FirstOrDefault().plantas.ConcatPlantaSap)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.empleados.ConcatNombre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_cat_tipo_solicitud.descripcion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_cat_tipo_cambio.descripcion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.descripcion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.ClienteString)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_cat_prioridad.descripcion)
                                                    </td>
                                                    <td nowrap>
                                                        @item.SCDM_solicitud.fecha_creacion.ToShortDateString()
                                                    </td>


                                                    @if (Request.QueryString["estatus"] == "Rechazadas")
                                                    {
                                                        <td style="color:red;">
                                                            @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_solicitud_asignaciones.Last(x => x.id_motivo_rechazo != null).SCDM_cat_motivo_rechazo.descripcion)
                                                        </td>
                                                        <th style="color:red;">
                                                            @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_solicitud_asignaciones.Last(x => x.id_motivo_rechazo != null).comentario_rechazo)
                                                        </th>
                                                    }
                                                    @if (idEmpleadoDepartamento == (int)Bitacoras.Util.SCDM_departamentos_AsignacionENUM.VENTAS)
                                                    {
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_solicitud_asignaciones.FirstOrDefault(x => x.id_departamento_asignacion == idEmpleadoDepartamento
                                                                    && x.descripcion == Bitacoras.Util.SCDM_solicitudes_asignaciones_tipos.ASIGNACION_DEPARTAMENTO).empleados.ConcatNombre)
                                                        </td>
                                                    }
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.SCDM_solicitud_asignaciones.FirstOrDefault(x => x.id_departamento_asignacion == idEmpleadoDepartamento
                                                                && x.descripcion == Bitacoras.Util.SCDM_solicitudes_asignaciones_tipos.ASIGNACION_DEPARTAMENTO).empleados1.ConcatNombre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SCDM_solicitud.estatusTexto)
                                                    </td>
                                                    <td style="font-weight:bold">
                                                        @Html.DisplayFor(modelItem => item.SCDM_cat_departamentos_asignacion.descripcion)
                                                    </td>
                                                    <td nowrap>
                                                        @if (item.fecha_cierre == null && item.fecha_rechazo == null && item.descripcion == Bitacoras.Util.SCDM_solicitudes_asignaciones_tipos.ASIGNACION_DEPARTAMENTO)
                                                        {
                                                            <a href="@Url.Action("EditarSolicitud", ViewBag.ControllerName, new { id = item.SCDM_solicitud.id, viewUser = (int)Bitacoras.Util.SCDM_tipo_view_edicionENUM.DEPARTAMENTO })" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="right" title="Aprobar/Rechazar">
                                                                <svg width="21px" height="21px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 64l100.266667 76.8 123.733333-17.066667 46.933333 117.333334 117.333334 46.933333-17.066667 123.733333L960 512l-76.8 100.266667 17.066667 123.733333-117.333334 46.933333-46.933333 117.333334-123.733333-17.066667L512 960l-100.266667-76.8-123.733333 17.066667-46.933333-117.333334-117.333334-46.933333 17.066667-123.733333L64 512l76.8-100.266667-17.066667-123.733333 117.333334-46.933333 46.933333-117.333334 123.733333 17.066667z" fill="#8BC34A"></path><path d="M738.133333 311.466667L448 601.6l-119.466667-119.466667-59.733333 59.733334 179.2 179.2 349.866667-349.866667z" fill="#CCFF90"></path></g></svg>
                                                            </a>
                                                        }
                                                        <a href="@Url.Action("Details", ViewBag.ControllerName, new { id = item.id})" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="right" title="Detalles">
                                                            <i class="fa-solid fa-circle-info"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                                <br />
                                @if (Model.Count() > 0)
                                {
                                    <nav id="nav_paginacion" aria-label="...">
                                        @{Html.RenderPartial("_Paginacion", Model);}
                                    </nav>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")
    <script src="~/Content/vendors/twbs-toggle-buttons/jquery.twbs-toggle-buttons.min.js"></script>
    <script>

        $(document).ready(function () {

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "info": false
            });

            var form = document.getElementById("buscarForm");

            //borra los campos antes de enviarlos
            $("#borrarForm").click(function () {
                $('#id_solicitud').val("");
                $('#cliente').val("");
                $('#CK_').prop('checked', true);
                form.submit();
            });


            //inicializa radio toogle
            $(".btn-group-toggle").twbsToggleButtons();

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //detecta el cambio en el radio de estatus
            $('input[type=radio][name=estatus]').change(function () {
                EnviaBusqueda()
            });

        });

        function EnviaBusqueda() {
            $("#buscarForm").submit();
            BloqueaPantalla();
        }

    </script>

}

