@model Portal_2_0.Models.BG_IHS_segmentos

@{
    ViewBag.Title = "Detalles de Segmento";
    ViewBag.PrimerNivel = "budget_ihs";
    ViewBag.SegundoNivel = "budget_ihs_catalogos";
    ViewBag.TercelNivel = "BG_IHS_segmentos";
    ViewBag.ControllerName = "BG_IHS_segmentos";

    ViewBag.nav_style = "nav-sm";

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

    <style>
        input {
            text-align: right;
        }
    </style>
}


<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title - @(Model.BG_IHS_versiones.ConcatVersion)</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-gear"></i> Opciones
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="@Url.Action("listadoIHS", "BG_IHS_item", new { version = Model.id_ihs_version, origen = Bitacoras.Util.BG_IHS_Origen.UNION})" class="dropdown-item" style="color: #666666">
                                        <i class="fa-regular fa-pen-to-square"></i> Editar
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_combinacion", new { version = Model.id_ihs_version})" class="dropdown-item" style="color: #666666">
                                        <i class="fa-solid fa-arrows-to-circle"></i> Combinaci&oacute;n
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_division", new { version = Model.id_ihs_version})" class="dropdown-item" style="color: #666666">
                                        <svg width="16px" height="16px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="#666666"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>split-solid</title> <g id="Layer_2" data-name="Layer 2"> <g id="invisible_box" data-name="invisible box"> <rect width="48" height="48" fill="none"></rect> </g> <g id="icons_Q2" data-name="icons Q2"> <path d="M44,17V6a2,2,0,0,0-2-2H31a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2h6.2l-14,14H6a2,2,0,0,0-2,2H4a2,2,0,0,0,2,2H23.2l14,14H31a2,2,0,0,0-2,2h0a2,2,0,0,0,2,2H42a2,2,0,0,0,2-2V31a2,2,0,0,0-2-2h0a2,2,0,0,0-2,2v6.2L26.8,24,40,10.8V17a2,2,0,0,0,2,2h0A2,2,0,0,0,44,17Z"></path> </g> </g> </g></svg> Divisi&oacute;n
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_segmentos", new { version = Model.id_ihs_version})" class="dropdown-item" style="color: #666666">
                                        Segmentos
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_regiones", new { version = Model.id_ihs_version})" class="dropdown-item" style="color: #666666">
                                        Regiones
                                    </a>
                                    <a href="@Url.Action("Index", "BG_IHS_rel_regiones", new { version = Model.id_ihs_version})" class="dropdown-item" style="color: #666666">
                                        Asignar regiones a Planta
                                    </a>
                                    <a href="@Url.Action("ListadoVersionesIHS", "BG_IHS_item")" class="dropdown-item" style="color: #0000e5">
                                        <i class="fa-regular fa-circle-right fa-rotate-180"></i> Listado Versiones IHS
                                    </a>
                                </div>
                            </div>

                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="item form-group">
                            @Html.LabelFor(model => model.id, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-4 col-sm-4 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.id)" readonly />
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.global_production_segment, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-4 col-sm-4 ">
                                @Html.EditorFor(model => model.global_production_segment, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.global_production_segment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.flat_rolled_steel_usage, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-4 col-sm-4 ">
                                @Html.EditorFor(model => model.flat_rolled_steel_usage, new { htmlAttributes = new { @class = "form-control numero-positivo", @type = "text", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.flat_rolled_steel_usage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.blanks_usage_percent, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                            <div class="col-md-4 col-sm-4 ">
                                @Html.EditorFor(model => model.blanks_usage_percent, new { htmlAttributes = new { @class = "form-control porcentaje", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.blanks_usage_percent, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align">Blank Usage</label>
                            <div class="col-md-4 col-sm-4 ">
                                <input type="text" id="calculo" class="form-control" value="@Html.DisplayFor(model => model.BlanksUsage)" readonly />
                            </div>
                        </div>


                    </div>
                </div>
                <div>
                    <br />
                    <a href="javascript:history.back()" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- input mask -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"))
    <script>
        $(document).ready(function () {
            // Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //input mask
            $('.porcentaje').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'suffix': ' %', 'allowMinus': false, 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('.numero-positivo').inputmask({ 'alias': 'integer', 'groupSeparator': ',', 'autoGroup': true, 'allowMinus': false, 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });

            $('input').on('input', function (e) {
                calculaDatos();
            });

        });

        function calculaDatos() {
            let flat_rolled_steel_usage = ConvierteAFloat($('#@Html.IdFor(model => model.flat_rolled_steel_usage)').val(), 0);
            let blanks_usage_percent = ConvierteAFloat($('#@Html.IdFor(model => model.blanks_usage_percent)').val(), 0);

            let result = flat_rolled_steel_usage * (blanks_usage_percent/100);
            $('#calculo').val(result.toFixed(2));

        }

    </script>
}
