@model Portal_2_0.Models.IT_inventory_cellular_plans

@{
    ViewBag.Title = "Deshabilitar Plan Celular";
    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "IT_Catalogos_inventory_telefonia";
    ViewBag.TercerNivel = "IT_inventory_cellular_plans";
    ViewBag.ControllerName = "IT_inventory_cellular_plans";
}


@section estilos
{

    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <div class="form-group row">
                            <span style="color:black"><b>INFORMACI&Oacute;N GENERAL</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.id, new { @class = "col-form-label col-md-11 col-sm-11 label-align" })
                            <div class="col-md-1 col-sm-1 ">
                                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="item form-group row">
                            @Html.LabelFor(model => model.razon_social, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-7 col-sm-7 ">
                                @Html.EditorFor(model => model.razon_social, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.num_telefono, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-3 col-sm-3 ">
                                @Html.EditorFor(model => model.num_telefono, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>
                        <div class="item form-group row">
                            @Html.LabelFor(model => model.nombre_compania, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2">
                                @Html.EditorFor(model => model.nombre_compania, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.nombre_plan, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-4 col-sm-4">
                                @Html.EditorFor(model => model.nombre_plan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.fecha_corte, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-3 col-sm-3 ">
                                @Html.EditorFor(model => model.fecha_corte, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="item form-group row">
                            @Html.LabelFor(model => model.cuenta_padre, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                @Html.EditorFor(model => model.cuenta_padre, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.cuenta_hija, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                @Html.EditorFor(model => model.cuenta_hija, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                            @Html.LabelFor(model => model.centro_costo, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2">
                                @Html.EditorFor(model => model.centro_costo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                            @Html.LabelFor(model => model.numero_factura, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2">
                                @Html.EditorFor(model => model.numero_factura, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>COSTOS</b></span>
                        </div>

                        <div class="item form-group row">
                            @Html.LabelFor(model => model.costo_servicios_telecomunicaciones, new { @class = "col-form-label col-md-1 col-sm-3 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                @Html.EditorFor(model => model.costo_servicios_telecomunicaciones, new { htmlAttributes = new { @class = "form-control cantidad", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.costo_servicios_y_suscripciones, new { @class = "col-form-label col-md-1 col-sm-3 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                @Html.EditorFor(model => model.costo_servicios_y_suscripciones, new { htmlAttributes = new { @class = "form-control cantidad", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.costo_servicios_y_suscripciones_terceros, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                @Html.EditorFor(model => model.costo_servicios_y_suscripciones_terceros, new { htmlAttributes = new { @class = "form-control cantidad", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.costo_equipo_celular, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                @Html.EditorFor(model => model.costo_equipo_celular, new { htmlAttributes = new { @class = "form-control cantidad", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.costo_servicios_cobrados_terceros, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                @Html.EditorFor(model => model.costo_servicios_cobrados_terceros, new { htmlAttributes = new { @class = "form-control cantidad", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.porcentaje_iva, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                @Html.EditorFor(model => model.porcentaje_iva, new { htmlAttributes = new { @class = "form-control cantidad", @readonly = "readonly" } })
                            </div>
                            @Html.LabelFor(model => model.IVA, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input id="iva" class="form-control" value="@Model.IVA" style="text-align:right" readonly />
                            </div>
                        </div>
                        <div class="item form-group row ">
                            <div class="col-md-6 col-sm-4 ">

                            </div>
                            @Html.LabelFor(model => model.CostoTotal, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                <input id="CostoTotal" class="form-control" value="@Model.CostoTotal" style="text-align:right" readonly />
                            </div>
                            @Html.LabelFor(model => model.CostoTotalConEquipo, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-3 ">
                                <input id="CostoTotalConEquipo" class="form-control" value="@Model.CostoTotalConEquipo" style="text-align:right" readonly />
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>COMENTARIOS</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.comentarios, new { @class = "control-label col-md-12 col-sm-12", @style = "text-align:left" })
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.comentarios, new { @class = "form-control", @rows = "4", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>EQUIPO CELULAR</b></span>
                        </div>
                        <div class="item form-group ">
                            @Html.LabelFor(model => model.id_it_inventory_items, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-3 col-sm-3 ">
                                <input type="text" value="@(Model.IT_inventory_items!=null? "Asignado":"Sin Asignar")" class="form-control" readonly />
                            </div>
                        </div>

                        @if (Model.id_it_inventory_items != null)
                        {
                            <div class="item form-group">
                                @Html.LabelFor(model => model.IT_inventory_items.id_inventory_type, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    <input class="form-control" value="@Model.IT_inventory_items.IT_inventory_hardware_type.descripcion" readonly="readonly" />
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.id_planta, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    <input class="form-control" value="@Model.IT_inventory_items.plantas.descripcion" readonly="readonly" />
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.purchase_date, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.purchase_date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.IT_inventory_items.brand, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.brand, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.model, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.model, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.serial_number, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.serial_number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.IT_inventory_items.processor, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.processor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.total_physical_memory_mb, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.total_physical_memory_mb, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.movil_device_storage_mb, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.movil_device_storage_mb, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="item form-group">

                                @Html.LabelFor(model => model.IT_inventory_items.operation_system, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.operation_system, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.mac_wlan, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.mac_wlan, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.IT_inventory_items.imei_1, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.EditorFor(model => model.IT_inventory_items.imei_1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="item form-group">

                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btn-info-cell" class="btn btn-primary float-right" style="@(Model.id_it_inventory_items>0?"display:block":"display:none")"> <i class="fa-solid fa-eye"></i>&nbsp; Detalles</button>
                                </div>
                            </div>


                        }
                        <div class="ln_solid"></div>
                        <div class="col-md-12">
                            <p class="float-md-left">
                                <a href="@Url.Action("Edit", ViewBag.ControllerName, new { id = Model.id})" class="btn btn-success btm-sm" title="Editar">
                                    <i class="fa-regular fa-pen-to-square"></i> Editar
                                </a>
                            </p>
                            <p class="float-md-right">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color float-md-right">
                                        <input type="submit" value="Deshabilitar" class="btn btn-danger btm-sm" />
                                    </div>
                                }
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- input mask -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"))
<script>
        $(document).ready(function () {

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //inicializa input mask
            $('#@Html.IdFor(model => model.num_telefono)').inputmask({ "mask": "(999) 999-9999", 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#@Html.IdFor(model => model.costo_servicios_telecomunicaciones)').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#@Html.IdFor(model => model.costo_servicios_y_suscripciones)').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#@Html.IdFor(model => model.costo_servicios_y_suscripciones_terceros)').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#@Html.IdFor(model => model.costo_equipo_celular)').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
             $('#@Html.IdFor(model => model.costo_servicios_cobrados_terceros)').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#@Html.IdFor(model => model.porcentaje_iva)').inputmask({ 'alias': 'decimal', 'min': 0, 'max': 100, 'digits': 2, 'digitsOptional': false, 'suffix': ' %', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });

            $('#iva').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#CostoTotal').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#CostoTotalConEquipo').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });

             //muestra el modal con la info
            $("#btn-info-cell").click(function () {
                window.open('/IT_Inventory_items/Detailssmartphone/@Model.id_it_inventory_items', 'popup', "width=" + screen.width * .80 + ",height=" + screen.height * .80 + "");
            });

        });



        window.onload = function () {
            clicMenu(1);
        }
</script>
}

