@model Portal_2_0.Models.empleados

@{
    ViewBag.Title = "Detalles del Usuario";
    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "it_asignacion_hardware";
    ViewBag.ControllerName = "IT_asignacion_hardware";

    //obtiene el listado de hardwares
    List<Portal_2_0.Models.IT_inventory_hardware_type> listaTipos = (List<Portal_2_0.Models.IT_inventory_hardware_type>)ViewBag.TiposHardware;

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

    <style>

        dl {
            border: 3px double #ccc;
            padding: 0.5em;
            background-color: #fffdf0
        }

        dt {
            font-weight: bold;
            color: green;
        }

        dd {
            font-weight: bold;
            color: #454545;
        }

        .registro-actual {
            font-weight: bold;
            color: #016701;
        }

        .registro-pasado {
            font-weight: bold;
            color: #b10303;
        }

        dt::after {
            content: ":";
        }

        .fondo-verde {
            background-color: #e1ffe1;
        }

        .fondo-amarillo {
            background-color: #fadebd;
        }

        .fondo-rojo {
            background-color: #ffc8c8;
        }

        .fondo-gris {
            background-color: #f2f2f2;
        }

        option:hover {
            color: #b10303;
            background: #ddd;
        }
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                    <dl class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.nombre)</dt>
                                        <dd class="col-sm-6">@Html.DisplayFor(model => model.ConcatNombre)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.numeroEmpleado)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.numeroEmpleado)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.C8ID)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.C8ID)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.correo)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.correo)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.planta_clave)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.plantas.descripcion)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.id_area)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.Area.descripcion)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.puesto)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.puesto1.descripcion)</dd>
                                        @foreach (var linea in Model.GetIT_Inventory_Cellular_LinesActivas())
                                        {
                                            <dt class="col-sm-2">@Html.DisplayNameFor(model => linea.numero_celular)</dt>
                                            <dd class="col-sm-2">@Html.DisplayFor(model => linea.GetPhoneNumberFormat)</dd>
                                        }
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.activo)</dt>
                                        <dd class="col-sm-2">
                                            @if (Model.activo.HasValue && Model.activo.Value)
                                            {
                                                <span>Activo</span>
                                            }
                                            else
                                            {
                                                <span>Inactivo</span>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        @if (Model.IT_asignacion_hardware.Count == 0)
                        {
                            <div class="ln_solid"></div>

                            <div class="form-group row">
                                <span style="color:black"><b>&ensp; HISTORIAL DE ASIGNACIONES DE HARDWARE</b></span>
                            </div>
                            <div class="form-group row">
                                <p>&emsp; No hay asignaciones disponibles.</p>
                            </div>
                        }

                        <div class="ln_solid"></div>
                        @{int c = 1;}

                        @foreach (var tipoHardware in listaTipos.Where(x => x.puede_asignarse))
                        {
                            c = 1;
                            if (Model.IT_asignacion_hardware.Where(x => x.IT_asignacion_hardware_rel_items.Any(y =>
                                                                            (y.IT_inventory_items != null && y.IT_inventory_items.id_inventory_type == tipoHardware.id)
                                                                            || (y.IT_inventory_items_genericos != null && y.IT_inventory_items_genericos.id_inventory_type == tipoHardware.id)
                                                                    )).Count() > 0)
                            {
                                <div class="form-group row">
                                    <span style="color:black"><b>&ensp; HISTORIAL DE ASIGNACIONES - @tipoHardware.descripcion.ToUpper()</b></span>
                                </div>

                                <div class="form-group row">

                                    @if (Model.IT_asignacion_hardware.Where(x => x.IT_asignacion_hardware_rel_items.Any(y =>
                                                                            (y.IT_inventory_items != null && y.IT_inventory_items.id_inventory_type == tipoHardware.id)
                                                                            || (y.IT_inventory_items_genericos != null && y.IT_inventory_items_genericos.id_inventory_type == tipoHardware.id)
                                                                    )).Count() > 0)
                                    {
                                        <table id="datatable_@listaTipos.Where(x => x.puede_asignarse).ToList().IndexOf(tipoHardware)" class="table datatable table-bordered nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th width="1%">#</th>

                                                    @if (tipoHardware.descripcion == Bitacoras.Util.IT_Tipos_Hardware.LAPTOP
                                                        || tipoHardware.descripcion == Bitacoras.Util.IT_Tipos_Hardware.DESKTOP)
                                                    {
                                                        <th>
                                                            Hostname
                                                        </th>
                                                    }
                                                    @if (tipoHardware.descripcion == Bitacoras.Util.IT_Tipos_Hardware.ACCESSORIES)
                                                    {
                                                        <th>
                                                            Accessory Type
                                                        </th>
                                                    }
                                                    <th>
                                                        Brand
                                                    </th>
                                                    <th>
                                                        Model
                                                    </th>
                                                    <th>
                                                        Serial Number
                                                    </th>
                                                    <th>
                                                        Fecha Asignaci&oacute;n
                                                    </th>
                                                    <th>
                                                        Fecha Desasignaci&oacute;n
                                                    </th>
                                                    <th width="1%">
                                                        Responsiva
                                                    </th>
                                                    <th width="1%">
                                                        Responsable principal
                                                    </th>
                                                    <th width="1%">
                                                        ¿Asignación Actual?
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.IT_asignacion_hardware.Where(x => x.IT_asignacion_hardware_rel_items.Any(y =>
                                                                            (y.IT_inventory_items != null && y.IT_inventory_items.id_inventory_type == tipoHardware.id)
                                                                            || (y.IT_inventory_items_genericos != null && y.IT_inventory_items_genericos.id_inventory_type == tipoHardware.id)
                                                                    ))
                                            .OrderByDescending(x => x.fecha_asignacion).OrderByDescending(x => x.id)
                                            )
                                                {
                                                    foreach (var element in item.IT_asignacion_hardware_rel_items)
                                                    {
                                                        <tr class="@(item.es_asignacion_actual ? item.id_biblioteca_digital.HasValue ? "registro-actual fondo-verde" : "registro-actual fondo-amarillo" : "registro-pasado fondo-gris" ) ">
                                                            <td>@(c++)</td>
                                                            @if (tipoHardware.descripcion == Bitacoras.Util.IT_Tipos_Hardware.LAPTOP
                                                            || tipoHardware.descripcion == Bitacoras.Util.IT_Tipos_Hardware.DESKTOP)
                                                            {
                                                                <td>
                                                                    @element.GetGenericObject().hostname
                                                                </td>
                                                            }
                                                            @if (tipoHardware.descripcion == Bitacoras.Util.IT_Tipos_Hardware.ACCESSORIES)
                                                            {
                                                                <td>
                                                                    @element.GetGenericObject().IT_inventory_tipos_accesorios.descripcion
                                                                    @*@Html.DisplayFor(model => element.IT_inventory_items.IT_inventory_tipos_accesorios.descripcion)*@
                                                                </td>
                                                            }
                                                            <td>
                                                                @element.GetGenericObject().brand
                                                            </td>
                                                            <td>
                                                                @element.GetGenericObject().model
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => element.IT_inventory_items.serial_number)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.fecha_asignacion)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.fecha_desasignacion)
                                                            </td>
                                                            <td>
                                                                @if (item.id_biblioteca_digital.HasValue)
                                                                {
                                                                    <a href="@Url.Action("DownloadFile", "Combos", new { idDocumento = item.id_biblioteca_digital, inline = true })" class="btn btn-info btn-sm" target="_blank" title="Ver">
                                                                        <i class="fa-regular fa-eye"></i>
                                                                    </a>
                                                                    <a href="@Url.Action("DownloadFile", "Combos", new { idDocumento = item.id_biblioteca_digital })" class="btn btn-success btn-sm" title="Descargar">
                                                                        <i class="fa fa-download"></i>
                                                                    </a>
                                                                    if (!element.TieneAsignacionValida() && item.es_asignacion_actual)
                                                                    {
                                                                        <a onclick="showWarningDialog()" class="btn btn-warning btn-sm" title="Información">
                                                                            <i class="fa fa-warning"></i>
                                                                        </a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <span>PENDIENTE</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.empleados1.ConcatNombre)
                                                            </td>
                                                            <td>
                                                                @if (item.es_asignacion_actual)
                                                                {
                                                                    <span>S&Iacute;</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>NO</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                        <div class="col-md-12 col-sm-12">
                                            <br />
                                        </div>
                                    }
                                    else
                                    {
                                        <p>&emsp; No hay asignaciones disponibles.</p>
                                    }



                                </div>

                                <div class="ln_solid"></div>
                            }
                        }



                        <div class="form-group row">
                            <span style="color:black"><b>&ensp; SOFTWARE -  HISTORIAL DE ASIGNACIONES</b></span>
                        </div>
                        <div class="form-group row">
                            @{ c = 1;}

                            @if (Model.IT_asignacion_software.Count > 0)
                            {
                                <table id="datatable_30" class="table datatable table-bordered nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="1%">#</th>
                                            <th>Software</th>
                                            <th>
                                                Usuario
                                            </th>
                                            <th>
                                                Asign&oacute;
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var sw in Model.IT_asignacion_software)
                                        {
                                            <tr class="fondo-verde">
                                                <td>@(c++)</td>
                                                <th>
                                                    @Html.DisplayFor(model => sw.IT_inventory_software.descripcion)
                                                </th>
                                                <td>
                                                    @Html.DisplayFor(model => sw.usuario)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => sw.empleados1.ConcatNombre)
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div class="col-md-12 col-sm-12">
                                    <br />
                                </div>
                            }
                            else
                            {
                                <p>&emsp; No hay asignaciones disponibles.</p>
                            }

                            <div class="col-md-12 col-sm-12">
                                <a href="@Url.Action( "Asignar", "IT_asignacion_software", new { id_empleado = Model.id})" class="btn btn-success">
                                    <i class="fa-solid fa-code"></i> Asignar Software
                                </a>
                            </div>
                        </div>
                        <div class="ln_solid"></div>


                        <div class="form-group row">
                            <span style="color:black"><b>&ensp; L&Iacute;NEAS DE CELULAR ASIGNADAS </b></span>
                        </div>
                        <div class="form-group row">
                            @{ c = 1;}

                            @if (Model.GetIT_Inventory_Cellular_LinesActivas().Count > 0)
                            {
                                <table id="datatable_100" class="table datatable table-bordered nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="1%">#</th>
                                            <th>N&uacute;mero Celular </th>
                                            <th>Plan</th>
                                            <th>
                                                ¿Activo?
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.GetIT_Inventory_Cellular_LinesActivas())
                                        {
                                            <tr class="fondo-verde">
                                                <td>@(c++)</td>
                                                <th>
                                                    @Html.DisplayFor(model => item.GetPhoneNumberFormat)
                                                </th>
                                                <td>
                                                    @item.Get_Cellular_Plans(item.id_inventory_celullar_plan).nombre_plan
                                                </td>
                                                <td>
                                                    @if (item.activo)
                                                    {
                                                        <span>S&Iacute;</span>
                                                    }
                                                    else
                                                    {
                                                        <span>NO</span>
                                                    }
                                                </td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div class="col-md-12 col-sm-12">
                                    <br />
                                </div>
                            }
                            else
                            {
                                <p>&emsp; No hay asignaciones disponibles.</p>
                            }

                            @*<div class="col-md-12 col-sm-12">
                <a href="@Url.Action( "Asignar", "IT_asignacion_cellular_line", new { id_empleado = Model.id})" class="btn btn-success">
                    <i class="fa-solid fa-phone-flip"></i> Asignar L&iacute;nea Celular
                </a>
            </div>*@
                        </div>
                        <div class="ln_solid"></div>

                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render("~/bundles/dataTables_js")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))


    <script>
        $(document).ready(function () {

            //// Initialize Select2 Elements (debe ir después de asignar el valor)
            //$('.select2bs4').select2({
            //    theme: 'bootstrap4'
            //})
            //inicializa los data table
            var tabla = $('.datatable').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "info": false
            });

            //Envia el formulario cada vez que se modifica el combo
            $("#id_tipo_hardware").change(function () {
                if ($('#id_tipo_hardware').val().trim() === '') {
                    //do nothing
                } else {
                    $("#buscarForm").submit();
                }
            });

        });

        function showDialogDeshabilitarLinea(texto="", id, id_empleado) {


            Swal.fire({
                title: 'Confirmación',
                text: "¿Realmente desea desvicular el número " + texto + " del usuario seleccionado?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Continuar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */

                if (result.isConfirmed) {
                    window.location.replace('/@ViewBag.ControllerName/DesvincularLinea/' + id + '?id_empleado='+id_empleado);
                } else if (result.isDismissed) {
                    /*Swal.fire('Los cambios no han sido guardados.', '', 'info')*/
                }
            });

        }

        function MuestraDetalles( id) {
            window.open('/IT_inventory_cellular_line/Details/' + id + '', 'popup', "width=" + screen.width * .80 + ",height=" + screen.height * .80 + "");
        }

        function showWarningDialog() {

            Swal.fire('El responsable principal de esta responsiva ya no se encuentra asignado a este equipo. Genere una nueva responsiva con el usuario que será el nuevo responsable principal del equipo.', '', 'info')

        }

        //agranda el tamaño de la barra
        window.onload = function () {
            document.getElementById('menu_toggle').click();
        }


    </script>

}


