@model Portal_2_0.Models.IT_asignacion_hardware

@{
    ViewBag.Title = "Detalles de Responsiva";
    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "it_asignacion_hardware";
    ViewBag.ControllerName = "IT_asignacion_hardware";
}

@section estilos
{

    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <style>

        dl {
            border: 3px double #ccc;
            padding: 0.5em;
            background-color: #fffdf0
        }

        dt {
            font-weight: bold;
            color: green;
        }

        dd {
            font-weight: bold;
            color: #454545;
        }

        dt::after {
            content: ":";
        }
    </style>
}

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group row">
                            <span style="color:black"><b>DATOS DEL EMPLEADO</b></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                    <dl class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.nombre)</dt>
                                        <dd class="col-sm-6">@Html.DisplayFor(model => model.empleados.ConcatNombre)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.numeroEmpleado)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.numeroEmpleado)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.C8ID)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.C8ID)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.correo)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.correo)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.planta_clave)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.plantas.descripcion)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.id_area)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.Area.descripcion)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.puesto)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.puesto1.descripcion)</dd>
                                        @foreach (var linea in Model.empleados.GetIT_Inventory_Cellular_LinesActivas())
                                        {
                                            <dt class="col-sm-2">@Html.DisplayNameFor(model => linea.numero_celular)</dt>
                                            <dd class="col-sm-2">@Html.DisplayFor(model => linea.GetPhoneNumberFormat)</dd>
                                        }
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.activo)</dt>
                                        <dd class="col-sm-2">
                                            @if (Model.empleados.activo.HasValue && Model.empleados.activo.Value)
                                            {
                                                <span>Activo</span>
                                            }
                                            else
                                            {
                                                <span>Inactivo</span>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>



                        <input type="hidden" name="cambio_documento_soporte" id="cambio_documento" value="0" />

                        <div class="form-group row">
                            <span style="color:black"><b>INFORMACI&Oacute;N GENERAL</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.fecha_asignacion, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.fecha_asignacion)" readonly />
                            </div>
                            @Html.LabelFor(model => model.es_asignacion_actual, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@(Model.es_asignacion_actual? "Sí": "No")" readonly />
                            </div>

                            @Html.LabelFor(model => model.fecha_desasignacion, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.fecha_desasignacion)" readonly />
                            </div>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.id_sistemas, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.empleados2.ConcatNombre)" readonly />
                            </div>

                        </div>


                        @if (Model.id_cellular_line.HasValue)
                        {
                            <div class="item form-group">
                                @Html.LabelFor(model => model.id_cellular_line, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IT_inventory_cellular_line.ConcatDetalles)" readonly />
                                </div>
                            </div>
                        }

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>LISTADO HARDWARE</b></span>
                        </div>

                        @foreach (var item in Model.IT_asignacion_hardware_rel_items)
                        {
                            var generic = item.GetGenericObject();                           

                            <div class="item form-group">
                                <label class="col-form-label col-md-1 col-sm-1 label-align">Origen</label>
                                <div class="col-md-1 col-sm-1 ">
                                    <input type="text" class="form-control" value="@(item.EsInventario()?"Inventario":"Genérico")" readonly />
                                </div>
                                <label class="col-form-label col-md-1 col-sm-1 label-align">Tipo</label>
                                <div class="col-md-2 col-sm-2 ">
                                    <input type="text" class="form-control" value="@generic.IT_inventory_hardware_type.descripcion" readonly />
                                </div>
                                <label class="col-form-label col-md-1 col-sm-1 label-align">Hardware</label>
                                <div class="col-md-4 col-sm-4 ">
                                    <input type="text" class="form-control" value="@generic.ConcatInfoGeneral" readonly />
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <button type="button" onclick="MuestraDetalles(@Convert.ToInt32(item.EsInventario()), @generic.id)" class="btn btn-primary btn-sm" style="@(generic.id>0?"display:block":"display:none")" title="Ver Detalles"> <i class="fa-solid fa-eye"></i></button>
                                </div>
                            </div>
                        }
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>RESPONSIVA</b></span>
                        </div>


                        @if (Model != null && Model.id_biblioteca_digital > 0)
                        {
                            <div class="form-group row" id="div_document_support_info">
                                @Html.LabelFor(model => model.PostedFileResponsiva, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    <input type="text" class="form-control col-md-12" style="text-align: right;" value="@Model.biblioteca_digital.Nombre" readonly>
                                </div>
                                <div class="col-md-4">
                                    <a href="@Url.Action("DownloadFile", "Combos", new { idDocumento = Model.id_biblioteca_digital })" class="btn btn-success btm-sm" title="Descargar">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <a href="@Url.Action("DownloadFile", "Combos", new { idDocumento = Model.id_biblioteca_digital, inline = true })" class="btn btn-info btm-sm" target="_blank" title="Ver">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>
                                </div>

                            </div>
                        }
                        else
                        {
                            <div class="item form-group">
                                @Html.LabelFor(model => model.PostedFileResponsiva, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" class="form-control" value="NO DISPONIBLE" readonly />
                                </div>
                            </div>
                        }



                        <div class="ln_solid"></div>



                    </div>
                </div>
                <div>
                    <br />
                    <div class="col-md-12 col-sm-12">
                        <a href="@Url.Action( "ListadoAsignaciones", ViewBag.ControllerName, new { id = Model.id_empleado })" class="btn btn-round btn-info btm-sm" title="Volver">
                            <i class="fa fa-arrow-circle-left"></i> Volver al listado
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {

           
        });

        function MuestraDetalles(inventario, id) {
            if (inventario) {
                window.open('/IT_Inventory_items/Details/' + id + '', 'popup', "width=" + screen.width * .80 + ",height=" + screen.height * .80 + "");
            } else { //es generico
                window.open('/IT_Inventory_items_genericos/Details/' + id + '', 'popup', "width=" + screen.width * .80 + ",height=" + screen.height * .80 + "");
            }
        }
        //variable para saber si ha cambiado el formulario y asi no se detenga por doble submit

        window.onload = function () {
            clicMenu(1);
        }
    </script>
}

