@model IEnumerable<Portal_2_0.Models.empleados>

@{
    ViewBag.Title = "Listado de Usuarios";
    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "it_asignacion_hardware";
    ViewBag.ControllerName = "IT_asignacion_hardware";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;

   
}


@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                                        {
                                            <div class="form-group row">
                                                <span style="color:black"><b>EMPLEADO</b></span>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="planta_clave" style="text-align:right">Planta:</label>
                                                <div class="col-md-2 col-sm-2 ">
                                                    @Html.DropDownList("planta_clave", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="id_area" style="text-align:right">&Aacute;rea:</label>
                                                <div class="col-md-2 col-sm-2 ">
                                                    @Html.DropDownList("id_area", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="id_empleado" style="text-align:right">Empleado:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group row">
                                                <span style="color:black"><b>HARDWARE</b></span>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="id_it_inventory_item" style="text-align:right">Equipo:</label>
                                                <div class="col-md-7 col-sm-7">
                                                    @Html.DropDownList("id_it_inventory_item", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group row">
                                                <span style="color:black"><b>SOFTWARE</b></span>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="id_sofware" style="text-align:right">Software:</label>
                                                <div class="col-md-3 col-sm-3">
                                                    @Html.DropDownList("id_software", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="id_asignacion_usuario" style="text-align:right">Usuario:</label>
                                                <div class="col-md-5 col-sm-5">
                                                    @Html.DropDownList("id_asignacion_usuario", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                            </div>
                                            <div class="ln_solid"></div>
                                            <div class="form-group row">
                                                <span style="color:black"><b>L&Iacute;nea Celular </b></span>
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="id_cellular_line" style="text-align:right">L&iacute;nea:</label>
                                                <div class="col-md-4 col-sm-4 ">
                                                    @Html.DropDownList("id_cellular_line", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-8 col-sm-8">

                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <a href="@Url.Action( "Index", ViewBag.ControllerName)" class="btn btn-warning float-right">
                                                        <i class="fa fa-refresh"></i> Restablecer
                                                    </a>
                                                </div>
                                                <div class="col-md-2 col-sm-2">
                                                    <button type="submit" class="btn btn-info float-right"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
                                                </div>
                                            </div>
                                        }
                                        <hr />

                                    </div>
                                    <table id="datatable_1" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="1%">Acciones</th>
                                                <th width="1%">
                                                    @Html.DisplayNameFor(model => model.numeroEmpleado)
                                                </th>
                                                <th>
                                                    Planta
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.nombre)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.C8ID)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.correo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.activo)
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr style="@(item.activo == false ? "color:red" :"" )">
                                                    <td>
                                                        <a href="@Url.Action("DetailsEmpleado", null, new { id = item.id})" class="btn btn-info btn-sm" rel="tooltip" data-title="Detalles del empleado">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>

                                                        <a href="@Url.Action("ListadoAsignaciones", null, new { id = item.id })" class="btn btn-primary btn-sm" rel="tooltip" data-title="Crear Asignación">
                                                            <i class="fa-solid fa-user-tag"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.numeroEmpleado)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.plantas.descripcion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ConcatNombre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.C8ID)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.correo)
                                                    </td>

                                                    @*<th>
                                                            @Html.DisplayFor(modelItem => item.Area.descripcion)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayFor(modelItem => item.puesto1.descripcion)
                                                        </th>*@
                                                    <td>
                                                        @if (item.activo.HasValue && item.activo.Value)
                                                        {
                                                            <span>Activo</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Inactivo</span>
                                                        }
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                @if (Model.Count() > 0)
                                {
                                    <nav id="nav_paginacion" aria-label="...">
                                        @{Html.RenderPartial("_Paginacion", Model);}
                                    </nav>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>
        $(document).ready(function () {

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "info": false
            });

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            $("#planta_clave").change(function () {

                $.ajax({
                    type: 'POST',
                    url: '/Puestos/obtieneTodasAreas',
                    data: { clavePlanta: $(this).val() },
                    success: function (data) {
                        populateDropdown($("#id_area"), data);
                    },
                    async: true
                });

            });

            //Envia el formulario cada vez que se modifica el combo
            $(".select2bs4").change(function () {
                $("#buscarForm").submit();
            });

        });

        //completa el select con los datos recibidos
        function populateDropdown(select, data) {
            select.html('');
            $.each(data, function (id, option) {
                select.append($('<option></option>').val(option.value).html(option.name));
            });
        }

        //agranda el tamaño de la barra
        window.onload = function () {
            document.getElementById('menu_toggle').click();
        }
    </script>

}

