@model IEnumerable<Portal_2_0.Models.IT_notificaciones_actividad>
@{
    ViewBag.Title = "Listado de Notificaciones";
    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "it_notificaciones";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <style>    

        #calendar {
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}



<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="form-group">
                                        <a href="@Url.Action( "Create", ViewBag.ControllerName)" class="btn btn-success">
                                            <i class="fa fa-plus-square"></i>
                                            Crear nuevo
                                        </a>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div id="calendar"></div>

                                    @*<table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.descripcion)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.periodo)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.tipo_periodo)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.es_recurrente)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.mensaje)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.asunto)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.descripcion)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.periodo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.tipo_periodo)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.es_recurrente)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.mensaje)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.asunto)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))

    @Scripts.Render("~/bundles/dataTables_js")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.5/index.global.js" integrity="sha512-eL+VbrJmYJxsJaQlxkEIfv6sBNGIp7jgAfTGqZLeJnOE1oY+404ukyDPYKxIb/p4d3ZoSI3qmYK9oyF7Is30lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialDate: '2023-01-12',
                editable: true,
                selectable: true,
                businessHours: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2023-01-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2023-01-07',
                        end: '2023-01-10'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2023-01-09T16:00:00'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2023-01-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2023-01-11',
                        end: '2023-01-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2023-01-12T10:30:00',
                        end: '2023-01-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2023-01-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2023-01-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2023-01-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2023-01-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2023-01-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2023-01-28'
                    }
                ]
            });

            calendar.render();
        });

    </script>


    <script>

        window.onload = function () {
            clicMenu(1);
        }
    </script>

}
