@model IEnumerable<Portal_2_0.Models.IT_notificaciones_actividad>
@{
    ViewBag.Title = "Calendario de eventos";
    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "it_notificaciones";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")


    <style>
        .fc-button-primary {
            background-color: #009ff5 !important;
        }

        #calendar {
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                  
                                    <div id="calendar"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/dataTables_js")
    <!-- SweetAlert2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.3/sweetalert2.all.min.js" integrity="sha512-/iBgV43zPirSC0tue+PT/1VHGs7En24twBmT+sVMgn9PTaOpKfbgIyL5YsGKlbAIxcwz9S8W/YEnYjpIYj2Axw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlertColored.js"))
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script src="~/Content/vendors/fullcalendar_6.1.5/es.global.min.js"></script>
    <script>
        //variables globales

        var calendar;
        document.addEventListener('DOMContentLoaded', function () {


            IniciaCalendar();
            clicMenu(1);
        });

        function IniciaCalendar() {
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap',
                initialView: 'dayGridMonth',
                locale: 'es',
                firstDay: 0,
                businessHours: true,
                dayMaxEvents: true, // allow "more" link when too many events
                headerToolbar: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'addEventButton dayGridMonth,dayGridWeek,dayGridDay'
                },
                customButtons: {
                    addEventButton: {
                        text: 'Agregar Evento',
                        click: function () {
                            window.location.replace('/@ViewBag.ControllerName/Create/');
                           // agregaEventoSweetAlert();
                        }
                    }
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: '2023-04-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2023-04-07',
                        end: '2023-04-10'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2023-04-09T16:00:00'
                    },
                    {
                        groupId: 999,
                        title: 'Repeating Event',
                        start: '2023-04-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2023-04-11',
                        end: '2023-04-13',
                        color: 'yellow',   // an option!
                        textColor: 'black' // an option!
                    },
                    {
                        title: 'Meeting',
                        start: '2023-04-12T10:30:00',
                        end: '2023-04-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2023-04-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2023-04-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2023-04-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2023-04-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2023-04-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2023-04-28'
                    }
                ]
            });

            calendar.render();
        }

        function agregaEventoSweetAlert() {

            Swal.fire({
                title: 'Login Form',
                html: `
                        <div>
                            <label for="fecha" class="col-md-3 col-sm-3">Fecha:</label>
                            <div class="col-md-9 col-sm-9">
                                <input type="date" id="fecha" class="swal2-input" placeholder="">
                            </div>
                        </div>
                        <div>
                            <label for="titulo" class="col-md-3 col-sm-3">Titulo:</label>
                            <div class="col-md-9 col-sm-9">
                                 <input type="text" id="titulo" class="swal2-input" placeholder="Título">
                            </div>
                        </div>
                          <div >
                            <label for="titulo" class="col-md-3 col-sm-3">Descripcion:</label>
                            <div class="col-md-9 col-sm-9">
                                 <input type="text" id="descripcion" class="swal2-input" placeholder="Descripcion">
                            </div>
                        </div>

                    `,
                customClass: 'swal-wide',
                confirmButtonText: 'Agregar',
                focusConfirm: false,
                preConfirm: () => {
                    const fecha = Swal.getPopup().querySelector('#fecha').value
                    const titulo = Swal.getPopup().querySelector('#titulo').value
                    const descripcion = Swal.getPopup().querySelector('#descripcion').value
                    if (!fecha || !titulo || !descripcion) {
                        Swal.showValidationMessage(`Complete los datos`)
                    }
                    return { fecha: fecha, titulo: titulo, descripcion: descripcion }
                }
            }).then((result) => {
                calendar.addEvent({
                    title: result.value.titulo,
                    start: result.value.fecha,
                    allDay: true
                });
          //      Swal.fire(`
          //  Fecha: ${result.value.fecha}
          //  Titulo: ${result.value.titulo}
          //  Descripcion: ${result.value.descripcion}
          //`.trim())
            })


        }

        function actualizarSizeCalendario() {
            calendar.updateSize();
        }

        $("#menu_toggle").click(function () {
            setTimeout(actualizarSizeCalendario), 1000;
        });

    </script>


}
