@model IEnumerable<Portal_2_0.Models.IT_inventory_cellular_line>

@{
    ViewBag.Title = "Líneas de Celular";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.PrimerNivel = "sistemas";
    ViewBag.SegundoNivel = "IT_Catalogos_inventory_telefonia";
    ViewBag.TercelNivel = "IT_inventory_cellular_line";
    ViewBag.ControllerName = "IT_inventory_cellular_line";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;

    string id_planta = string.Empty, activo = String.Empty, id_linea = String.Empty, id_plan = String.Empty, id_empleado = String.Empty;

    if (paginacionFiltros.ValoresQueryString["id_planta"] != null)
    {
        id_planta = paginacionFiltros.ValoresQueryString["id_planta"].ToString();
    }
    if (paginacionFiltros.ValoresQueryString["activo"] != null)
    {
        activo = paginacionFiltros.ValoresQueryString["activo"].ToString();
    }
    if (paginacionFiltros.ValoresQueryString["id_linea"] != null)
    {
        id_linea = paginacionFiltros.ValoresQueryString["id_linea"].ToString();
    }
    if (paginacionFiltros.ValoresQueryString["id_plan"] != null)
    {
        id_plan = paginacionFiltros.ValoresQueryString["id_plan"].ToString();
    }
    if (paginacionFiltros.ValoresQueryString["id_empleado"] != null)
    {
        id_empleado = paginacionFiltros.ValoresQueryString["id_empleado"].ToString();
    }
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                                        {
                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="activo" style="text-align:right">Estado:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("activo", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="id_planta" style="text-align:right">Planta:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("id_planta", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>

                                                <label class="control-label col-md-1 col-sm-1" for="id_plan" style="text-align:right">Plan:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("id_plan", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>

                                            </div>
                                            <div class="form-group row ">

                                                <label class="control-label col-md-1 col-sm-1" for="id_linea" style="text-align:right">L&iacute;nea:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("id_linea", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="id_empleado" style="text-align:right">Asignaci&oacute;n: </label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <div class="col-md-1 col-sm-1">
                                                    <a href="@Url.Action( "Index", ViewBag.ControllerName)" class="btn btn-warning">
                                                        <i class="fa fa-refresh"></i>
                                                    </a>
                                                </div>
                                                <div class="col-md-1 col-sm-1">
                                                    <input type="submit" value="Filtrar" class="btn btn-info float-right" />
                                                </div>
                                            </div>

                                        }
                                        <hr />


                                    </div>
                                    <div class="form-group">
                                        <a href="@Url.Action( "Create", ViewBag.ControllerName)" class="btn btn-success">
                                            <i class="fa fa-plus-square"></i>
                                            Crear nuevo
                                        </a>
                                    </div>
                                    <table id="datatable_1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.id_planta)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.numero_celular)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.id_inventory_celullar_plan)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.fecha_corte)
                                                </th>
                                                <th>
                                                    Asignaci&oacute;n
                                                </th>
                                                <th>
                                                    Departamento
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.activo)
                                                </th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.plantas.descripcion)
                                                    </td>
                                                    <td>
                                                        @item.GetPhoneNumberFormat
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IT_inventory_cellular_plans.nombre_plan)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.fecha_corte)
                                                    </td>
                                                    @{ var asignacion = item.IT_asignacion_hardware.Where(x => x.es_asignacion_linea_actual && x.id_cellular_line == item.id && x.id_responsable_principal == x.id_empleado).FirstOrDefault();}

                                                    <td nowrap>
                                                        @foreach (var a in item.IT_asignacion_hardware.Where(x => x.es_asignacion_linea_actual && x.id_cellular_line == item.id && x.id_responsable_principal == x.id_empleado))
                                                        {
                                                            @Html.DisplayFor(model => a.empleados.ConcatNombre)<br />
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (asignacion != null)
                                                        {
                                                            @Html.DisplayFor(model => asignacion.empleados.Area.descripcion)
                                                        }
                                                        else
                                                        {
                                                            @("---")
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.activo)
                                                        {
                                                            <span>Activo</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Inactivo</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("Edit", ViewBag.ControllerName, new { id = item.id})" class="btn btn-success " title="Editar">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                        </a>
                                                        <a href="@Url.Action("Details", ViewBag.ControllerName, new { id = item.id})" class="btn btn-info " title="Detalles">
                                                            <i class="fa fa-info-circle"></i>
                                                        </a>

                                                        @if (!item.activo)
                                                        {
                                                            <a href="@Url.Action("Enable", ViewBag.ControllerName, new { id = item.id })" class="btn btn-warning" s title="Habilitar">
                                                                <i class="fa fa-check"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action("Disable", ViewBag.ControllerName, new { id = item.id })" class="btn btn-danger" title="Deshabilitar">
                                                                <i class="fa fa-remove"></i>
                                                            </a>
                                                        }

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                @if (Model.Count() > 0)
                                {
                                    <nav id="nav_paginacion" aria-label="...">
                                        @{Html.RenderPartial("_Paginacion", Model);}
                                    </nav>
                                    <div class="form-group">

                                        <a href="@Url.Action("Exportar", ViewBag.ControllerName, new
                                                {
                                                    activo = activo,
                                                    id_planta = id_planta,
                                                    id_linea = id_linea,
                                                    id_plan = id_plan,
                                                    id_empleado = id_empleado,

                                                })" class="btn btn-success btm-sm" target="_blank" title="Reporte">
                                            <i class="fa-regular fa-file-excel"></i> Export Excel
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>

        $(document).ready(function () {

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "info": false
            });

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Envia el formulario cada vez que se modifica el combo
            $(".select2bs4").change(function () {
                $("#buscarForm").submit();
            });


        });

        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(2);
        }


    </script>

}
