@model Portal_2_0.Models.RU_registros

@{

    ViewBag.Title = "Confirmar Recepción de Unidad en Embarques";
    ViewBag.PrimerNivel = "registro_unidades";
    ViewBag.SegundoNivel = "registros";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/square/blue.css")" rel="stylesheet">
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <style>
        /* Oculta el menu del sistema */
        footer {
            display: none !important;
        }

        .nav_menu {
            display: none !important;
        }

        .left_col {
            display: none !important;
        }

        .nav-md .container.body .right_col {
            margin-left: 0px !important;
        }
    </style>

}

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa-solid fa-warehouse"></i> @ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()

                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationSummary("", new { @class = "text-white" })
                                </div>
                            }
                            @Html.HiddenFor(model => model.id)

                            <div class="form-group row">
                                <span style="color:black"><b> 1.- Recepci&oacute;n Vigilancia</b></span>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.id, new { @class = "col-form-label col-md-1 col-sm-1 " })
                                <div class="col-md-2 col-sm-2">
                                    @Html.EditorFor(model => model.folio, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                                </div>
                                <label class="col-form-label col-md-6 col-sm-6 label-align">Fecha y Hora de Ingreso</label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text" class="form-control" value="@Model.fecha_ingreso_vigilancia" readonly>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">

                                @Html.LabelFor(model => model.nombre_operador, new { @class = "col-form-label col-md-2 col-sm-2 " })
                                <div class="col-md-4 col-sm-4">
                                    @Html.EditorFor(model => model.nombre_operador, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.linea_transporte, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                                <div class="col-md-4 col-sm-4">
                                    @Html.EditorFor(model => model.linea_transporte, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.placas_tractor, new { @class = "col-form-label col-md-2 col-sm-2" })
                                <div class="col-md-2 col-sm-2">
                                    @Html.EditorFor(model => model.placas_tractor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.placa_plataforma_uno, new { @class = "col-form-label col-md-2 col-sm-2" })
                                <div class="col-md-2 col-sm-2">
                                    @Html.EditorFor(model => model.placa_plataforma_uno, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.LabelFor(model => model.placa_plataforma_dos, new { @class = "col-form-label col-md-2 col-sm-2" })
                                <div class="col-md-2 col-sm-2">
                                    @Html.EditorFor(model => model.placa_plataforma_dos, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.carga, new { @class = "col-form-label col-md-1 col-sm-1" })
                                <div class="col-md-1 col-sm-1">
                                    @Html.EditorFor(model => model.carga, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                                @Html.LabelFor(model => model.descarga, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-1 col-sm-1">
                                    @Html.EditorFor(model => model.descarga, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.id_vigilancia_ingreso, new { @class = "col-form-label col-md-2 col-sm-2" })
                                <div class="col-md-4 col-sm-4">
                                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.RU_usuarios_vigilancia.nombre)" readonly />
                                </div>
                                @Html.LabelFor(model => model.id_acceso, new { @class = "col-form-label col-md-2 col-sm-2" })
                                <div class="col-md-4 col-sm-4">
                                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.RU_accesos.descripcion)" readonly />
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.comentarios_vigilancia_ingreso, new { @class = "control-label col-md-12 col-sm-12", @style = "text-align:left" })
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body" style="background-color:#f2f2f2">
                                            @Model.comentarios_vigilancia_ingreso
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b> 2.- Registro en Oficina</b></span>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-9 col-sm-9 label-align">Fecha y Hora de Recepci&oacute;n</label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text" class="form-control" style="font-weight:bold;color:blue;" value="@DateTime.Now" readonly>
                                </div>
                            </div>
                            <br />

                            <div class="form-group row">
                                @Html.LabelFor(model => model.id_embarques_recepcion, new { @class = "col-form-label col-md-2 col-sm-2" })
                                <div class="col-md-6 col-sm-6">
                                    @Html.DropDownList("id_embarques_recepcion", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.id_embarques_recepcion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.comentarios_embarques_recepcion, new { @class = "control-label col-md-12 col-sm-12", @style = "text-align:left" })
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.comentarios_embarques_recepcion, new { @class = "form-control", @rows = "4", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.comentarios_embarques_recepcion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12">
                                    <button type="button" id="btn-ok" class="btn btn-success btn-lg float-right"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/jqueryval")
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    <script src="~/Scripts/Forms/ModalConfirm.js"></script>
    <script>

        $("html,body").scrollTop(2000);

        $(document).ready(function () {
            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });

        });


        window.onload = function () {
            clicMenu(0);
        }
    </script>
}