@model Portal_2_0.Models.upgrade_revision

@{
    ViewBag.Title = "Checklist";
    int contadorItems = 0;
    int contadorTransacciones = 100;
    ViewBag.ControllerName = "upgrade_revision";
    List<String> opciones_estatus = new List<string>() { "PENDIENTE", "OK", "NO OK", "N/A" };

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <style>

        dl {
            border: 3px double #ccc;
            padding: 0.5em;
            background-color: #fffdf0
        }

        dt {
            font-weight: bold;
            color: green;
        }

        dd {
            font-weight: bold;
            color: #454545;
        }

        dt::after {
            content: ":";
        }

        .fondo_verde > td {
            background-color: green;
            color: #fffdf0;
            font-weight: bolder;
        }

        .fondo_amarillo > td {
            background-color: orange;
            color: #221f1f;
            font-weight: bolder;
        }

        .fondo_rojo > td {
            background-color: red;
            color: #fffdf0;
            font-weight: bolder;
        }

        input {
            text-align: right;
        }
    </style>
}
@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}


<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                
                                    <dl class="row">
                                       
                                        <dt class="col-sm-2">Planta</dt>
                                        <dd class="col-sm-4">@Html.DisplayFor(model => model.upgrade_departamentos.upgrade_plantas.descripcion)</dd>
                                        <dt class="col-sm-2">Departamento</dt>
                                        <dd class="col-sm-4">@Html.DisplayFor(model => model.upgrade_departamentos.descripcion)</dd>
                                        <dt class="col-sm-2">Usuario</dt>
                                        <dd class="col-sm-4">@Html.DisplayFor(model => model.upgrade_usuarios.empleados.ConcatNombre)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.upgrade_usuarios.key_user)</dt>
                                        <dd class="col-sm-4">@Html.DisplayFor(model => model.upgrade_usuarios.key_user)</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        @using (Html.BeginForm("Edit", "upgrade_revision", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                           

                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationSummary("", "Advertencia:")
                                </div>
                            }


                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.id_upgrade_departamento)
                            @Html.HiddenFor(model => model.id_upgrade_usuario)

                            <div class="form-group row">
                                <span style="color:black"><b>Actividades</b></span>
                            </div>

                            <div class="table-responsive">
                                <table id="datatable_1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr style=" background-color: #0094ff; color: azure;">
                                            <th width="1%">
                                                #
                                            </th>
                                            <th width="12%">
                                                Actividad
                                            </th>
                                            <th width="12%">
                                                Estatus
                                            </th>
                                            <th width="35%">
                                                Nota
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="body_conceptos">

                                        @foreach (Portal_2_0.Models.upgrade_values_checklist item in Model.upgrade_values_checklist)
                                        {


                                            <tr id="div_concepto_@contadorItems">

                                                <td>
                                                    @(contadorItems+1)
                                                </td>
                                                <td width="40%">
                                                    <input type="hidden" id="upgrade_values_checklist[@contadorItems].id_revision" name="upgrade_values_checklist[@contadorItems].id_revision" value="@Model.id" />
                                                    <input type="hidden" id="upgrade_values_checklist[@contadorItems].id_checklist_item" name="upgrade_values_checklist[@contadorItems].id_checklist_item" value="@item.id_checklist_item" />
                                                    <input type="hidden" id="upgrade_values_checklist[@contadorItems].id" name="upgrade_values_checklist[@contadorItems].id" value="@item.id" />
                                                    <input type="hidden" id="upgrade_values_checklist[@contadorItems].activo" name="upgrade_values_checklist[@contadorItems].activo" value="true" />
                                                    @item.upgrade_check_item.descripcion
                                                </td>
                                                <td>

                                                    <select name="upgrade_values_checklist[@contadorItems].estatus" id="upgrade_values_checklist[@contadorItems].estatus" class="form-control select2bs4" style="width:100%" required>
                                                        @*<option value=''>-- Seleccione un valor --</option>*@
                                                        @foreach (string opcion in opciones_estatus)
                                                        {
                                                            <option value="@opcion" @(item.estatus == opcion ? "selected" : null )>@opcion</option>

                                                        }
                                                    </select>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_checklist[@contadorItems].estatus" data-valmsg-replace="true"></span>
                                                </td>
                                                <td>
                                                    <textarea style="font-size: 12px;" type="text" name="upgrade_values_checklist[@contadorItems].nota" id="upgrade_values_checklist[@contadorItems].nota" class="form-control col-md-12" autocomplete="off" maxlength="250">@item.nota</textarea>
                                                    <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_checklist[@contadorItems].nota" data-valmsg-replace="true"></span>
                                                </td>

                                            </tr>



                                            contadorItems++;
                                        }


                                    </tbody>


                                </table>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>Transacciones</b></span>
                            </div>

                            <div id="div_transacciones">
                                @foreach (Portal_2_0.Models.upgrade_values_transaccion item in Model.upgrade_values_transaccion)
                                {
                                    <div class="form-group row" id="div_transacciones_@contadorTransacciones">
                                        @*<div class="col-md-1">
                                                <input style="text-align:center; background-color:antiquewhite" type="text" class="form-control col-md-12 input-contador-transacciones" value="" readonly="readonly">
                                            </div>*@

                                        <input type="hidden" id="upgrade_values_transaccion[@contadorTransacciones].id_revision" name="upgrade_values_transaccion[@contadorTransacciones].id_revision" value="@Model.id" />
                                        <input type="hidden" id="upgrade_values_transaccion[@contadorTransacciones].id" name="upgrade_values_transaccion[@contadorTransacciones].id" value="@item.id" />
                                        <input type="hidden" id="upgrade_values_transaccion[@contadorTransacciones].activo" name="upgrade_values_transaccion[@contadorTransacciones].activo" value="true" />

                                        <label class="control-label col-md-1" for="upgrade_values_transaccion[@contadorTransacciones].transaccion">
                                            <span class="float-right">Transacción</span>
                                        </label>
                                        <div class="col-md-2">
                                            <input style="text-align:right" type="text" maxlength="30" name="upgrade_values_transaccion[@contadorTransacciones].transaccion" id="upgrade_values_transaccion[@contadorTransacciones].transaccion" class="form-control col-md-12" value="@item.transaccion" autocomplete="off" required>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_transaccion[@contadorTransacciones].transaccion" data-valmsg-replace="true"></span>
                                        </div>

                                        <label class="control-label col-md-1" for="upgrade_values_transaccion[@contadorTransacciones].estatus">
                                            <span class="float-right">Estatus</span>
                                        </label>
                                        <div class="col-md-2">
                                            <select name="upgrade_values_transaccion[@contadorTransacciones].estatus" id="upgrade_values_transaccion[@contadorTransacciones].estatus" class="form-control select2bs4" style="width:100%" required>
                                                @*<option value=''>-- Seleccione un valor --</option>*@
                                                @foreach (string opcion in opciones_estatus)
                                                {
                                                    <option value="@opcion" @(item.estatus == opcion ? "selected" : null )>@opcion</option>

                                                }
                                            </select>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_checklist[@contadorTransacciones].estatus" data-valmsg-replace="true"></span>
                                        </div>

                                        <label class="control-label col-md-1" for="upgrade_values_transaccion[@contadorTransacciones].nota">
                                            <span class="float-right">Nota</span>
                                        </label>
                                        <div class="col-md-4">
                                            <textarea style="font-size: 12px;" type="text" name="upgrade_values_transaccion[@contadorTransacciones].nota" id="upgrade_values_transaccion[@contadorTransacciones].nota" class="form-control col-md-12" autocomplete="off" maxlength="250">@item.nota</textarea>
                                            <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_transaccion[@contadorTransacciones].nota" data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="col-md-1">
                                            <input type="button" value="Borrar" class="btn btn-danger" onclick="borrarTransaccion(@contadorTransacciones); return false;">
                                        </div>
                                    </div>

                                    contadorTransacciones++;
                                }
                            </div>
                            <div class="form-group row">

                            </div>
                            <div class="form-group row">
                                <div class="col-md-11">
                                    <input type="button" value="Agregar" class="btn btn-round btn-warning float-right" onclick="AgregarTransaccion(); return false;">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="item form-group">
                                <div class="col-md-10 col-sm-10 offset-md-10">
                                    <button type="submit" class="btn btn-success btn-lg">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="combo_status" style="display:none">
    @foreach (string opcion in opciones_estatus)
    {
        <option value="@opcion">@opcion</option>

    }

</div>


@section Scripts {
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>
        $(document).ready(function () {

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "info": false
            });

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });

    //variable global para el id
    var num = 0;
        var contenidoSelect = $("#combo_status").html();

        console.log(contenidoSelect);
        //agreaga una fila para lotes
        function AgregarTransaccion() {
            //obtine los valores de lotes

            //<div class="col-md-1">
            //    <input style="text-align:center; background-color:antiquewhite" type="text" class="form-control col-md-12 input-contador-transacciones" value="" readonly="readonly">
            //                        </div>

            $("#div_transacciones").append(

                `
                                   <div class="form-group row" id="div_transacciones_`+ num + `">


                                    <input type="hidden" id="upgrade_values_transaccion[`+ num + `].id_revision" name="upgrade_values_transaccion[`+ num + `].id_revision" value="@Model.id" />
                                    <input type="hidden" id="upgrade_values_transaccion[`+ num + `].id" name="upgrade_values_transaccion[`+ num + `].id" value="0" />
                                    <input type="hidden" id="upgrade_values_transaccion[`+ num + `].activo" name="upgrade_values_transaccion[`+ num + `].activo" value="true" />

                                    <label class="control-label col-md-1" for="upgrade_values_transaccion[`+ num + `].transaccion">
                                        <span class="float-right">Transacción</span>
                                    </label>
                                    <div class="col-md-2">
                                        <input style="text-align:right" type="text" maxlength="30" name="upgrade_values_transaccion[`+ num + `].transaccion" id="upgrade_values_transaccion[` + num + `].transaccion" class="form-control col-md-12" value="" autocomplete="off" required>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_transaccion[`+ num + `].transaccion" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="control-label col-md-1" for="upgrade_values_transaccion[`+ num + `].estatus">
                                        <span class="float-right">Estatus</span>
                                    </label>
                                    <div class="col-md-2">
                                        <select name="upgrade_values_transaccion[`+ num + `].estatus" id="upgrade_values_transaccion[`+ num + `].estatus" class="form-control select2bs4" style="width:100%" required>
                                           `+ contenidoSelect + `
                                        </select>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_checklist[`+ num + `].estatus" data-valmsg-replace="true"></span>
                                    </div>

                                    <label class="control-label col-md-1" for="upgrade_values_transaccion[`+ num + `].nota">
                                        <span class="float-right">Nota</span>
                                    </label>
                                    <div class="col-md-4">
                                        <textarea style="font-size: 12px;" type="text" name="upgrade_values_transaccion[`+ num + `].nota" id="upgrade_values_transaccion[`+ num + `].nota" class="form-control col-md-12" autocomplete="off" maxlength="250"></textarea>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="upgrade_values_transaccion[`+ num + `].nota" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="col-md-1">
                                        <input type="button" value="Borrar" class="btn btn-danger" onclick="borrarTransaccion(`+ num + `); return false;">
                                    </div>
                                </div>
                                                                `
            );
            $("#div_transacciones_" + num).hide().fadeIn(500);
            num++;

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //AsignaNumeroLote();
    }

    //borra un lote
        function borrarTransaccion(id) {

            $("#div_transacciones_" + id).fadeOut(0, function () {
                $(this).remove().fadeIn(500);
        });

    }


        window.onload = function () {
            clicMenu(1);
        }
    </script>
}

