@model Portal_2_0.Models.empleados

@{
    ViewBag.Title = "Editar Empleado";
    ViewBag.PrimerNivel = "recursos_humanos";
    ViewBag.SegundoNivel = "empleados";
    ViewBag.ControllerName = "Empleados";


    List<Portal_2_0.Models.empleados> TotalEmpleados = (List<Portal_2_0.Models.empleados>)ViewBag.TotalEmpleados;

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/square/green.css")" rel="stylesheet">
    <link href="~/Content/vendors/multiselect_filter/bootstrap-duallistbox.css" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <style>
        .profile-picture {
            width: 350px;
            height: 350px;
        }
    </style>
}

@*Valores enviados previamente*@
@if (@ViewBag.c_planta != null)
{
    <input type="hidden" value="@ViewBag.c_planta" id="c_planta" />
}
@if (@ViewBag.c_area != null)
{
    <input type="hidden" value="@ViewBag.c_area" id="c_area" />
}
@if (@ViewBag.c_puesto != null)
{
    <input type="hidden" value="@ViewBag.c_puesto" id="c_puesto" />
}

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Edit", "Empleados", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()

                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationSummary("", new { @class = "text-white" })
                                </div>
                            }
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.clave)
                            @Html.HiddenFor(model => model.activo)
                            @Html.HiddenFor(model => model.nacimientoFecha)
                            @Html.HiddenFor(model => model.nivel)
                            @Html.HiddenFor(model => model.compania)
                            @Html.HiddenFor(model => model.mostrar_telefono)
                            @Html.HiddenFor(model => model.extension)
                            @Html.HiddenFor(model => model.id_fotografia)

                            @* input para saber si está o no activo el campo de soporte *@
                            <input type="hidden" name="cambio_documento_soporte" id="cambio_documento_soporte" value="0" />
                            <input type="hidden" name="elimina_documento" id="elimina_documento" value="false" />
                            <input type="hidden" id="imagen-previa" value="@(Model.id_fotografia.HasValue?Model.ImageToBase64(350,350):String.Empty)" />

                            <div class="form-group row">
                                <span style="color:black"><b>DATOS GENERALES</b></span>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.numeroEmpleado, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-1 col-sm-1 ">
                                    @Html.EditorFor(model => model.numeroEmpleado, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.numeroEmpleado, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.correo, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.C8ID, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-1 col-sm-1">
                                    @Html.EditorFor(model => model.C8ID, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.C8ID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.nombre, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.apellido1, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.apellido1, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.apellido2, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.apellido2, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.nueva_fecha_nacimiento, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-2 col-sm-2">
                                    @Html.EditorFor(model => model.nueva_fecha_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nueva_fecha_nacimiento, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.sexo, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-2 col-sm-2">
                                    <div class="col-md-6 col-sm-6">
                                        <input type="radio" id="male" name="sexo" value="M" @(Model != null && Model.sexo == "M" ? "checked" : String.Empty) required>
                                        <nolabel>
                                            <label for="male">Hombre</label>
                                        </nolabel>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="radio" id="female" name="sexo" value="F" @(Model != null && Model.sexo == "F" ? "checked" : String.Empty)>
                                        <nolabel>
                                            <label for="female">Mujer</label>
                                        </nolabel>
                                    </div>

                                    @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group row">
                                <span style="color:black"><b>ESTRUCTURA ORGANIZACIONAL</b></span>
                            </div>
                            <div class="item form-group">
                                <!--id jefe directo -->
                                @Html.LabelFor(model => model.id_jefe_directo, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.DropDownList("id_jefe_directo", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_jefe_directo, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.ingresoFecha, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-2 col-sm-2">
                                    @Html.EditorFor(model => model.ingresoFecha, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ingresoFecha, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.planta_clave, htmlAttributes: new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.DropDownList("planta_clave", null, "-- Seleccione un valor --", htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.planta_clave, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.id_area, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3 ">
                                    @Html.DropDownList("id_area", null, "-- Seleccione un valor --", htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_area, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.puesto, htmlAttributes: new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                <div class="col-md-3 col-sm-3">
                                    @Html.DropDownList("puesto", null, "-- Seleccione un valor --", htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.puesto, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group row">
                                <span style="color:black"><b>SUBORDINADOS DIRECTOS</b></span>
                            </div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12">
                                    <select multiple="multiple" size="10" id="subordinados" name="subordinados">
                                        @foreach (var item in TotalEmpleados)
                                        {
                                            <option value="@item.id" @(Model.empleados1.Contains(item) ? "selected" : String.Empty) )>
                                                @(item.ConcatNumEmpleadoNombrePlanta)
                                            </option>

                                        }
                                    </select>
                                </div>

                            </div>
                            <div class="ln_solid"></div>

                            <div class="form-group row">
                                <span style="color:black"><b>FOTOGRAF&Iacute;A</b></span>
                            </div>


                            if (Model != null && Model.id_fotografia.HasValue)
                            {
                                <div class="item form-group" id="div_document_support">
                                    @Html.LabelFor(model => model.id_fotografia, new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                    <div class="col-md-6">
                                        <a href="@Url.Action("DownloadFile","Combos", new { idDocumento = Model.id_fotografia})" class="btn btn-success btm-sm" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a onclick="muestraFileInput()" class="btn btn-danger btm-sm" title="Reemplazar" style="color:white">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="item form-group" id="div_document_support_2" style="display:none">
                                    @Html.LabelFor(model => model.id_fotografia, htmlAttributes: new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                    <div class="col-md-5 col-sm-5 ">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                @Html.TextBoxFor(m => m.ArchivoImagen, new { @class = "custom-file-input", type = "file", @accept = ".png, .jpeg, .jpg, .gif, .bmp" })
                                                <label class="custom-file-label" for="@Html.IdFor(model => model.ArchivoImagen)" style="text-align:left">Seleccione un archivo...</label>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.ArchivoImagen, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1">
                                        <div class="input-group">

                                            <a onclick="ocultaFileInput()" class="btn btn-warning btm-sm" title="Deshacer" style="color:white">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="item form-group">
                                    @Html.LabelFor(model => model.id_fotografia, htmlAttributes: new { @class = "col-form-label col-md-1 col-sm-1 label-align" })
                                    <div class="col-md-5 col-sm-5">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                @Html.TextBoxFor(m => m.ArchivoImagen, new { @class = "custom-file-input", type = "file", @accept = ".png, .jpeg, .jpg, .gif, .bmp" })
                                                <label class="custom-file-label" for="@Html.IdFor(model => model.ArchivoImagen)" style="text-align:left">Seleccione un archivo...</label>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.ArchivoImagen, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            <!-- La imagen que vamos a usar para previsualizar lo que el usuario selecciona -->
                            <div class="item form-group">
                                <div class="col-md-1 col-sm-1">
                                </div>
                                <div id="div-img-container" class="item form-group">
                                    <img id="imagenPrevisualizacion" src="@(Model.id_fotografia.HasValue?Model.ImageToBase64(350,350):String.Empty)">
                                </div>

                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 ">
                                    <button type="button" id="btn-ok" class="btn btn-success btn-lg float-right"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/Forms/empleados.js?" + DateTime.Now))
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="~/Content/vendors/multiselect_filter/jquery.bootstrap-duallistbox.js"></script>
    <script>

        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            });

            var demo1 = $('[name=subordinados]').bootstrapDualListbox({
                nonSelectedListLabel: 'Todos los Empleados',
                selectedListLabel: 'Empleados Seleccionados',
                filterTextClear: 'Mostrar todo',
                filterPlaceHolder: 'Nombre',
                moveSelectedLabel: 'Mover Seleccionados',
                moveAllLabel: 'Mover Todo',
                removeSelectedLabel: 'Quitar Seleccionados',
                removeAllLabel: 'Quitar Todos',
                moveOnSelect: false,
            });
            //elimina botones del DualList
            CustomizeDuallistbox('subordinados');

            //maneja el envió el del formulario
            $('form #btn-ok').click(function (e) {
                let $form = $(this).closest('form');

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false,
                })

                swalWithBootstrapButtons.fire({
                    title: '¿Desea Continuar?',
                    html: "Se guardarán los cambios.",
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                        //espera a que se cierre el modal para enviar el formulario
                        setTimeout(function () {
                            $form.submit();
                        }, 900);
                    }
                });


            });

        });

        //elimina los botones del multiselect
        function CustomizeDuallistbox(listboxID) {
            var customSettings = $('#' + listboxID).bootstrapDualListbox('getContainer');
            customSettings.find('.btn-group.buttons').remove();
        }

        window.onload = function () {
            clicMenu(1);
        }

    </script>
}