@model Portal_2_0.Models.IT_matriz_requerimientos

@{
    ViewBag.Title = "Autorizar Solicitud de Requerimientos de Usuario";
    ViewBag.PrimerNivel = "autorizar_matriz";
    ViewBag.SegundoNivel = "solicitudes_pendientes_autorizador";
    ViewBag.ControllerName = "IT_matriz_requerimientos";

    List<Portal_2_0.Models.IT_inventory_hardware_type> listHardware = (List<Portal_2_0.Models.IT_inventory_hardware_type>)ViewBag.listHardware;
    List<Portal_2_0.Models.IT_inventory_software> listSoftware = (List<Portal_2_0.Models.IT_inventory_software>)ViewBag.listSoftware;
    List<Portal_2_0.Models.IT_comunicaciones_tipo> listComunicaciones = (List<Portal_2_0.Models.IT_comunicaciones_tipo>)ViewBag.listComunicaciones;
    List<Portal_2_0.Models.IT_carpetas_red> listCarpetas = (List<Portal_2_0.Models.IT_carpetas_red>)ViewBag.listCarpetas;

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/square/green.css")" rel="stylesheet">
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <style>

        dl {
            border: 3px double #ccc;
            padding: 0.5em;
            background-color: #fffdf0
        }

        dt {
            font-weight: bold;
            color: green;
        }

        dd {
            font-weight: bold;
            color: #454545;
        }

        dt::after {
            content: ":";
        }

        .fondo_verde > td {
            background-color: green;
            color: #fffdf0;
            font-weight: bolder;
        }

        .fondo_amarillo > td {
            background-color: orange;
            color: #221f1f;
            font-weight: bolder;
        }

        .fondo_rojo > td {
            background-color: red;
            color: #fffdf0;
            font-weight: bolder;
        }
    </style>
}

@*Valores enviados previamente*@

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group row">
                            <!--Estado-->
                            <label class="control-label col-md-1" style="text-align: left;">
                                <b>Tipo</b>
                            </label>
                            <div class="col-md-2">
                                <input type="text" class="form-control col-md-12" style="text-align: right; font-weight: bold" value="@Bitacoras.Util.IT_MR_tipo.DescripcionStatus(Model.tipo).ToUpper()" readonly>
                            </div>
                            <!--Estado-->
                            <label class="control-label col-md-6" style="text-align: right;">
                                <b>Estado</b>
                            </label>
                            <div class="col-md-3">
                                <input type="text" class="form-control col-md-12" style="text-align: right; font-weight: bold" value="@Bitacoras.Util.IT_MR_Status.DescripcionStatus(Model.estatus).ToUpper()" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                    <div class="form-group row">
                                        <span style="color:black"><b>1.- INFORMACI&Oacute;N DEL EMPLEADO</b></span>
                                    </div>
                                    <dl class="row">
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.nombre)</dt>
                                        <dd class="col-sm-10">@Model.empleados.ConcatNombre</dd>
                                        <dt class="col-sm-2">Planta</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.plantas.descripcion)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.Area)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.Area.descripcion)</dd>
                                        <dt class="col-sm-2">Puesto</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.puesto1.descripcion)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.numeroEmpleado)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.numeroEmpleado)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.ingresoFecha)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.ingresoFecha)</dd>
                                        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.empleados.nueva_fecha_nacimiento)</dt>
                                        <dd class="col-sm-2">@Html.DisplayFor(model => model.empleados.nueva_fecha_nacimiento)</dd>

                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group row">
                            <span style="color:black"><b>2.- JEFE DIRECTO</b></span>
                            <br />

                            <div id="advertencia_usuario" class="alert alert-danger col-md-12 col-sm-12" role="alert" style="display:none">
                                <i class="fa fa-warning" style="color:yellow"></i> <b>¡Advertencia!</b> <br />El empleado que seleccion&oacute; no tiene una cuenta asociada para el uso de este Portal, por esta raz&oacute;n no podr&aacute; autorizar esta solicitud. <br />
                                Favor de contactar al Administrador del Sitio para solicitar la generaci&oacute;n de los accesos necesarios.
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.id_jefe_directo, new { @class = "control-label col-md-1" })
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" id="id_jefe_directo" class="form-control" value="@Model.empleados1.ConcatNombre" readonly="readonly" />
                            </div>
                            <label class="control-label col-md-2 col-sm-2" for="planta_jefe" style="text-align:right">Planta</label>
                            <div class="col-md-3 col-sm-3">
                                <input type="text" id="planta_jefe" class="form-control" value="@( Model.empleados1!=null && Model.empleados1.plantas!=null ? Model.empleados1.plantas.descripcion : "NO DISPONIBLE" )" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-1 col-sm-1" for="area_jefe">Area</label>
                            <div class="col-md-5 col-sm-5 ">
                                <input type="text" id="area_jefe" class="form-control" value="@( Model.empleados1!=null && Model.empleados1.Area!=null ? Model.empleados1.Area.descripcion : "NO DISPONIBLE" )" readonly="readonly" />
                            </div>
                            <label class="control-label col-md-1 col-sm-1" for="puesto_jefe" style="text-align:right">Puesto</label>
                            <div class="col-md-5 col-sm-5 ">
                                <input type="text" id="puesto_jefe" class="form-control" value="@( Model.empleados1!=null && Model.empleados1.puesto1!=null ? Model.empleados1.puesto1.descripcion : "NO DISPONIBLE" )" readonly="readonly" />
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group row">
                            <span style="color:black"><b>3.- SISTEMAS A SOLICITAR</b></span>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group row">

                            <span style="color:dimgrey"><b>&emsp; 3.1- HARDWARE</b></span>
                        </div>
                        @*HARDWARE*@
                        <div class="form-group row">

                            @foreach (var item in listHardware)
                            {

                                if (!item.aplica_descripcion)
                                {


                                    <div class="col-md-2 col-sm-2">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedHardware" value="hardware_@item.id" @(Model.IT_matriz_hardware.Any(x => x.id_it_hardware == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedHardware" value="hardware_@item.id" @(Model.IT_matriz_hardware.Any(x => x.id_it_hardware == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8" id="hardware_@(item.id)_div" style="margin-bottom: 5px; @(Model.IT_matriz_hardware.Any(x => x.id_it_hardware == item.id) == true ? null : "display:none" ) ">

                                            <input type="text" name="hardware_@(item.id)_descripcion" id="hardware_@(item.id)_descripcion" class="form-control col-md-12" value="@Model.IT_matriz_hardware.Where(x=>x.id_it_hardware==item.id).Select(x=>x.descripcion).FirstOrDefault()" title="@Model.IT_matriz_hardware.Where(x=>x.id_it_hardware==item.id).Select(x=>x.descripcion).FirstOrDefault()" readonly="readonly">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="hardware_@(item.id)_descripcion" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                }
                            }

                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:dimgrey"><b>&emsp; 3.2- SOFTWARE</b></span>
                        </div>
                        @*SOFTWARE*@
                        <div class="form-group row">

                            <div class="col-md-2 col-sm-2">
                                <div class="col-md-12 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked disabled> Correo electr&oacute;nico
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="col-md-12 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked disabled> 8ID
                                        </label>
                                    </div>
                                </div>
                            </div>

                            @foreach (var item in listSoftware)
                            {

                                if (!item.aplica_descripcion)
                                {
                                    <div class="col-md-2 col-sm-2">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedSoftware" value="software_@item.id" @(Model.IT_matriz_software.Any(x => x.id_it_software == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedSoftware" value="software_@item.id" @(Model.IT_matriz_software.Any(x => x.id_it_software == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8" id="software_@(item.id)_div" style="margin-bottom: 5px; @(Model.IT_matriz_software.Any(x => x.id_it_software == item.id) == true ? null : "display:none" )">
                                            <input type="text" name="software_@(item.id)_descripcion" id="software_@(item.id)_descripcion" class="form-control col-md-12" value="@Model.IT_matriz_software.Where(x=>x.id_it_software==item.id).Select(x=>x.descripcion).FirstOrDefault()" readonly="readonly" title="@Model.IT_matriz_software.Where(x=>x.id_it_software==item.id).Select(x=>x.descripcion).FirstOrDefault()">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="software_@(item.id)_descripcion" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                }
                            }

                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:dimgrey"><b>&emsp; 3.3- INTERNET</b></span>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.id_internet_tipo, new { @class = "control-label col-md-2" })
                            <div class="col-md-4 col-sm-4 ">
                                <input type="text" id="id_internet_tipo" class="form-control" value="@(Model.IT_internet_tipo!=null ? Model.IT_internet_tipo.descripcion : "NO DISPONIBLE" )" readonly="readonly" />
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:dimgrey"><b>&emsp; 3.4- COMUNICACIONES</b></span>
                        </div>

                        @*COMUNICACIONES*@
                        <div class="form-group row">

                            @foreach (var item in listComunicaciones)
                            {

                                if (!item.aplica_descripcion)
                                {
                                    <div class="col-md-2 col-sm-2">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedComunicaciones" value="comunicaciones_@item.id" @(Model.IT_matriz_comunicaciones.Any(x => x.id_it_comunicaciones == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedComunicaciones" value="comunicaciones_@item.id" @(Model.IT_matriz_comunicaciones.Any(x => x.id_it_comunicaciones == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8" id="comunicaciones_@(item.id)_div" style="margin-bottom: 5px; @(Model.IT_matriz_comunicaciones.Any(x => x.id_it_comunicaciones == item.id) == true ? null : "display:none" )">

                                            <input type="text" name="comunicaciones_@(item.id)_descripcion" id="comunicaciones_@(item.id)_descripcion" class="form-control col-md-12" value="@Model.IT_matriz_comunicaciones.Where(x=>x.id_it_comunicaciones==item.id).Select(x=>x.descripcion).FirstOrDefault()" title="@Model.IT_matriz_comunicaciones.Where(x=>x.id_it_comunicaciones==item.id).Select(x=>x.descripcion).FirstOrDefault()" readonly="readonly">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="comunicaciones_@(item.id)_descripcion" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                }
                            }

                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:dimgrey"><b>&emsp; 3.5- CARPETAS EN RED</b></span>
                        </div>

                        @*CARPETAS EN RED*@
                        <div class="form-group row">

                            @foreach (var item in listCarpetas)
                            {

                                if (!item.aplica_descripcion)
                                {
                                    <div class="col-md-2 col-sm-2">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedCarpetas" value="carpetas_@item.id" @(Model.IT_matriz_carpetas.Any(x => x.id_it_carpeta_red == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="col-md-6 col-sm-6">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="SelectedCarpetas" value="carpetas_@item.id" @(Model.IT_matriz_carpetas.Any(x => x.id_it_carpeta_red == item.id) == true ? "checked" : null ) disabled> @item.descripcion
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-sm-8" id="carpetas_@(item.id)_div" style="margin-bottom: 5px; @(Model.IT_matriz_carpetas.Any(x => x.id_it_carpeta_red == item.id) == true ? null : "display:none" )">
                                            <input type="text" name="carpetas_@(item.id)_descripcion" id="carpetas_@(item.id)_descripcion" class="form-control col-md-12" value="@Model.IT_matriz_carpetas.Where(x=>x.id_it_carpeta_red==item.id).Select(x=>x.descripcion).FirstOrDefault()" title="@Model.IT_matriz_carpetas.Where(x=>x.id_it_carpeta_red==item.id).Select(x=>x.descripcion).FirstOrDefault()" readonly="readonly">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="carpetas_@(item.id)_descripcion" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>

                                }
                            }

                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group row">
                            <span style="color:black"><b>COMENTARIOS ADICIONALES</b></span>
                        </div>
                        <div class="item form-group">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.comentario, new { @class = "form-control", @rows = "5", @autocomplete = "off", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group row">
                            <span style="color:black"><b>¡AVISO!</b></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 col-sm-12 ">
                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px; font-weight:bold; text-align:justify">
                                    <i class="fa fa-warning"></i> Las credenciales de acceso ser&aacute;n otorgadas exclusivamente para el uso de sus funciones laborales en thyssenkrupp Materials de
                                    M&eacute;xico, por lo tanto son consideradas intransferibles y de uso individual por parte del usuario, aceptando que cualquier uso no
                                    autorizado o malversaci&oacute;n con &eacute;sta es de su exclusiva responsabilidad.
                                </p>
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group row">
                            <span style="color:black"><b>¡MOVIMIENTOS!</b></span>
                        </div>

                        <div class="form-group row">
                            <!-- Solicitantes -->
                            @Html.LabelFor(model => model.id_solicitante, new { @class = "control-label col-md-1" })
                            <input type="text" class="form-control col-md-5" value="@Model.empleados3.ConcatNombre" readonly>
                            <!-- Fecha validadcion -->
                            @Html.LabelFor(model => model.fecha_solicitud, new { @class = "control-label col-md-2 float-right", @style = "text-align:right" })
                            <div class="col-md-4">
                                <input type="text" class="form-control col-md-12" value="@(Model.fecha_solicitud.Year > 2000 ? Model.fecha_solicitud.ToString() : "NO DISPONIBLE" )" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Autorizador -->
                            @Html.LabelFor(model => model.id_jefe_directo, new { @class = "control-label col-md-1" })

                            @if (Model.empleados1 != null)
                            {
                                <input type="text" class="form-control col-md-5" value="@Model.empleados1.ConcatNombre" readonly>
                            }
                            else
                            {
                                <input type="text" class="form-control col-md-5" value="NO DISPONIBLE" readonly>
                            }
                            <!-- Fecha validacion jefe-->
                            @Html.LabelFor(model => model.fecha_aprobacion_jefe, new { @class = "control-label col-md-2 float-right", @style = "text-align:right" })

                            <div class="col-md-4">
                                @if (Model.fecha_aprobacion_jefe.HasValue)
                                {
                                    <input type="text" class="form-control col-md-12" value="@Model.fecha_aprobacion_jefe.Value" readonly>
                                }
                                else if (Model.fecha_aprobacion_jefe.HasValue && Model.estatus == Bitacoras.Util.IT_MR_Status.RECHAZADO)
                                {
                                    <input type="text" class="form-control col-md-12" value="RECHAZADO" readonly>
                                }
                                else
                                {
                                    <input type="text" class="form-control col-md-12" value="PENDIENTE" readonly>
                                }
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- Sistemas -->
                            @Html.LabelFor(model => model.id_sistemas, new { @class = "control-label col-md-1" })

                            @if (Model.empleados2 != null)
                            {
                                <input type="text" class="form-control col-md-5" value="@Model.empleados2.ConcatNombre" readonly>
                            }
                            else
                            {
                                <input type="text" class="form-control col-md-5" value="NO DISPONIBLE" readonly>
                            }
                            <!-- Fecha validacion jefe-->
                            @Html.LabelFor(model => model.fecha_cierre, new { @class = "control-label col-md-2 float-right", @style = "text-align:right" })

                            <div class="col-md-4">
                                @if (Model.fecha_cierre.HasValue)
                                {
                                    <input type="text" class="form-control col-md-12" value="@Model.fecha_cierre.Value" readonly>
                                }
                                else if (!Model.fecha_cierre.HasValue && Model.estatus == Bitacoras.Util.IT_MR_Status.RECHAZADO)
                                {
                                    <input type="text" class="form-control col-md-12" value="RECHAZADO" readonly>
                                }
                                else
                                {
                                    <input type="text" class="form-control col-md-12" value="PENDIENTE" readonly>
                                }
                            </div>
                        </div>
                        @if (Model.estatus == Bitacoras.Util.IT_MR_Status.ENVIADO_A_JEFE && !String.IsNullOrEmpty(Model.comentario_rechazo))
                        {
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>RAZ&Oacute;N ANTERIOR DE RECHAZO</b></span>
                            </div>

                            <div class="item form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.comentario_rechazo, new { @class = "form-control", @rows = "5", @autocomplete = "off", @readonly = "readonly" })
                                </div>

                            </div>
                        }
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 ">
                                <button type="submit" class="btn btn-danger btn-lg" onclick="mostrarModalRechazar()">Rechazar</button>
                            </div>
                            <div class="col-md-6 col-sm-6 ">
                                <button type="submit" class="btn btn-success btn-lg float-lg-right" onclick="mostrarModalAutorizar()">Autorizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <br />
                    <a onclick="volverAtras()" style="color:white" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Autorizar -->
<div class="modal fade" id="modalAutorizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Autorizar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Autorizar", null, FormMethod.Post, new { }))
            {
                <div class="modal-body">
                    <div class="form-group row">                     
                            <h6>¿Desea autorizar esta solicitud y enviarla al Departamento de Sistemas para su procesamiento?</h6>                      
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.id)

                    <div class="col-md-12">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Autorizar</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal Rechazar -->
<div class="modal fade" id="modalRechazar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Rechazar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Rechazar", null, FormMethod.Post, new { }))
            {
                <div class="modal-body">
                    <div class="form-group row">
                        <h6>¿Realmente desea rechazar esta solicitud?</h6>
                        <br />
                        <div class="col-md-12">
                            <h6>Razón de Rechazo:</h6>
                        </div>
                        <div class="col-md-12">

                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.id)
                            @Html.TextAreaFor(model => model.comentario_rechazo, new { @class = "form-control", @rows = "4", @autocomplete = "off", @required = "required" })
                            @Html.ValidationMessageFor(model => model.comentario_rechazo, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Rechazar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))


    <script>

        $(document).ready(function () {

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            $(document).ready(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                    increaseArea: '20%' // optional
                });
            });

        });


        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(1);
        }

        //muestra el modal de autorizar
        function mostrarModalAutorizar() {
            $('#modalAutorizar').modal('show')

        }

        //muestra el modal de rechazar
        function mostrarModalRechazar() {
            $('#modalRechazar').modal('show')
        }


    </script>
}
