@{
    ViewBag.Title = "Listado de Pólizas Modelo";
    ViewBag.PrimerNivel = "polizas_manuales";
    ViewBag.SegundoNivel = "PM_catalogos";
    ViewBag.TercelNivel = "PM_tipo_poliza";
    ViewBag.ControllerName = "Demo";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <div class="form-group">
                                        <a href="@Url.Action( "Create", ViewBag.ControllerName)" class="btn btn-success">
                                            <i class="fa fa-plus-square"></i>
                                            Crear nuevo
                                        </a>
                                    </div>
                                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    ID
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                                <th>
                                                    Fecha de Creación
                                                </th>
                                                <th>
                                                    Comentario
                                                </th>
                                                <th>
                                                    Estado
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    SEPTIEMBRE 2021
                                                </td>
                                                <td>
                                                    2021/09/15
                                                </td>
                                                <td>
                                                    Modelo correspondiente a Agosto 2021
                                                </td>
                                                <td>
                                                    Activo
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", ViewBag.ControllerName)" class="btn btn-success btm-sm" title="Editar">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </a>
                                                    <a href="@Url.Action("Details", ViewBag.ControllerName)" class="btn btn-info btm-sm" title="Detalles">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <a href="@Url.Action("Enable", ViewBag.ControllerName)" class="btn btn-danger" s title="Deshabilitar">
                                                        <i class="fa fa-trash"></i>
                                                    </a>

                                                </td>
                                                
                                            </tr>
                                            <tr>

                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    OCTUBRE 2021
                                                </td>
                                                <td>
                                                    2021/10/18
                                                </td>
                                                <td>
                                                    Modelo correspondiente a Octubre 2021
                                                </td>
                                                <td>
                                                    Activo
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", ViewBag.ControllerName)" class="btn btn-success btm-sm" title="Editar">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </a>
                                                    <a href="@Url.Action("Details", ViewBag.ControllerName)" class="btn btn-info btm-sm" title="Detalles">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <a href="@Url.Action("Enable", ViewBag.ControllerName)" class="btn btn-danger" s title="Deshabilitar">
                                                        <i class="fa fa-trash"></i>
                                                    </a>

                                                </td>
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    NOVIEMBRE 2021
                                                </td>
                                                <td>
                                                    2021/10/24
                                                </td>
                                                <td>
                                                    Modelo correspondiente a Noviembre 2021
                                                </td>
                                                <td>
                                                    Activo
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Edit", ViewBag.ControllerName)" class="btn btn-success btm-sm" title="Editar">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </a>
                                                    <a href="@Url.Action("Details", ViewBag.ControllerName)" class="btn btn-info btm-sm" title="Detalles">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <a href="@Url.Action("Enable", ViewBag.ControllerName)" class="btn btn-danger" s title="Deshabilitar">
                                                        <i class="fa fa-trash"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))

    @Scripts.Render("~/bundles/dataTables_js")

}

