@model Portal_2_0.Models.Area

@{
    ViewBag.Title = "Deshabilitar Área";
    ViewBag.PrimerNivel = "recursos_humanos";
    ViewBag.SegundoNivel = "areas";
    ViewBag.ControllerName = "Areas";
}



<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@ViewBag.ControllerName</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>

                    <!-- /.col -->
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <h3>¿Realmente desea deshabilitar este registro?</h3>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                                        <td>@Html.DisplayFor(model => model.descripcion)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.listaCorreoElectronico)</th>
                                        <td>@Html.DisplayFor(model => model.listaCorreoElectronico)</td>
                                    </tr>
                                    <tr>
                                        <th>Planta</th>
                                        <td>@Html.DisplayFor(model => model.plantas.descripcion)</td>
                                    </tr>
                                    <tr>
                                        <th style="width:50%"> @Html.DisplayNameFor(model => model.activo)</th>
                                        <td>
                                            @if (Model.activo)
                                            {
                                                <span>Activo</span>
                                            }
                                            else
                                            {
                                                <span>Inactivo</span>
                                            }
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="float-md-left">
                            <a href="@Url.Action("Edit", ViewBag.ControllerName, new { id = Model.clave})" class="btn btn-success btm-sm" title="Editar">
                                <i class="fa-regular fa-pen-to-square"></i> Editar
                            </a>
                        </p>
                        <p class="float-md-right">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color float-md-right">
                                    <input type="submit" value="Deshabilitar" class="btn btn-danger btm-sm" />
                                </div>
                            }
                        </p>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

