@model Portal_2_0.Models.budget_centro_costo
@using Bitacoras.Util

@{

    Portal_2_0.Models.budget_centro_costo centro_costo = (Portal_2_0.Models.budget_centro_costo)ViewBag.centroCosto;

    List<Portal_2_0.Models.view_valores_fiscal_year> valores_actual = (List<Portal_2_0.Models.view_valores_fiscal_year>)ViewBag.ValoresActual;
    List<Portal_2_0.Models.view_valores_fiscal_year> valores_actual_forecast = (List<Portal_2_0.Models.view_valores_fiscal_year>)ViewBag.ValoresActualForecast;
    List<Portal_2_0.Models.view_valores_fiscal_year> valores_budget = (List<Portal_2_0.Models.view_valores_fiscal_year>)ViewBag.ValoresBudget;

    Portal_2_0.Models.budget_rel_fy_centro rel_anterior = (Portal_2_0.Models.budget_rel_fy_centro)ViewBag.rel_anterior;
    Portal_2_0.Models.budget_rel_fy_centro rel_presente = (Portal_2_0.Models.budget_rel_fy_centro)ViewBag.rel_presente;
    Portal_2_0.Models.budget_rel_fy_centro rel_proximo = (Portal_2_0.Models.budget_rel_fy_centro)ViewBag.rel_proximo;

    ViewBag.Title = "FC FY " + rel_presente.budget_anio_fiscal.descripcion;
    ViewBag.PrimerNivel = "plantilla_budget";
    ViewBag.SegundoNivel = "centro_costos";
    ViewBag.ControllerName = "BudgetControlling";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
    int fila = 1;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!--fixed columns css-->
    <link href="@Url.Content("~/Content/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.css")" rel="stylesheet">
    <style>
        .text_derecha {
            text-align: right;
        }
        /* Ensure that the demo table scrolls */
        th, td {
            white-space: nowrap;
        }

        .fondo_actual {
            background-color: #808080;
        }

        .fondo_forecast {
            background-color: #109d3f;
        }

        .fondo_budget {
            background-color: #4d2bcc;
        }
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="form-group">
                                        @*<a href="@Url.Action("Create", ViewBag.ControllerName)" class="btn btn-success">
                                                <i class="fa fa-plus-square"></i>
                                                Crear nuevo
                                            </a>*@
                                    </div>

                                    <div class="form-group row">
                                        <!--Planta-->
                                        <label class="control-label col-md-1 text_derecha">Plant</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="@centro_costo.budget_departamentos.budget_plantas.descripcion" readonly>
                                        </div>
                                        <!--Deparment-->
                                        <label class="control-label col-md-1 text_derecha">Department</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" value="@centro_costo.budget_departamentos.descripcion" readonly>
                                        </div>
                                        <!--Cost center-->
                                        <label class="control-label col-md-1 text_derecha">Cost Center</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="@centro_costo.num_centro_costo" readonly>
                                        </div>
                                    </div>
                                    @{
                                        String responsables = (string.Join("/", Model.budget_responsables.Select(x => x.empleados.ConcatNombre).ToArray()));
                                    }

                                    <div class="form-group row">
                                        <!--responsable-->
                                        <label class="control-label col-md-1 text_derecha">Responsable</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" value="@responsables" readonly>
                                        </div>
                                    </div>


                                    <div class="ln_solid"></div>

                                    <div class="col-md-12 col-sm-12  ">
                                        <div class="x_content">

                                            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#actual" role="tab" aria-controls="actual" aria-selected="true" onclick="ReiniciaTablaTimer()">ACT FY @rel_anterior.budget_anio_fiscal.descripcion</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" onclick="ReiniciaTablaTimer()">FC FY @rel_presente.budget_anio_fiscal.descripcion</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" onclick="ReiniciaTablaTimer()">BG FY @rel_proximo.budget_anio_fiscal.descripcion</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent">
                                                <div class="tab-pane fade" id="actual" role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="form-group row">

                                                        <table id="datatable_1" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        Item
                                                                    </th>
                                                                    <th>
                                                                        SAP Account
                                                                    </th>
                                                                    <th>
                                                                        Name
                                                                    </th>
                                                                    <th>
                                                                        Mapping
                                                                    </th>

                                                                    <!-- MESES-->
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.OCTUBRE.Abreviation-@rel_anterior.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.NOVIEMBRE.Abreviation-@rel_anterior.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.DICIEMBRE.Abreviation-@rel_anterior.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.ENERO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.FEBRERO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.MARZO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.ABRIL.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.MAYO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.JUNIO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.JULIO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.AGOSTO.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_actual">
                                                                        ACT @MesesUtil.SEPTIEMBRE.Abreviation-@rel_anterior.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th>
                                                                        Totals
                                                                    </th>
                                                                    @*<th>
                                                                            Comentarios
                                                                        </th>*@
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in valores_actual)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @fila
                                                                        </td>
                                                                        <td>
                                                                            @item.sap_account
                                                                        </td>
                                                                        <td>
                                                                            @item.name
                                                                        </td>
                                                                        <td>
                                                                            @item.mapping_bridge
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Octubre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Octubre)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Noviembre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Noviembre)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Diciembre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Diciembre)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Enero.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Enero)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Febrero.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Febrero)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Marzo.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Marzo)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Abril.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Abril)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Mayo.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Mayo)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Junio.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Junio)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Julio.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Julio)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Agosto.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Agosto)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Septiembre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Septiembre)
                                                                        </td>
                                                                        <td class="text_derecha" style="background-color:#d4f2fc; font-weight: bold;">
                                                                            $ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.TotalMeses().Value)
                                                                        </td>
                                                                        @*<td>
                                                                                @item.Comentario
                                                                            </td>*@
                                                                    </tr>

                                                                    fila++;
                                                                }
                                                                <tr style="font-weight: bold;">
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td style="background-color: #d4f2fc">Totals</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Octubre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Noviembre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Diciembre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Enero))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Febrero))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Marzo))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Abril))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Mayo))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Junio))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Julio))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Agosto))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.Septiembre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual.Sum(item => item.TotalMeses()))</td>
                                                                    @*<td></td>*@
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                                    @using (Html.BeginForm("EditForecast", "ResponsableBudget", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                                    {

                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" id="id" name="id" value="@Model.id" />

                                                        <div class="form-group row">
                                                            @{
                                                                //declara variables para cada  mes

                                                                bool isActualOctubre = rel_presente.budget_anio_fiscal.isActual(10) == "ACT";
                                                                bool isActualNoviembre = rel_presente.budget_anio_fiscal.isActual(11) == "ACT";
                                                                bool isActualDiciembre = rel_presente.budget_anio_fiscal.isActual(12) == "ACT";
                                                                bool isActualEnero = rel_presente.budget_anio_fiscal.isActual(1) == "ACT";
                                                                bool isActualFebrero = rel_presente.budget_anio_fiscal.isActual(2) == "ACT";
                                                                bool isActualMarzo = rel_presente.budget_anio_fiscal.isActual(3) == "ACT";
                                                                bool isActualAbril = rel_presente.budget_anio_fiscal.isActual(4) == "ACT";
                                                                bool isActualMayo = rel_presente.budget_anio_fiscal.isActual(5) == "ACT";
                                                                bool isActualJunio = rel_presente.budget_anio_fiscal.isActual(6) == "ACT";
                                                                bool isActualJulio = rel_presente.budget_anio_fiscal.isActual(7) == "ACT";
                                                                bool isActualAgosto = rel_presente.budget_anio_fiscal.isActual(8) == "ACT";
                                                                bool isActualSeptiembre = rel_presente.budget_anio_fiscal.isActual(9) == "ACT";


                                                            }
                                                            <table id="datatable_2" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                                                <thead>
                                                                    <tr style=" background-color: #0094ff; color: azure;" !important>
                                                                        <th>
                                                                            Item
                                                                        </th>
                                                                        <th>
                                                                            SAP Account
                                                                        </th>
                                                                        <th>
                                                                            Name
                                                                        </th>
                                                                        <th>
                                                                            Mapping
                                                                        </th>

                                                                        <!-- MESES-->
                                                                        <th class="@(isActualOctubre ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualOctubre ? "ACT" : "FC") @MesesUtil.OCTUBRE.Abreviation-@rel_presente.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2) @if (!isActualOctubre)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualNoviembre ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualNoviembre ? "ACT" : "FC") @MesesUtil.NOVIEMBRE.Abreviation-@rel_presente.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2) @if (!isActualNoviembre)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualDiciembre ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualDiciembre ? "ACT" : "FC") @MesesUtil.DICIEMBRE.Abreviation-@rel_presente.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2) @if (!isActualDiciembre)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualEnero ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualEnero ? "ACT" : "FC") @MesesUtil.ENERO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualEnero)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualFebrero ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualFebrero ? "ACT" : "FC") @MesesUtil.FEBRERO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualFebrero)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualMarzo ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualMarzo ? "ACT" : "FC") @MesesUtil.MARZO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)  @if (!isActualMarzo)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualAbril ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualAbril ? "ACT" : "FC") @MesesUtil.ABRIL.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualAbril)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualMayo ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualMayo ? "ACT" : "FC") @MesesUtil.MAYO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualMayo)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualJunio ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualJunio ? "ACT" : "FC") @MesesUtil.JUNIO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualJunio)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualJulio ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualJulio ? "ACT" : "FC") @MesesUtil.JULIO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualJulio)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualAgosto ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualAgosto ? "ACT" : "FC") @MesesUtil.AGOSTO.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualAgosto)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th class="@(isActualSeptiembre ? "fondo_actual" : "fondo_forecast" )">
                                                                            @(isActualSeptiembre ? "ACT" : "FC") @MesesUtil.SEPTIEMBRE.Abreviation-@rel_presente.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2) @if (!isActualSeptiembre)
                                                                            {<span>&emsp;&emsp;&emsp;</span>}
                                                                        </th>
                                                                        <th>
                                                                            Totals
                                                                        </th>
                                                                        <th>
                                                                            Comentarios
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{ fila = 1;}
                                                                    @foreach (var item in valores_actual_forecast)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @fila
                                                                            </td>
                                                                            <td>
                                                                                @item.sap_account
                                                                            </td>
                                                                            <td>
                                                                                @item.name
                                                                            </td>
                                                                            <td>
                                                                                @item.mapping_bridge
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Octubre.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Octubre)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Noviembre.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Noviembre)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Diciembre.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Diciembre)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Enero.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Enero)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Febrero.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Febrero)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Marzo.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Marzo)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Abril.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Abril)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Mayo.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Mayo)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Junio.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Junio)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Julio.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Julio)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Agosto.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Agosto)
                                                                            </td>
                                                                            <td class="text_derecha">
                                                                                @if (item.Septiembre.HasValue)
                                                                                {<span>$</span>}
                                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Septiembre)
                                                                            </td>
                                                                            <td class="text_derecha" style="background-color:#d4f2fc; font-weight: bold;">
                                                                                $ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.TotalMeses().Value)
                                                                            </td>
                                                                            <td>
                                                                                @item.Comentario
                                                                            </td>
                                                                        </tr>
                                                                        fila++;
                                                                    }

                                                                    <tr style="font-weight: bold;">
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td style="background-color: #d4f2fc">Totals</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Octubre))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Noviembre))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Diciembre))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Enero))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Febrero))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Marzo))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Abril))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Mayo))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Junio))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Julio))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Agosto))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.Septiembre))</td>
                                                                        <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_actual_forecast.Sum(item => item.TotalMeses()))</td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>

                                                        </div>

                                                    }

                                                </div>
                                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                                    <div class="form-group row">

                                                        <table id="datatable_3" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr style=" background-color: #0094ff; color: azure;" !important>
                                                                    <th>
                                                                        Item
                                                                    </th>
                                                                    <th>
                                                                        SAP Account
                                                                    </th>
                                                                    <th>
                                                                        Name
                                                                    </th>
                                                                    <th>
                                                                        Mapping
                                                                    </th>

                                                                    <!-- MESES-->
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.OCTUBRE.Abreviation-@rel_proximo.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.NOVIEMBRE.Abreviation-@rel_proximo.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.DICIEMBRE.Abreviation-@rel_proximo.budget_anio_fiscal.anio_inicio.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.ENERO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.FEBRERO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.MARZO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.ABRIL.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.MAYO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.JUNIO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.JULIO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.AGOSTO.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th class="fondo_budget">
                                                                        BG @MesesUtil.SEPTIEMBRE.Abreviation-@rel_proximo.budget_anio_fiscal.anio_fin.ToString().Substring(2, 2)
                                                                    </th>
                                                                    <th>
                                                                        Totals
                                                                    </th>
                                                                    @*<th>
                                                                            Comentarios
                                                                        </th>*@
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{ fila = 1;}
                                                                @foreach (var item in valores_budget)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @fila
                                                                        </td>
                                                                        <td>
                                                                            @item.sap_account
                                                                        </td>
                                                                        <td>
                                                                            @item.name
                                                                        </td>
                                                                        <td>
                                                                            @item.mapping_bridge
                                                                        <td class="text_derecha">
                                                                            @if (item.Octubre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Octubre)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Noviembre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Noviembre)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Diciembre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Diciembre)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Enero.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Enero)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Febrero.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Febrero)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Marzo.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Marzo)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Abril.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Abril)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Mayo.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Mayo)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Junio.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Junio)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Julio.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Julio)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Agosto.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Agosto)
                                                                        </td>
                                                                        <td class="text_derecha">
                                                                            @if (item.Septiembre.HasValue)
                                                                            {<span>$</span>}
                                                                            @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Septiembre)
                                                                        </td>
                                                                        <td class="text_derecha" style="background-color:#d4f2fc; font-weight: bold;">
                                                                            $ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.TotalMeses().Value)
                                                                        </td>
                                                                        @*<td>
                                                                                @item.Comentario
                                                                            </td>*@
                                                                    </tr>

                                                                    fila++;
                                                                }
                                                                <tr style="font-weight: bold;">
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td style="background-color: #d4f2fc">Totals</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Octubre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Noviembre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Diciembre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Enero))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Febrero))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Marzo))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Abril))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Mayo))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Junio))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Julio))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Agosto))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.Septiembre))</td>
                                                                    <td style="background-color: #d4f2fc" class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", valores_budget.Sum(item => item.TotalMeses()))</td>
                                                                    @*<td></td>*@
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <a href="@Url.Action("Exportar", ViewBag.ControllerName, new
                                                {
                                                    id_centro_costo = centro_costo.id

                                                })" class="btn btn-success" target="_blank" title="Reporte">
                                            <i class="fa fa-cloud-download"></i> Export to Excel
                                        </a>

                                        <a href="@Url.Action("ImportActual", ViewBag.ControllerName, new
                                                {
                                                    id = centro_costo.id

                                                })" class="btn btn-info btm-sm" title="Import Actual">
                                            <i class="fa fa-cloud-upload"></i> Import
                                        </a>


                                        @if (rel_proximo != null && rel_proximo.estatus)
                                        {
                                            <a class="btn btn-danger float-right" title="Lock" style="color:white" onclick="showLockDialog(@rel_proximo.id)">
                                                <i class="fa fa-lock"></i> Lock Budget
                                            </a>
                                        }
                                        else if (rel_proximo == null)
                                        {
                                            <a class="btn btn-warning float-right disabled" title="Unlock" style="color:white">
                                                <i class="fa fa-unlock"></i> Unlock Budget
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning float-right" title="Unlock" style="color:white" onclick="showUnlockDialog(@rel_proximo.id)">
                                                <i class="fa fa-unlock"></i> Unlock Budget
                                            </a>
                                        }
                                        @if (rel_presente != null && rel_presente.estatus)
                                        {
                                            <a class="btn btn-danger float-right" title="Lock" style="color:white" onclick="showLockDialog(@rel_presente.id)">
                                                <i class="fa fa-lock"></i> Lock Forecast
                                            </a>
                                        }
                                        else if (rel_presente == null)
                                        {
                                            <a class="btn btn-warning float-right disabled" title="Unlock" style="color:white">
                                                <i class="fa fa-unlock"></i> Unlock Forecast
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-warning float-right" title="Unlock" style="color:white" onclick="showUnlockDialog(@rel_presente.id)">
                                                <i class="fa fa-unlock"></i> Unlock Forecast
                                            </a>
                                        }

                                    </div>
                                    <div class="form-group">
                                        <a onclick="javascript: volverAtras()" class="btn btn-round btn-info btm-sm" style="color:white" title="Go back">
                                            <i class="fa fa-arrow-circle-left"></i> Go Back
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Scripts/MvcFoolproofJQueryValidation.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>
        $(document).ready(function () {

            jQuery.extend(jQuery.validator.messages, {
                step: jQuery.validator.format("Dos decimales!")
            });

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "400px",
                "info": false,
                fixedColumns: {
                    left: 4
                }
            });

            var tabla2 = $('#datatable_2').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "400px",
                "info": false,
                fixedColumns: {
                    left: 4
                },
            });

            var tabla3 = $('#datatable_3').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "400px",
                "info": false,
                fixedColumns: {
                    left: 4
                }
            });

        });


        function ReiniciaTablaTimer() {

            setTimeout(ReiniciaTablas, 150);
            setTimeout(ReiniciaTablas, 220);
            setTimeout(ReiniciaTablas, 300);
        }

        function ReiniciaTablas() {
            clicMenu(2);
        }

        //muestra el modal para bloquear
        function showLockDialog(idRelFYCentro) {
            Swal.fire({
                title: 'Confirmation',
                text: "Are you sure you want to lock this cost center?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.isConfirmed) {

                    //bloquea el centro de costo
                    $.ajax({
                        type: 'POST',
                        url: '/BudgetControlling/CambiaEstatusRelFYCentro',
                        data: { idRelFYCentro: idRelFYCentro, activo: false },
                        success: function (data) {
                            try {
                                console.log(data);
                                if (data[0].Status == "OK") {
                                    //en caso de exito
                                    Swal.fire({
                                        title: 'Confirmation',
                                        text: "The cost center has been locked!",
                                        confirmButtonText: 'OK',
                                        allowOutsideClick: false
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // Vuelve a cargar la página actual sin la caché del navegador
                                            location.reload();
                                        }
                                    })

                                } else { //en caso de que el mensaje no sea exitoso muestra mensaje
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Ocurrió un error',
                                        text: 'Ha ocurrido un error, intente nuevamente.'
                                    })
                                }
                            } catch (error) {
                                //en caso de que no ser muestre info de ningun tipo muestra error
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Ocurrió un error',
                                    text: 'Ha ocurrido un error, intente nuevamente.'
                                })
                            }
                        },
                        error: function (textStatus, errorThrown) {
                            //en caso de error en la llamada ajax
                            Swal.fire({
                                icon: 'error',
                                title: 'Ocurrió un error',
                                text: 'Ha ocurrido un error, intente nuevamente.'
                            })
                        },
                        async: true
                    });

                }
            })

        }

        //muestra el modal para desbloquear
        function showUnlockDialog(idRelFYCentro) {
            Swal.fire({
                title: 'Confirmation',
                text: "Are you sure you want to unlock this cost center?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.isConfirmed) {

                    //bloquea el centro de costo
                    $.ajax({
                        type: 'POST',
                        url: '/BudgetControlling/CambiaEstatusRelFYCentro',
                        data: { idRelFYCentro: idRelFYCentro, activo: true },
                        success: function (data) {
                            try {
                                console.log(data);
                                if (data[0].Status == "OK") {
                                    //en caso de exito
                                    Swal.fire({
                                        title: 'Confirmation',
                                        text: "The cost center has been unlocked!",
                                        confirmButtonText: 'OK',
                                        allowOutsideClick: false
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            // Vuelve a cargar la página actual sin la caché del navegador
                                            location.reload();
                                        }
                                    })

                                } else { //en caso de que el mensaje no sea exitoso muestra mensaje
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Ocurrió un error',
                                        text: 'Ha ocurrido un error, intente nuevamente.'
                                    })
                                }
                            } catch (error) {
                                //en caso de que no ser muestre info de ningun tipo muestra error
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Ocurrió un error',
                                    text: 'Ha ocurrido un error, intente nuevamente.'
                                })
                            }
                        },
                        error: function (textStatus, errorThrown) {
                            //en caso de error en la llamada ajax
                            Swal.fire({
                                icon: 'error',
                                title: 'Ocurrió un error',
                                text: 'Ha ocurrido un error, intente nuevamente.'
                            })
                        },
                        async: true
                    });

                }
            })

        }

        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(1);
        }

    </script>

}

