
@model Portal_2_0.Models.budget_centro_costo
@using Bitacoras.Util

@{


    List<Portal_2_0.Models.view_valores_fiscal_year> valores_actual = (List<Portal_2_0.Models.view_valores_fiscal_year>)ViewBag.ValoresActual;
    List<Portal_2_0.Models.view_valores_fiscal_year> valores_actual_forecast = (List<Portal_2_0.Models.view_valores_fiscal_year>)ViewBag.ValoresActualForecast;
    List<Portal_2_0.Models.view_valores_fiscal_year> valores_budget = (List<Portal_2_0.Models.view_valores_fiscal_year>)ViewBag.ValoresBudget;

    Portal_2_0.Models.budget_anio_fiscal anio_Fiscal_anterior = (Portal_2_0.Models.budget_anio_fiscal)ViewBag.anio_Fiscal_anterior;
    Portal_2_0.Models.budget_anio_fiscal anio_Fiscal_actual = (Portal_2_0.Models.budget_anio_fiscal)ViewBag.anio_Fiscal_actual;
    Portal_2_0.Models.budget_anio_fiscal anio_Fiscal_proximo = (Portal_2_0.Models.budget_anio_fiscal)ViewBag.anio_Fiscal_proximo;

    ViewBag.Title = "Import Data";
    ViewBag.PrimerNivel = "plantilla_budget";
    ViewBag.SegundoNivel = "centro_costos";
    ViewBag.ControllerName = "BudgetControlling";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
    int fila = 1;
    decimal sumafila = 0;
    decimal sumaActual = 0;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!--fixed columns css-->
    <link href="@Url.Content("~/Content/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <style>
        .text_derecha {
            text-align: right;
        }
        /* Ensure that the demo table scrolls */
        th, td {
            white-space: nowrap;
        }

        .fondo_actual {
            background-color: #808080;
        }

        .fondo_forecast {
            background-color: #109d3f;
        }

        .fondo_budget {
            background-color: #4d2bcc;
        }
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />

}


<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="form-group">
                                        @*<a href="@Url.Action("Create", ViewBag.ControllerName)" class="btn btn-success">
                <i class="fa fa-plus-square"></i>
                Crear nuevo
            </a>*@
                                    </div>


                                    <div class="form-group row">
                                        <!--Planta-->
                                        <label class="control-label col-md-1 text_derecha">Plant</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="@Model.budget_departamentos.budget_plantas.descripcion" readonly>
                                        </div>
                                        <!--Deparment-->
                                        <label class="control-label col-md-1 text_derecha">Department</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" value="@Model.budget_departamentos.descripcion" readonly>
                                        </div>
                                        <!--Cost center-->
                                        <label class="control-label col-md-1 text_derecha">Cost Center</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="@Model.num_centro_costo" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <!--Description Name-->
                                        <label class="control-label col-md-1 text_derecha">Name</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" value="@Model.descripcion" readonly>
                                        </div>
                                    </div>
                                    @{
                                        String responsables = (string.Join("/", Model.budget_responsables.Select(x => x.empleados.ConcatNombre).ToArray()));
                                    }
                                    <div class="form-group row">
                                        <!--responsable-->
                                        <label class="control-label col-md-1 text_derecha">Responsable</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" value="@responsables" readonly>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>

                                    <div class="form-group row">
                                        <span style="color:black"><b>UPLOAD DATA</b></span>
                                    </div>

                                    @using (Html.BeginForm("ImportActual", "BudgetControlling", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "myForm" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.HiddenFor(model => model.id)
                                        @Html.HiddenFor(model => model.num_centro_costo)

                                        @* input para saber si está o no activo el campo de soporte *@
                                        <input type="hidden" name="cambio_documento" id="cambio_documento" value="0" />
                                        <input type="hidden" name="descripcion" id="descripcion" value="demo" />

                                        if (!Html.ViewData.ModelState.IsValid)
                                        {
                                            <div class="alert alert-danger" role="alert">
                                                @Html.ValidationSummary("", "Advertencia:")
                                            </div>
                                        }

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.PostedFile, new { @class = "control-label col-md-1 text_derecha" })
                                            <div class="col-md-5">

                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        @Html.TextBoxFor(m => m.PostedFile, new { @class = "custom-file-input", type = "file", @accept = ".xlsx", @required = "required" })
                                                        <label class="custom-file-label" for="PostedFileSoporte" style="text-align:left">Seleccione un archivo...</label>
                                                    </div>
                                                </div>
                                                @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-2">
                                                <div>
                                                    <input type="button" value="Load File" class="btn btn-success float-right" onclick="showDialog()" />
                                                </div>

                                            </div>
                                        </div>
                                    }

                                    <div class="ln_solid"></div>



                                    <a href="@Url.Action("Centros", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" style="color:white" title="Volver">
                                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Scripts/MvcFoolproofJQueryValidation.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

    <script>
        $(document).ready(function () {

            //inicializa en input file
            bsCustomFileInput.init()

            jQuery.extend(jQuery.validator.messages, {
                step: jQuery.validator.format("Dos decimales!")
            });

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "400px",
                "info": false,
                fixedColumns: {
                    left: 4
                }
            });

            var tabla2 = $('#datatable_2').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "400px",
                "info": false,
                fixedColumns: {
                    left: 4
                },
            });

            var tabla3 = $('#datatable_3').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "400px",
                "info": false,
                fixedColumns: {
                    left: 4
                }
            });



            //aumenta en uso cada vez que se hace un cambio en el archivo de soporte
            $("#PostedFile").on("change", function () {
                document.getElementById('cambio_documento').value = ++documento_soporte_cambios;
            });

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });

        //muestra el modal para bloquear
        function showDialog() {
            Swal.fire({
                title: 'Mensaje',
                text: "Advertencia: los datos capturados se sobreescribirán, ¿Desea Continuar? ",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Continuar'
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#myForm').submit();
                }
            })

        }

        //variable para saber si ha cambiado el formulario y asi no se detenga por doble submit
        var documento_soporte_cambios = 1;

        function ReiniciaTablaTimer() {

            setTimeout(ReiniciaTablas, 150);
            setTimeout(ReiniciaTablas, 220);
            setTimeout(ReiniciaTablas, 300);
        }

        function ReiniciaTablas() {
            clicMenu(2);
        }


        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(1);
        }

        //muestra modal de confirmación de cerrar pagina

        // Warning
        $(window).on('beforeunload', function () {
            return "Any changes will be lost";
        });

        // Form Submit
        $(document).on("submit", "form", function (event) {
            // disable unload warning
            $(window).off('beforeunload');
        });
    </script>

}
