@model IEnumerable<Portal_2_0.Models.budget_centro_costo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Concentrado de información";
    ViewBag.PrimerNivel = "plantilla_budget";
    ViewBag.SegundoNivel = "reportes";
    ViewBag.ControllerName = "BudgetControlling";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;

    string planta = string.Empty;
    if (paginacionFiltros.ValoresQueryString["planta"] != null)
    {
        planta = paginacionFiltros.ValoresQueryString["planta"].ToString();
    }

    string responsable = string.Empty;
    if (paginacionFiltros.ValoresQueryString["responsable"] != null)
    {
        responsable = paginacionFiltros.ValoresQueryString["responsable"].ToString();
    }

    string centro_costo = string.Empty;
    if (paginacionFiltros.ValoresQueryString["centro_costo"] != null)
    {
        centro_costo = paginacionFiltros.ValoresQueryString["centro_costo"].ToString();
    }

    int fila = 1;
}


@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                                        {


                                            <div class="form-group row ">
                                                <label class="control-label col-md-1 col-sm-1" for="planta" style="text-align:right">Planta:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("planta", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="planta" style="text-align:right">Responsable:</label>
                                                <div class="col-md-3 col-sm-3 ">
                                                    @Html.DropDownList("responsable", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="centro_costo" style="text-align:right">Centro de Costo:</label>
                                                <div class="col-md-3 col-sm-3">
                                                    <input type="text" class="form-control" name="centro_costo" id="centro_costo" value="@centro_costo" autocomplete="off">
                                                </div>
                                            </div>

                                            <div class="form-group row ">

                                                <div class="col-md-12 col-sm-12">
                                                    <input type="submit" value="Filtrar" class="btn btn-info float-right" />
                                                </div>
                                            </div>

                                        }
                                        <hr />
                                        @*@if (ViewBag.Create != null && ViewBag.Create)
                                            {
                                                <a href="@Url.Action( "Create", ViewBag.ControllerName)" class="btn btn-success">
                                                    <i class="fa fa-plus-square"></i>
                                                    Crear nuevo
                                                </a>
                                            }*@

                                    </div>
                                    <table id="datatable_1" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>

                                                <th>Acciones</th>
                                                <th>
                                                    Item
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.num_centro_costo)
                                                </th>
                                                <th>
                                                    Plant
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.id_budget_departamento)
                                                </th>
                                                <th>
                                                    Responsable
                                                </th>
                                                <th>
                                                    Estado Forecast
                                                </th>
                                                <th>
                                                    Estado Budget
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {

                                                String responsables = (string.Join("/", item.budget_responsables.Select(x => x.empleados.ConcatNombre).ToArray()));

                                            <tr>
                                                <td>
                                                    <a href="@Url.Action("DetailsCentro", ViewBag.ControllerName, new { id = item.id})" class="btn btn-info btm-sm" title="Detalles">
                                                        <i class="fa fa-info-circle"></i>
                                                    </a>
                                                    <a href="@Url.Action("ImportActual", ViewBag.ControllerName, new
                                                {
                                                    id = item.id

                                                })" class="btn btn-success btm-sm" title="Import Actual">
                                                        <i class="fa fa-cloud-upload"></i> Import
                                                    </a>
                                                </td>
                                                <td>
                                                    @fila
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.num_centro_costo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.budget_departamentos.budget_plantas.descripcion)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.budget_departamentos.descripcion)
                                                </td>
                                                <td>
                                                    <span>@responsables</span>
                                                </td>
                                                <td>
                                                    @if (item.RelAnioCentroActual_Forecast() == null)
                                                    {
                                                        <span>No disponible</span>
                                                    }
                                                    else if (item.RelAnioCentroActual_Forecast().estatus)
                                                    {
                                                        <span>Abierto</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Cerrado</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.RelAnioCentroProximo_Budget() == null)
                                                    {
                                                        <span>No disponible</span>
                                                    }
                                                    else if (item.RelAnioCentroProximo_Budget().estatus)
                                                    {
                                                        <span>Abierto</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Cerrado</span>
                                                    }
                                                </td>


                                            </tr>

                                                fila++;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <br />
                                @if (Model.Count() > 0)
                                {
                                    <nav id="nav_paginacion" aria-label="...">
                                        @{Html.RenderPartial("_Paginacion", Model);}
                                    </nav>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>

        $(document).ready(function () {

            //inicializa los data table
            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": true,
                "searching": false,
                "scrollX": true,
                "pageLength": 10,
                "lengthMenu": [5, 10, 20, 50],
                "info": true,

            });
            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });

        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(1);
        }


    </script>

}