@model Portal_2_0.Models.GV_solicitud

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comprobación de Gastos de Viaje";
    ViewBag.PrimerNivel = "gastos_viaje_comprobacion";
    ViewBag.SegundoNivel = "GV_comprobacion";
    ViewBag.ControllerName = "ComprobacionGV";

    int contador = 0;

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")
    <!-- iCheck -->
    <link href="@Url.Content("~/Content/vendors/iCheck/skins/square/green.css")" rel="stylesheet">
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <style>

        label {
            text-align: right;
        }

            label::after {
                content: ":";
            }

        nolabel > label::after {
            content: "";
        }

        .fondo_verde {
            background-color: green;
            color: #fffdf0;
            font-weight: bolder;
        }

        .fondo_amarillo {
            background-color: orange;
            color: #221f1f;
            font-weight: bolder;
        }
    </style>
}



<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    @*<div class="x_title">
                            <h2>@ViewBag.Title</h2>
                            <div class="clearfix"></div>
                        </div>*@
                    <div class="x_content">
                        <br />

                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="green" style="font-size:large"><i class="fa-solid fa-plane-departure"></i> DETALLES DE SOLICITUD DE GASTOS DE VIAJE (Haga clic para ver los detalles)</span>
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body" style="background-color: #ecf8f8">
                                        <div class="form-group row">
                                            <span style="color:black"><b>DATOS GENERALES (SOLICITUD)</b></span>
                                        </div>
                                        <div class="form-group row">
                                            <!--Folio-->
                                            <div class="col-md-10">
                                            </div>
                                            @Html.LabelFor(model => model.id, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-1">
                                                @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <!--SOLICITANTE-->
                                            @Html.LabelFor(model => model.id_solicitante, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-4">
                                                <input class="form-control" value="@Html.DisplayFor(model => model.empleados5.ConcatNombre)" readonly />
                                            </div>

                                            <!--Estatus-->
                                            @Html.LabelFor(model => model.estatus, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" value="@Bitacoras.Util.GV_solicitud_estatus.DescripcionStatus(Model.estatus)" readonly />
                                            </div>

                                            <!--Fecha-->
                                            @Html.LabelFor(model => model.fecha_solicitud, new { @class = "control-label col-md-2 float-right" })
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" value="@DateTime.Now" readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <!-- Empleado -->
                                            @Html.LabelFor(model => model.id_empleado, new { @class = "control-label col-md-1" })
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.empleados2.ConcatNombre)" readonly />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <!--Planta-->
                                            @Html.LabelFor(model => model.empleados2.planta_clave, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-3">
                                                <input class="form-control" id="empleado_planta" value="@Html.DisplayFor(model => model.empleados2.plantas.descripcion)" readonly />
                                            </div>
                                            <!--Departamento-->
                                            @Html.LabelFor(model => model.empleados2.id_area, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-3">
                                                <input class="form-control" id="empleado_area" value="@Html.DisplayFor(model => model.empleados2.Area.descripcion)" readonly />
                                            </div>
                                            <!--Puesto-->
                                            @Html.LabelFor(model => model.empleados2.puesto, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-3">
                                                <input class="form-control" id="empleado_puesto" value="@Html.DisplayFor(model => model.empleados2.puesto1.descripcion)" readonly />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <!--Planta-->
                                            @Html.LabelFor(model => model.id_jefe_directo, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-5">
                                                <input class="form-control" id="empleado_jefe" value="@Html.DisplayFor(model => model.empleados2.empleados2.ConcatNombre)" readonly />
                                            </div>

                                        </div>
                                        <div class="ln_solid"></div>

                                        <div class="form-group row">
                                            <span style="color:black"><b>INFORMACI&Oacute;N DEL VIAJE</b></span>
                                        </div>
                                        <!-- Tipo de Viaje -->
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.tipo_viaje, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-1 col-sm-1 offset-md-1">
                                                <input type="radio" id="nacional" name="tipo_viaje" value="NACIONAL" @(Model.tipo_viaje == Bitacoras.Util.GV_tipo_viaje.NACIONAL || String.IsNullOrEmpty(Model.tipo_viaje) ? "checked" : String.Empty) disabled>
                                                <nolabel>
                                                    <label for="nacional">Nacional</label>
                                                </nolabel>
                                            </div>
                                            <div class="col-md-1 col-sm-1">
                                                <input type="radio" id="extranjero" name="tipo_viaje" value="EXTRANJERO" @(Model.tipo_viaje == Bitacoras.Util.GV_tipo_viaje.EXTRANJERO ? "checked" : String.Empty) disabled>
                                                <nolabel>
                                                    <label for="extranjero">Extranjero</label>
                                                </nolabel>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.tipo_viaje, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.origen, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-5">
                                                @Html.EditorFor(model => model.origen, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                            @Html.LabelFor(model => model.destino, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-5">
                                                @Html.EditorFor(model => model.destino, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.fecha_salida, new { @class = "control-label col-md-1 float-right" })
                                            <div class="col-md-2">
                                                @Html.EditorFor(model => model.fecha_salida, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>

                                            @Html.LabelFor(model => model.fecha_regreso, new { @class = "control-label col-md-2 float-right" })
                                            <div class="col-md-2">
                                                @Html.EditorFor(model => model.fecha_regreso, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                            <label class="control-label col-md-1 float-right">Días</label>
                                            <div class="col-md-1">
                                                <input type="text" id="num_dias" name="num_dias" class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <span style="color:black"><b>MOTIVO DE VIAJE</b></span>
                                        </div>
                                        <div class="item form-group">
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(model => model.motivo_viaje, new { @class = "form-control", @rows = "4", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="ln_solid"></div>

                                        @if (Model.moneda_extranjera)
                                        {
                                            <!-- Solo aplica con moneda extranjera -->
                                            <div id="div_moneda_extranjera">
                                                <div class="form-group row">
                                                    <span style="color:black"><b>ESTIMACI&Oacute;N DE GASTOS A REALIZAR (MONEDA EXTRANJERA)</b></span>

                                                </div>
                                                <div class="form-group row">

                                                </div>
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.moneda_extranjera, new { @class = "control-label col-md-1 text_derecha" })
                                                    <div class="col-md-1">
                                                        @Html.EditorFor(m => m.moneda_extranjera, new { htmlAttributes = new { disabled = "disabled" } })
                                                    </div>
                                                    <!-- Moneda -->
                                                    @Html.LabelFor(model => model.iso_moneda_extranjera, new { @class = "control-label col-md-1" })
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" value="@Model.iso_moneda_extranjera" readonly />
                                                    </div>
                                                    @Html.LabelFor(model => model.moneda_extranjera_monto, new { @class = "control-label col-md-1 text_derecha" })
                                                    <div class="col-md-2">
                                                        @Html.EditorFor(m => m.moneda_extranjera_monto, new { htmlAttributes = new { @class = "precio form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    @Html.LabelFor(model => model.moneda_extranjera_comentarios, new { @class = "control-label col-md-12 col-sm-12", @style = "text-align:left" })

                                                </div>
                                                <div class="item form-group">
                                                    <div class="col-md-12">
                                                        @Html.TextAreaFor(model => model.moneda_extranjera_comentarios, new { @class = "form-control", @rows = "4", @readonly = "readonly" })
                                                    </div>
                                                </div>

                                                <div class="ln_solid"></div>
                                            </div>

                                        }

                                        <div class="table-responsive">
                                            <table id="datatable_1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr style=" background-color: #0094ff; color: azure;">
                                                        <th width="20%">
                                                            Concepto
                                                        </th>
                                                        <th width="12%">
                                                            Importe
                                                        </th>
                                                        <th width="12%">
                                                            Cantidad o días
                                                        </th>
                                                        <th width="12%">
                                                            Total
                                                        </th>
                                                        <th width="40%">
                                                            Comentarios
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="body_conceptos">
                                                    @foreach (var item in Model.GV_rel_gastos_solicitud)
                                                    {
                                                        <tr>
                                                            <td style="font-weight:bold">@item.GV_tipo_gastos_viaje.descripcion</td>
                                                            <td style="text-align:right">
                                                                $ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.importe)
                                                            </td>
                                                            <td style="text-align:right">
                                                                @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.cantidad)
                                                            </td>
                                                            <td id="total_fila_@contador" style="text-align:right" nowrap>
                                                                $ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.total)
                                                            </td>
                                                            <td>
                                                                @item.comentarios
                                                            </td>
                                                        </tr>
                                                        contador++;
                                                    }
                                                </tbody>

                                                <tfoot>
                                                    <tr>
                                                        <th colspan="3" style="text-align:right">Total</th>
                                                        <th id="total_gastos" style="text-align:right" nowrap>$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.sumaGastosNacional) MXN</th>
                                                        <th></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>

                                        <div class="form-group row">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left", @id = "formulario" }))
                        {
                            @Html.AntiForgeryToken()


                            @* Agrega campos ocultos para evitar que falle la validación del modelo de solicitud *@
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.origen)
                            @Html.HiddenFor(model => model.destino)
                            @Html.HiddenFor(model => model.id_medio_transporte)
                            @Html.HiddenFor(model => model.motivo_viaje)
                            @Html.HiddenFor(model => model.tipo_viaje)


                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <div class="col-md-12" style="text-align:center">
                                    <span class="green" style="font-size:x-large"><i class="fa-solid fa-check-to-slot"></i> COMPROBACI&Oacute;N DE GASTOS DE VIAJE</span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationSummary("", new { @class = "text-white" })
                                </div>
                            }
                            <div class="form-group row">
                                <span style="color:black"><b>CENTRO DE COSTO</b></span>
                            </div>
                            <div class="form-group row">
                                <!--Empleado-->
                                @Html.LabelFor(model => model.id_empleado, new { @class = "control-label col-md-1 float-right" })
                                <div class="col-md-4">
                                    <input class="form-control" value="@Html.DisplayFor(model => model.empleados2.ConcatNombre)" readonly />
                                </div>

                                <!--Empleado-->
                                @Html.LabelFor(model => model.empleados2.numeroEmpleado, new { @class = "control-label col-md-1 float-right" })
                                <div class="col-md-1">
                                    <input class="form-control" value="@Html.DisplayFor(model => model.empleados2.numeroEmpleado)" readonly />
                                </div>

                                <!--tarjeta Business card-->
                                @Html.LabelFor(model => model.GV_comprobacion.business_card, new { @class = "control-label col-md-1 float-right" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.GV_comprobacion.business_card, new { htmlAttributes = new { @class = "form-control col-md-12", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.GV_comprobacion.business_card, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="form-group row">
                                <!--Planta-->
                                <label class="control-label col-md-1 float-right">Planta</label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(m => m.GV_comprobacion.clave_planta, (IEnumerable<SelectListItem>)ViewBag.plantaClave, null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.GV_comprobacion.clave_planta, "", new { @class = "text-danger" })
                                </div>
                                <!--Planta-->
                                <label class="control-label col-md-1 float-right">Centro de Costo</label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.GV_comprobacion.id_centro_costo, (IEnumerable<SelectListItem>)ViewBag.id_centro_costo, null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.GV_comprobacion.id_centro_costo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <table id="datatable_1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr style=" background-color: #0094ff; color: azure;">
                                            <th width="1%">
                                                #
                                            </th>
                                            <th>
                                                Concepto
                                            </th>
                                            <th>
                                                Cuenta
                                            </th>
                                            <th>
                                                Factura
                                            </th>
                                            <th>
                                                Fecha Factura
                                            </th>
                                            <th>
                                                UUID/Folio Fiscal
                                            </th>
                                            <th>
                                                MONEDA
                                            </th>
                                            <th>
                                                ImporteFactura
                                            </th>
                                            <th>
                                                Tipo de Cambio
                                            </th>
                                            <th>
                                                Importe MXN
                                            </th>
                                            <th>
                                                Propina
                                            </th>
                                            <th>
                                                Validacion
                                            </th>
                                            <th>
                                                IVA
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="body_conceptos">

                                        @*<tr>
                                                <td>
                                                    1
                                                </td>
                                                <td width="10%">
                                                    <select name="planta" class="form-control select2bs4" style="width:100%">
                                                        <option value="">-- Selecccionar --</option>
                                                        <option value="1">No Deducibles (610010)</option>
                                                        <option value="2">Hospedaje (610030)</option>
                                                        <option value="3">Comidas (610040)</option>
                                                        <option value="4">Vuelos (610070)</option>
                                                        <option value="5">Transporte terrestre (610071)</option>
                                                        <option value="6">Renta de automovil (610072)</option>
                                                        <option value="7">Casetas (610073)</option>
                                                        <option value="8">Combustible (610074)</option>
                                                        <option value="9">Varios (610080)</option>

                                                    </select>
                                                </td>
                                                <td>
                                                    610030
                                                </td>
                                                <td>
                                                    ¿?
                                                </td>
                                                <td>
                                                    @DateTime.Now.ToShortDateString()
                                                </td>
                                                <td>
                                                    4910a97d-0b1b-42b1-b579-2c8ae297eca3
                                                </td>
                                                <td>
                                                    MXN
                                                </td>
                                                <td>
                                                    $ 123.45
                                                </td>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    $ 100.00
                                                </td>
                                                <td>
                                                    $ 0.00
                                                </td>
                                                <td>
                                                    ¿?
                                                </td>
                                                <td>
                                                    $ 123.45
                                                </td>
                                                <td>
                                                    Total?
                                                </td>
                                                <td><button type="button" class="btn btn-danger float-lg-left"><i class="fa-solid fa-trash-can"></i></button></td>
                                            </tr>*@
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="13" style="text-align:right">Total Moneda Origen</th>
                                            <th id="total_gastos" style="text-align:right" nowrap>$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.sumaGastosNacional) MXN</th>
                                        </tr>
                                        <tr>
                                            <th colspan="13" style="text-align:right">Total MXN</th>
                                            <th id="total_gastos" style="text-align:right" nowrap>$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.sumaGastosNacional) MXN</th>
                                        </tr>
                                        <tr>
                                            <th colspan="13" style="text-align:right">ANTICIPO</th>
                                            <th id="total_gastos" style="text-align:right" nowrap>$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.sumaGastosNacional) MXN</th>
                                        </tr>
                                        <tr>
                                            <th colspan="13" style="text-align:right">SALDO POR COMPROBAR</th>
                                            <th id="total_gastos" style="text-align:right" nowrap>$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.sumaGastosNacional) MXN</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>CARGAR FACTURA NACIONAL</b></span>
                            </div>
                            <div id="error-msj-div" class="alert alert-danger" role="alert" style="display:none">
                            </div>
                            <div class="form-group row">
                                <span style="color:darkgray"><b>Opci&oacute;n 1 (a trav&eacute;s de COFIDI):</b></span>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-1 float-right">UUID</label>
                                <div class="col-md-4">
                                    <input type="text" id="uuid_field" name="uuid_field" class="form-control" value="" />
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <button type="button" id="buscar-uuid" class="btn btn-warning float-lg-left"><i class="fa-solid fa-magnifying-glass"></i>&nbsp; Buscar</button>
                                </div>
                            </div>
                            <div class="form-group row">
                                <span style="color:darkgray"><b>Opci&oacute;n 2 (Carga de archivo .xml):</b></span>
                            </div>
                            <div class="item form-group">
                                <label for="archivo1" class="control-label col-md-1">XML:</label>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" id="archivo1" name="archivo1" class="custom-file-input" accept=".xml,.xml" />
                                            <label class="custom-file-label" for="archivo1" style="text-align:left">Seleccione un archivo...</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <button id="cargar-factura-btn" type="button" class="btn btn-warning float-lg-left"><i class="fa-solid fa-upload"></i>&nbsp; Cargar Factura</button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>CARGAR FACTURA EXTRANJERA</b></span>
                            </div>

                            <div id="error-msj-div" class="alert alert-danger" role="alert" style="display:none">
                            </div>

                            <div class="item form-group">

                                <label class="control-label col-md-1 float-right">Fecha:</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <label class="control-label col-md-1 float-right">Monto:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <label for="archivo1" class="control-label col-md-1">Comprobante:</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" id="archivo2" name="archivo2" class="custom-file-input" accept=".xml,.xml" />
                                            <label class="custom-file-label" for="archivo1" style="text-align:left">Seleccione un archivo...</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1">
                                    <button type="button" class="btn btn-warning float-lg-left"><i class="fa-solid fa-plus"></i>&nbsp; Agregar Comprobante</button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>CONCEPTO SIN COMPROBANTES (Ej. PROPINAS)</b></span>
                            </div>

                            <div id="error-msj-div" class="alert alert-danger" role="alert" style="display:none">
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-1 float-right">Descripci&oacute;n:</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <label class="control-label col-md-1 float-right">Fecha:</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" value="" />
                                </div>
                                <label class="control-label col-md-1 float-right">Monto:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control" value="" />
                                </div>

                                <div class="col-md-1 col-sm-1">
                                    <button type="button" class="btn btn-warning float-lg-left"><i class="fa-solid fa-plus"></i>&nbsp; Agregar</button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 offset-md-12">
                                    <button type="submit" class="btn btn-success btn-lg float-lg-right"> <i class="fa-regular fa-floppy-disk"></i>&nbsp; Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="javascript: history.go(-1)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/jquery-iu/jquery-ui.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/MvcFoolproofJQueryValidation.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")
    @Scripts.Render(Url.Content("~/Content/vendors/moment/moment.js"))
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))
    <!-- input mask -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"))
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>



    <script>
        $(document).ready(function () {
            //inicializa en input file
            bsCustomFileInput.init();

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%' // optional
            });

            //agrega evento para cambio de empleado
            calculaDias();

            //input mask
            $('.precio').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'allowMinus': false, 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('.cantidad').inputmask({ 'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'allowMinus': false, 'placeholder': '0', 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#@Html.IdFor(model => model.GV_comprobacion.business_card)').inputmask({ 'mask': '9999-9999-9999-9999', 'autoGroup': true, 'autoUnmask': true, 'removeMaskOnSubmit': true });
            $('#uuid_field').inputmask( { 'mask': '********-****-****-****-************', 'autoGroup': true, 'autoUnmask': true, 'removeMaskOnSubmit': true });

            //asigna evento para valor de centros de costo
            $('#@Html.IdFor(model => model.GV_comprobacion.clave_planta)').change(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Combos/obtieneGVCentros',
                    data: { clavePlanta: $(this).val() },
                    success: function (data) {
                        populateDropdown($('#@Html.IdFor(model => model.GV_comprobacion.id_centro_costo)'), data);
                    },
                    async: true
                });

                verificaEstadoCombos();

                // Initialize Select2 Elements
                $('.select2bs4').select2({
                    theme: 'bootstrap4'
                })

            });

            //evento para leer el archivo xml
            $("#cargar-factura-btn").click(function () {
                leeXML();
            });

             //evento para buscar uuid desde cofidi
            $("#buscar-uuid").click(function () {
                BuscaXML();
            });

            //al cargar la página por primera vez
            verificaEstadoCombos();

        });

        function leeXML(){
            //var f = $(this);
            var formData = new FormData(document.getElementById("formulario"));
            formData.append("dato", "valor");
            //formData.append(f.attr("name"), $(this)[0].files[0]);
            $.ajax({
                url: "/ComprobacionGV/ObtieneConceptos",
                type: "post",
                dataType: "html",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    try {
                        //convierte la respuesta en archivo json
                        let datos = JSON.parse(data)
                        let estatus = datos[0].status;

                        console.log(datos);

                        //verifica si se leyó correctamente el archivo xlsx
                        if (estatus == "ERROR") {
                            $("#error-msj-div").html(datos[0].value);
                            $("#error-msj-div").hide().show('slide', 300);
                            $("#info-msj-div").hide();
                            //borra la tabla
                            $("#div_ocultos").html('');
                            //recargaTabla('');
                            $("#archivo1").val('');
                            $('#archivo1').next('label').html('Seleccione un archivo...');

                        } else if (datos[0].status == "OK") {

                            $("#div_ocultos").html(datos[0].div_ocultos);
                            //recargaTabla(datos[0].value);

                            Swal.fire({
                                icon: 'success',
                                title: 'Mensaje',
                                text: 'Se cargó la factura XML, verifique que los datos obtenidos sean correctos.',
                                confirmButtonText: 'Aceptar',
                            });
                            $("#error-msj-div").hide();
                            //borra el archivo una vez que se ha cargado
                            $("#archivo1").val('');
                            $('#archivo1').next('label').html('Seleccione un archivo...');
                        }

                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Ocurrió un error obteniendo la información: ' + error,
                            confirmButtonText: 'Aceptar',
                        })
                        $("#archivo1").val('');
                        $('#archivo1').next('label').html('Seleccione un archivo...');
                    }

                },
                error: function (textStatus, errorThrown) {
                    //en caso de error en la llamada ajax
                    Swal.fire({
                        icon: 'error',
                        title: 'Ocurrió un error: ' + errorThrown,
                        text: 'Intente nuevamente.'
                    })
                },
                async: true

            });
        }

        function BuscaXML() {
            //var f = $(this);

            var formData = new FormData(document.getElementById("formulario"));
            formData.append("dato", "valor");

            //formData.append(f.attr("name"), $(this)[0].files[0]);
            $.ajax({
                url: "/ComprobacionGV/BuscaCOFIDI",
                type: "post",
                dataType: "html",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    try {
                        //convierte la respuesta en archivo json
                        let datos = JSON.parse(data)
                        let estatus = datos[0].status;

                        console.log(datos);

                        //verifica si se leyó correctamente el archivo xlsx
                        if (estatus == "ERROR") {
                            $("#error-msj-div").html(datos[0].value);
                            $("#error-msj-div").hide().show('slide', 300);
                            $("#info-msj-div").hide();
                            //borra la tabla
                            $("#div_ocultos").html('');
                            //recargaTabla('');
                            $("#archivo1").val('');
                            $('#archivo1').next('label').html('Seleccione un archivo...');

                        } else if (datos[0].status == "OK") {

                            $("#div_ocultos").html(datos[0].div_ocultos);
                            //recargaTabla(datos[0].value);

                            Swal.fire({
                                icon: 'success',
                                title: 'Mensaje',
                                text: 'Se cargó la factura XML, verifique que los datos obtenidos sean correctos.',
                                confirmButtonText: 'Aceptar',
                            });
                            $("#error-msj-div").hide();
                            //borra el archivo una vez que se ha cargado
                            $("#archivo1").val('');
                            $('#archivo1').next('label').html('Seleccione un archivo...');

                        } else if (datos[0].status == "404") {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Mensaje',
                                text: 'No se encontró una factura asociada. Verifique los datos y/o ingrese la factura de forma manual.',
                                confirmButtonText: 'Aceptar',
                            })
                            $("#error-msj-div").hide();
                            //borra el archivo una vez que se ha cargado
                            $("#archivo1").val('');
                            $('#archivo1').next('label').html('Seleccione un archivo...');
                        }

                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Ocurrió un error obteniendo la información: ' + error,
                            confirmButtonText: 'Aceptar',
                        })
                        $("#archivo1").val('');
                        $('#archivo1').next('label').html('Seleccione un archivo...');
                    }

                },
                error: function (textStatus, errorThrown) {
                    //en caso de error en la llamada ajax
                    Swal.fire({
                        icon: 'error',
                        title: 'Ocurrió un error: ' + errorThrown,
                        text: 'Intente nuevamente.'
                    })
                },
                async: true

            });
        }

        //completa el selec con los datos recibidos
        function populateDropdown(select, data) {
            select.html('');
            $.each(data, function (id, option) {
                select.append($('<option></option>').val(option.value).html(option.name));
            });
        }

        //activa y desactiva los combos
    function verificaEstadoCombos() {

            var planta = $("#@Html.IdFor(model => model.GV_comprobacion.clave_planta) option:selected").val();

            if (planta == "") {
                $('#@Html.IdFor(model => model.GV_comprobacion.id_centro_costo)').prop("disabled", true);
            }
            else {
                $('#@Html.IdFor(model => model.GV_comprobacion.id_centro_costo)').prop("disabled", false);
            }

        }

        //variable para formatear numeros
        internationalNumberFormat = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        });


    //Calcula los dias del viaje
        function calculaDias() {
            var inicial = $('#@Html.IdFor(model => model.fecha_salida)').val();
            var regreso = $('#@Html.IdFor(model => model.fecha_regreso)').val();

            var a = moment(inicial);
            var b = moment(regreso)

            if (moment(inicial).isValid() && moment(regreso).isValid()) {
                //calcula la diferencia y actualiza los días
                var dias = b.diff(a, 'days');
                dias = dias + 1;

                $('#num_dias').val(dias);

                if (dias < 1) {
                    $('#num_dias').val("--");
                }
            } else {
                $('#num_dias').val("--");
            }

        }

        window.onload = function () {
            clicMenu(1);
        }
    </script>
}



