@model Portal_2_0.Models.BG_IHS_rel_regiones

@{
    ViewBag.Title = "Editar asociación Planta/Región";
    ViewBag.PrimerNivel = "budget_ihs";
    ViewBag.SegundoNivel = "budget_ihs_catalogos";
    ViewBag.TercelNivel = "BG_IHS_rel_regiones";
    ViewBag.ControllerName = "BG_IHS_rel_regiones";
}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
}


<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.production_plant)

                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationSummary("", new { @class = "text-white" })
                                </div>
                            }

                            <div class="item form-group">
                                @Html.LabelFor(model => model.id, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" class="form-control" value="@Html.DisplayFor(model => model.id)" readonly />
                                </div>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.production_plant, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.EditorFor(model => model.production_plant, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.production_plant, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="item form-group">
                                <!--id centro -->
                                @Html.LabelFor(model => model.id_bg_ihs_region, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    @Html.DropDownList("id_bg_ihs_region", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%", @required="required" })
                                    @Html.ValidationMessageFor(model => model.id_bg_ihs_region, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))

    <script>
        $(document).ready(function () {
            // Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        });

    </script>
}
