@model Portal_2_0.Models.BG_Forecast_cat_defaults

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Valores por defecto";
    ViewBag.PrimerNivel = "budget_forecast";
    ViewBag.SegundoNivel = "listado_forecast";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    ViewBag.nav_style = "nav-sm";

}

@section estilos
{

    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">

    <style>
        .bootstrap-datetimepicker-widget table td.cw {
            color: #007bff;
        }
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-group">
                            @* Los valores por defecto estaán en el primer registro *@
                            <a href="@Url.Action( "Edit", ViewBag.ControllerName, new {id=1})" class="btn btn-success">
                                <i class="fa fa-plus-square"></i>
                                Editar Valores
                            </a>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group row">
                            <span style="color:black"><b>SCRAP PUEBLA</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.scrap_acero_valor_puebla, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_acero_valor_puebla)" readonly />
                            </div>
                            @Html.LabelFor(model => model.scrap_acero_ganancia_puebla, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_acero_ganancia_puebla)" readonly />
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.scrap_aluminio_valor_puebla, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_aluminio_valor_puebla)" readonly />
                            </div>
                            @Html.LabelFor(model => model.scrap_aluminio_ganancia_puebla, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_aluminio_ganancia_puebla)" readonly />
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>SCRAP SILAO</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.scrap_acero_valor_silao, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_acero_valor_silao)" readonly />
                            </div>
                            @Html.LabelFor(model => model.scrap_acero_ganancia_silao, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_acero_ganancia_silao)" readonly />
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.scrap_aluminio_valor_silao, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_aluminio_valor_silao)" readonly />
                            </div>
                            @Html.LabelFor(model => model.scrap_aluminio_ganancia_silao, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_aluminio_ganancia_silao)" readonly />
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group row">
                            <span style="color:black"><b>SCRAP SAN LUIS POTOSI</b></span>
                        </div>

                        <div class="item form-group">
                            @Html.LabelFor(model => model.scrap_acero_valor_slp, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_acero_valor_slp)" readonly />
                            </div>
                            @Html.LabelFor(model => model.scrap_acero_ganancia_slp, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_acero_ganancia_slp)" readonly />
                            </div>
                        </div>
                        <div class="item form-group">
                            @Html.LabelFor(model => model.scrap_aluminio_valor_slp, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_aluminio_valor_slp)" readonly />
                            </div>
                            @Html.LabelFor(model => model.scrap_aluminio_ganancia_slp, new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                            <div class="col-md-2 col-sm-2 ">
                                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.scrap_aluminio_ganancia_slp)" readonly />
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", "BG_Forecast_reporte")" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/dataTables_js")


    <script>
        $(document).ready(function () {
            var tabla = $('#table-menu').DataTable({
                "paging": true,
                "ordering": false,
                "searching": true,
                "scrollX": true,
                "info": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
            });
        });
    </script>

}