@model Portal_2_0.Models.PFA

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Request Premium Freight Approval";
    ViewBag.PrimerNivel = "PFA";
    ViewBag.SegundoNivel = "PFA_registro";
    ViewBag.ControllerName = "PremiumFreightApproval";

    Portal_2_0.Models.empleados solicitante = (Portal_2_0.Models.empleados)ViewBag.Solicitante;

}

@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

    <style>
        label {
            text-align: right;
        }

            label::after {
                content: ":";
            }
    </style>
}


<input type="hidden" value="@Model.id_PFA_Department" id="cDepartment" />
<input type="hidden" value="@Model.id_PFA_volume" id="cVolume" />
<input type="hidden" value="@Model.id_PFA_border_port" id="cBorder" />
<input type="hidden" value="@Model.id_PFA_destination_plant" id="cDestinationPlant" />
<input type="hidden" value="@Model.id_PFA_reason" id="cReason" />
<input type="hidden" value="@Model.id_PFA_type_shipment" id="cTypeShipment" />
<input type="hidden" value="@Model.id_PFA_responsible_cost" id="cResponsible" />
<input type="hidden" value="@Model.id_PFA_recovered_cost" id="cRecovered" />
<input type="hidden" value="@Model.id_PFA_autorizador" id="cAuthorizer" />



<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("Edit", "PremiumFreightApproval", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                        {
                            @Html.AntiForgeryToken()

                            if (!Html.ViewData.ModelState.IsValid)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @Html.ValidationSummary("", new { @class = "text-white" })
                                </div>
                            }

                            //Valores ocultos
                            <input type="hidden" id="id_solicitante" name="id_solicitante" value="@solicitante.id">
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(model => model.activo)
                            @Html.HiddenFor(model => model.date_request)
                            @Html.HiddenFor(model => model.estatus)
                            @Html.HiddenFor(model => model.razon_rechazo)
                            @Html.HiddenFor(model => model.id_document_support)

                            <div class="form-group row">
                                @if (Model.estatus == Bitacoras.Util.PFA_Status.RECHAZADO && !String.IsNullOrEmpty(Model.razon_rechazo))
                                {
                                    <div class="alert alert-danger col-md-12" role="alert">
                                        <i class="fa fa-exclamation-triangle" style="color:yellow"></i> @Model.razon_rechazo
                                    </div>
                                }
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(model => model.id_solicitante, new { @class = "control-label col-md-1" })
                                <input type="text" class="form-control col-md-4" value="@solicitante.ConcatNombre" readonly>
                                @Html.ValidationMessageFor(model => model.id_solicitante, "", new { @class = "text-danger" })
                                <!--Request date-->
                                <label class="control-label col-md-2 float-right">
                                    Date of Request
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control col-md-12" style="text-align: right;" value="@Model.date_request.ToString("yyyy-MM-dd")" readonly>
                                </div>
                                <!--ID Solicitud-->
                                <label class="control-label col-md-2 float-right">
                                    Number of PFA
                                </label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control col-md-12" style="text-align: right;" value="@Model.id" readonly>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>DEPARTMENT</b></span>
                            </div>
                            <div class="form-group row">

                                @Html.LabelFor(model => model.id_PFA_Department, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_Department", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_Department, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.mill, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.mill, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.mill, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.customer, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.customer, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.customer, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>SAP</b></span>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.sap_part_number, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.sap_part_number, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.sap_part_number, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.customer_part_number, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.customer_part_number, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.customer_part_number, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.volume, new { @class = "control-label col-md-1" })
                                <div class="col-md-2">
                                    @Html.EditorFor(m => m.volume, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.volume, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1">
                                    @Html.DropDownList("id_PFA_volume", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_volume, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>DESTINATION</b></span>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.id_PFA_border_port, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_border_port", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_border_port, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.id_PFA_destination_plant, new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_destination_plant", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_destination_plant, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>PREMIUM FREIGHT</b></span>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.id_PFA_reason, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_reason", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_reason, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.id_PFA_type_shipment, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_type_shipment", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_type_shipment, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.id_PFA_responsible_cost, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_responsible_cost", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_responsible_cost, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            //PARA SUBIDA DE ARCHIVOS

                            <div class="ln_solid" id="div_separador_soporte" style="@(Model!=null && Model.id_PFA_responsible_cost >1 ? "" : "display:none" )"></div>


                            <div class="form-group row" id="div_is_accepted" style="@(Model!=null && Model.id_PFA_responsible_cost >1 ? "" : "display:none" )">
                                @Html.LabelFor(model => model.cost_is_accepted, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(m => m.cost_is_accepted, new { htmlAttributes = new { @class = "form-control select2bs4", @style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.cost_is_accepted, "", new { @class = "text-danger" })
                                </div>
                            </div>@*<div class="form-group row" id="div_email_support" style="@(Model!=null && Model.cost_is_accepted.HasValue && Model.cost_is_accepted.Value ? "" : "display:none" )">
                @Html.LabelFor(model => model.email_support, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(m => m.email_support, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.email_support, "", new { @class = "text-danger" })
                </div>
            </div>*@

                            if (Model != null && Model.id_document_support.HasValue && Model.cost_is_accepted.HasValue && Model.cost_is_accepted.Value)
                            {
                                <div class="form-group row" id="div_document_support">
                                    @Html.LabelFor(model => model.id_document_support, new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        <input type="text" class="form-control col-md-12" style="text-align: right;" value="@Model.biblioteca_digital.Nombre" readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="@Url.Action("DownloadFile","Combos", new { idDocumento = Model.id_document_support})" class="btn btn-success btm-sm" title="Download">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a href="@Url.Action("DownloadFile","Combos", new { idDocumento = Model.id_document_support, inline=true})" class="btn btn-info btm-sm" target="_blank" title="Inline">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a onclick="muestraFileInput()" class="btn btn-danger btm-sm" title="Delete" style="color:white">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="form-group row" id="div_document_support" style="@(Model != null && Model.cost_is_accepted.HasValue && Model.cost_is_accepted.Value ? "" : "display:none" )">
                                    @Html.LabelFor(model => model.id_document_support, new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                @Html.TextBoxFor(m => m.PostedFile, new { type = "file", @accept = ".xls,.xlsx,.png, .jpeg, .jpg, .pdf, .doc, .docx, .rar, .zip" })
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            @* input para saber si está o no activo el campo de soporte *@
                            <input type="hidden" name="cambio_documento_soporte" id="cambio_documento_soporte" value="0" />

                            <div class="form-group row" id="div_document_support_2" style="display:none">
                                @Html.LabelFor(model => model.id_document_support, new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(m => m.PostedFile, new { type = "file", @accept = ".xls,.xlsx,.png, .jpeg, .jpg, .pdf, .doc, .docx, .rar, .zip", @required = "required" })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1">
                                    <div class="input-group">
                                        @if (Model.id_document_support.HasValue)
                                        {
                                            <a onclick="ocultaFileInput()" class="btn btn-warning btm-sm" title="Deshacer" style="color:white">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>COST</b></span>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.total_pf_cost, new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(m => m.total_pf_cost, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.total_pf_cost, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.total_cost, new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(m => m.total_cost, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.total_cost, "", new { @class = "text-danger" })
                                </div>

                                <label class="control-label col-md-2">
                                    Total Cost to Recover (usd)
                                </label>
                                <div class="col-md-2">
                                    <input type="text" id="total_coast_to_recover" name="total_coast_to_recover" class="form-control col-md-12" style="text-align: right;" value="" readonly>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>INFO RECOVERED</b></span>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.id_PFA_recovered_cost, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("id_PFA_recovered_cost", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_recovered_cost, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.promise_recovering_date, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.promise_recovering_date, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.promise_recovering_date, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.credit_debit_note_number, new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.credit_debit_note_number, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.credit_debit_note_number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(model => model.is_recovered, new { @class = "control-label col-md-1" })
                                <div class="col-md-2">
                                    @Html.EditorFor(m => m.is_recovered, new { htmlAttributes = new { @class = "form-control select2bs4", @style = "width:100%" } })
                                    @Html.ValidationMessageFor(model => model.is_recovered, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>AUTHORIZER</b></span>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.id_PFA_autorizador, new { @class = "control-label col-md-1" })
                                <div class="col-md-8">
                                    @Html.DropDownList("id_PFA_autorizador", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.id_PFA_autorizador, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group row">
                                <span style="color:black"><b>COMENTARIOS</b></span>
                            </div>
                            <div class="item form-group">
                                @Html.LabelFor(model => model.comentarios, new { @class = "control-label col-md-12 col-sm-12", @style = "text-align: left" })

                            </div>
                            <div class="item form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.comentarios, new { @class = "form-control", @rows = "4", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.comentarios, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-12 col-sm-12 offset-md-12">
                                    <button type="submit" class="btn btn-success btn-lg float-lg-right">Guardar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/Forms/PFA_edit.js"))

}

