@model Portal_2_0.Models.OT_zona_falla

@{
    ViewBag.Title = "Deshabilitar Crear Zona de Falla";
    ViewBag.PrimerNivel = "orden_trabajo";
    ViewBag.SegundoNivel = "OT_zona_falla";
    ViewBag.ControllerName = "OT_zona_falla";
}

<div class="right_col" role="main">
    <div class="">
        
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">                    

                    <!-- /.col -->
                    <div class="col-md-12">
                       
                            <h3>¿Realmente desea deshabilitar este registro?</h3>
                            <div class="form-group row">
                                <span style="color:black"><b>DATOS GENERALES</b></span>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Planta</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" value="@Html.DisplayFor(model => model.produccion_lineas.plantas.descripcion)" readonly />
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.id_linea, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" value="@Html.DisplayFor(model => model.produccion_lineas.linea)" readonly />
                                </div>
                            </div>

                            <div class="item form-group">
                                @Html.LabelFor(model => model.zona_falla, new { @class = "col-form-label col-md-3 col-sm-3 label-align" })
                                <div class="col-md-6 col-sm-6 ">
                                    <input class="form-control" value="@Html.DisplayFor(model => model.zona_falla)" readonly />
                                </div>
                            </div>
                        
                    </div>
                    <div class="col-md-12">
                        <p class="float-md-left">
                            <a href="@Url.Action("Edit", ViewBag.ControllerName, new { id = Model.id})" class="btn btn-success btm-sm" title="Editar">
                                <i class="fa-regular fa-pen-to-square"></i> Editar
                            </a>
                        </p>
                        <p class="float-md-right">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color float-md-right">
                                    <input type="submit" value="Deshabilitar" class="btn btn-danger btm-sm" />
                                </div>
                            }
                        </p>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        window.onload = function () {
            clicMenu(2);
        }
</script>

