
@model Portal_2_0.Models.ExcelViewInventarioSAPModel

@{
    ViewBag.Title = "Carga Inventario SAP";
    ViewBag.PrimerNivel = "ci_conteo_inventario";
    ViewBag.SegundoNivel = "ci_conteo_inventario_sap";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];
    ViewBag.nav_style = "nav-sm";

}
@section estilos
{
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                    <div class="alert alert-info" role="alert">
                                        <b style="color:orange; font-size:larger"><u>¡ADVERTENCIA!</u></b> <br />
                                        <ul style="font-size:15px;">
                                            <li>Se borrarán todos los materiales de la planta seccionada y se reemplazarán con los nuevos valores.</li>
                                            <li>Si se carga un nuevo archivo, deberá de cargarse nuevamente el archivo espesores con tolerancias.</li>
                                        </ul>
                                        
                                    </div>
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="cambio_documento_soporte" id="cambio_documento_soporte" value="0" />


                                            if (!Html.ViewData.ModelState.IsValid)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    @Html.ValidationSummary("", "Advertencia:")
                                                </div>
                                            }


                                            <div class="item form-group">
                                                @Html.LabelFor(model => model.codigo_sap, htmlAttributes: new { @class = "col-form-label col-md-2 col-sm-2 label-align" })
                                                <div class="col-md-2 col-sm-2">
                                                    @Html.DropDownList("codigo_sap", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%", @required = "required" })
                                                    @Html.ValidationMessageFor(model => model.codigo_sap, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-2 label-align">Archivo </label>
                                                <div class="col-md-4">

                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            @Html.TextBoxFor(m => m.PostedFile, new { @class = "custom-file-input", type = "file" })
                                                            <label class="custom-file-label" for="PostedFileSolicitud_1" style="text-align:left" data-browse="Seleccionar">Seleccione un archivo...</label>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div>
                                                    <input type="submit" value="Cargar archivo" class="btn btn-success float-lg-left" />
                                                </div>
                                            </div>
                                        }

                                    </div>


                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        //variable para saber si ha cambiado el formulario y asi no se detenga por doble submit
        var documento_soporte_cambios = 1;

        $(document).ready(function () {
            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //inicializa en input file
            bsCustomFileInput.init()

            //aumenta en uso cada vez que se hace un cambio en el archivo de soporte
            $(".custom-file-input").on("change", function () {
                document.getElementById('cambio_documento_soporte').value = ++documento_soporte_cambios;
                console.log("entra")
            });

        });
    </script>
}