
@using Clases.Util;
@model IEnumerable<Portal_2_0.Models.CI_conteo_inventario>

@{
    ViewBag.Title = "Inventario";
    ViewBag.PrimerNivel = "ci_conteo_inventario";
    ViewBag.SegundoNivel = "ci_conteo";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];
    ViewBag.nav_style = "nav-sm";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        .carga {
            padding: 15px;
            background-color: black;
            opacity: .3;
            color: red;
        }

        .completo {
            background-color: #d5fcd6;
            color: black;
        }
         .ajustar {
            background-color: #ffbb8a;
            color: black;
        }
           .multiple-dentro {
            background-color: #b7e1ff;
            color: black;
        }

        .dataTables_filter input {
            /*width: 300px*/
        }


        .search_1,  .search_8, .search_9, .search_10, .search_11, .search_12 {
            display: none;
        }

        .search_2, .search_3, .search_5,  .search_7,  .search_11, .search_14, .search_15, .search_16 {
            max-width: 65px;
        }

        .search_4, .search_6, .search_9, .search_13 {
            max-width: 75px;
        }

        .search_8, .search_10, .search_12 {
            max-width: 85px;
        }

        table button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>
}

@{Html.RenderPartial("_BlockUI", Model);}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">


    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-group" style="text-align:right;color:black">
                                    <a class="btn btn-warning" id="limpiar-btn">
                                        <i class="fa-solid fa-arrows-rotate"></i>
                                        Limpiar Filtros
                                    </a>
                                </div>
                                <div class="card-box table-responsive">

                                    <table id="datatable_individual_searching" class="table table-bordered" cellspacing="0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Acciones</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.plant)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.storage_location)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.storage_bin)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.batch)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.material)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.num_tarima)
                                                </th>
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.base_unit_measure)
                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.pieces)
                                                </th>
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.unrestricted)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.blocked)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.in_quality)
                                </th>*@
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.value_stock)
                                </th>*@
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.gauge)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.gauge_min)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.gauge_max)
                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.altura)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.espesor)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.cantidad_teorica)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.diferencia_sap)
                                                </th>
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.total_piezas_min)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.total_piezas_max)
                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.validacion)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td nowrap width="0%">
                                                        <button onclick="editar(@item.id)" class="btn btn-success btn-sm btn-block">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.plant)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.storage_location)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.storage_bin)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.material)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.num_tarima)
                                                    </td>
                                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.base_unit_measure)
                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.pieces)
                                                    </td>
                                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.unrestricted)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.blocked)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.in_quality)
                                    </td>*@
                                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.value_stock)
                                    </td>*@
                                                    @*<td>
                                        @Html.DisplayNameFor(model => model.gauge)
                                    </td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.gauge_min)
                                    </td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.gauge_max)
                                    </td>*@
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.altura)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.espesor)
                                                    </td>
                                                    <td>
                                                         @Html.DisplayNameFor(model => model.cantidad_teorica)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.diferencia_sap)
                                                    </td>
                                                    @*<td>
                                        @Html.DisplayNameFor(model => model.total_piezas_min)
                                    </td>
                                    <td>
                                        @Html.DisplayNameFor(model => model.total_piezas_max)
                                    </td>*@
                                                    <td>
                                                        @Html.DisplayNameFor(model => model.validacion)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Acciones</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.plant)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.storage_location)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.storage_bin)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.batch)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.material)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.num_tarima)
                                                </th>
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.base_unit_measure)
                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.pieces)
                                                </th>
                                                @* <th>
                                    @Html.DisplayNameFor(model => model.unrestricted)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.blocked)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.in_quality)
                                </th>*@
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.value_stock)
                                </th>*@
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.gauge)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.gauge_min)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.gauge_max)
                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.altura)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.espesor)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.cantidad_teorica)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.diferencia_sap)
                                                </th>
                                                @*<th>
                                    @Html.DisplayNameFor(model => model.total_piezas_min)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.total_piezas_max)
                                </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.validacion)
                                                </th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <br />
                                @*<div class="form-group">
                    <button type="button" id="export-btn" class="btn btn-success"><i class="fa-regular fa-file-excel"></i> Exportar Excel</button>
                </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" id="export-btn" class="btn btn-success"><i class="fa-regular fa-file-excel"></i> Exportar Excel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- datatables con bootstrap -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <!-- Para usar los botones -->
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <!-- Para los estilos en Excel     -->
    <script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.1.2/js/buttons.html5.styles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables-buttons-excel-styles@1.1.2/js/buttons.html5.styles.templates.min.js"></script>


    <script>


    //variables globales
    let stop = false;

    const popupCenterRU = ({ url, title, w, h }) => {
        // Fixes dual-screen position                             Most browsers      Firefox
        const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screenX;
        const dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screenY;

        const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        const systemZoom = width / window.screen.availWidth;
        const left = (width - w) / 2 / systemZoom + dualScreenLeft
        const top = (height - h) / 2 / systemZoom + dualScreenTop
        const newWindow = window.open(url, title,
            `
                          scrollbars=yes,
                          width=${w / systemZoom},
                          height=${h / systemZoom},
                          top=${top},
                          left=${left}
                        `
        )

        if (window.focus) newWindow.focus();

        //DETERMINA SI LA VENTANA HA SIDO CERRADA
        var tiempo = 0;
        var interval = setInterval(function () {
            //Comprobamos que la ventana no este cerrada
            if (newWindow.closed !== false) {
                //Si la ventana ha sido cerrada, limpiamos el contador
                window.clearInterval(interval)

                let page = table.page();

                //actualiza la página

                cargaTabla();

                for (var i = 1; i < 12; i++) {
                    setTimeout(function () {
                        console.log('entra: ' + page)
                        table.page(page).draw(false)
                    }, 1000*i);
                }

                //window.location.reload();
                //Deshabilita el contador
                stop = false;
            } else {
                //Mientras no se cierra la ventana sumamos los segundos
                tiempo += 1;
            }
        }, 1000)

    }

        $(document).ready(function () {


            //maneja el envió el del formulario
            $('#limpiar-btn').click(function (e) {
                table.search('');
                table.columns().search('').draw();
                $('input', $('.filters th')[0]).each(function () {
                    $(this).val('');
                });

            });

            // Setup - add a text input to each footer cell
            $('#datatable_individual_searching tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title.trim() + '"/>');
            });

            // DataTable
            table = $('#datatable_individual_searching').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                order: [[1, 'asc']],
                columnDefs: [{ width: '10px' }],
                "columns": [
                    { "data": "acciones" },
                    { "data": "plant" },
                    { "data": "storage_location" },
                    { "data": "storage_bin" },
                    { "data": "batch" },
                    { "data": "material" },
                    { "data": "numTarimaString" },
                    //{ "data": "base_unit_measure" },
                    { "data": "pieces" },
                    //{ "data": "unrestricted" },
                    //{ "data": "blocked" },
                    //{ "data": "in_quality" },
                    //{ "data": "value_stock" },
                    //{ "data": "gauge" },
                    //{ "data": "gauge_min" },
                    //{ "data": "gauge_max" },
                    { "data": "altura" },
                    { "data": "espesor" },
                    { "data": "cantidad_teorica" },
                    { "data": "diferencia_sap" },
                    //{ "data": "total_piezas_min" },
                    //{ "data": "total_piezas_max" },
                    { "data": "validacion" },
                ],
                //dom: "Bfrtip", //necesario para los botoners
                //buttons: [

                //    {
                //        extend: "excel",
                //        text: "Exportar a Excel",
                //        className: "btn btn-success",
                //        excelStyles: [                     // Add an excelStyles definition

                //            {
                //                cells: "sC",  // Smart select Columns A and B
                //                style: {
                //                    //fill: {
                //                    //    pattern: {
                //                    //        color: 'BCD6EE', // Light red color
                //                    //    }
                //                    //},
                //                    font: {                     // Style the font
                //                        b: true,               // Remove bolding from header row
                //                    },
                //                }
                //            },
                //            {
                //                cells: "1:2",  // Smart select Columns A and B
                //                style: {                        // The style block
                //                    font: {                     // Style the font
                //                        name: "Calibri",          // Font name
                //                        size: "11",             // Font size
                //                        color: "FFFFFF",        // Font Color
                //                        b: true,               // Remove bolding from header row
                //                    },
                //                    fill: {                     // Style the cell fill (background)
                //                        pattern: {              // Type of fill (pattern or gradient)
                //                            color: "0094ff",    // Fill color
                //                        }
                //                    }
                //                }
                //            },
                //            {
                //                template: [
                //                    "outline_blue_gray",
                //                    "title_medium"]
                //                ,   // Apply the "green_medium" template
                //            },
                //        ],
                //    },

                //],
                initComplete: function () {
                    //coloca los filtros al inicio de la tabla

                    var r = $('#datatable_individual_searching tfoot tr');
                    let index = 1;
                    r.find('th input').each(function () {
                        $(this).addClass("search_" + index);
                        index++;
                    });
                    $('#datatable_individual_searching thead').append(r);
                    $('#search_0').css('text-align', 'center');

                    // Apply the search
                    this.api()
                        .columns()
                        .every(function () {
                            var that = this;

                            $('input', this.footer()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                        });
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                    if (aData.validacion.includes("(Múltiple) Dentro")) {
                        $(nRow).addClass('multiple-dentro');
                    }else if (aData.validacion.includes("Ajustar")) {
                        $(nRow).addClass('ajustar');
                    }
                    else if (aData.validacion.includes("Dentro")) {
                        $(nRow).addClass('completo');
                    } else {
                        $(nRow).addClass('incompleto');
                    }
                },
                //"pageLength": 20,
                //"lengthMenu": [5, 10, 20, 50],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                stateSave: true,

            });

            var state = table.state.loaded();
            if (state) {

                table.columns().eq(0).each(function (colIdx) {


                    var colSearch = state.columns[colIdx].search;

                    if (colSearch.search) {
                        let indice = 0;

                        //  $('input', $('.filters th')[colIdx]).val(colSearch.search);
                        $('th > :input').each(function () {
                            if (indice == colIdx)
                                $(this).val(colSearch.search);
                            indice++;
                        });
                    }
                });
                table.draw();
            }
            BloqueaPantalla();
              $.ajax({
                type: 'POST',
                url: '/@ViewBag.ControllerName/CargaTabla',
                data: { },
                        success: function (data) {
                            console.log(data)

                    table.clear();
                    for (var i = 0; i < data.data.length; i++) {
                        table.row.add(data.data[i]);
                    }

                    table.draw(true);

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(errorThrown)
                        },
                async: false
                    });

            //evento para exportar a excel
            $("#export-btn").click(function () {
                exportar("exportar");
            });

            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            $.unblockUI();

        });

    function editar(id) {

        //abre la ventana emergente
        popupCenterRU({ url: '/@ViewBag.ControllerName/Edit/'+id, title: 'Editar registro', w: screen.width * .60, h: screen.height * .60 });

        //Deshabilita el contador
        stop = true;
    }

        function cargaTabla() {

                    $.ajax({
                type: 'POST',
                url: '/@ViewBag.ControllerName/CargaTabla',
                data: { },
                        success: function (data) {
                            console.log(data)

                    table.clear();
                    for (var i = 0; i < data.data.length; i++) {
                        table.row.add(data.data[i]);
                    }

                    table.draw(true);

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(errorThrown)
                        },
                async: true
                    });


    }


        function exportar(ruta) {
            let index = 0;        
         
            //carga ventana con parámetros url
            let url = new URL(location.href +'/'+ ruta);         

            window.open(url);
        }

        //variable global para la tabla
        var table;


    </script>

}
