@model IEnumerable<Portal_2_0.Models.CTZ_Projects>
@{
    ViewBag.Title = "Catalogs";
    ViewBag.PrimerNivel = "cotizador";
    ViewBag.SegundoNivel = "ctz_catalogs";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];
    ViewBag.nav_style = "nav-sm";


    bool canViewManagePermissions = ViewBag.CanViewManagePermissions as bool? ?? false;
    bool canEditManagePermissions = ViewBag.CanEditManagePermissions as bool? ?? false;
    bool canViewForeignTrade = ViewBag.CanViewForeignTrade as bool? ?? false;
    bool canEditForeignTrade = ViewBag.CanEditForeignTrade as bool? ?? false;
    bool canViewDataManagement = ViewBag.CanViewDataManagement as bool? ?? false;
    bool canEditDataManagement = ViewBag.CanEditDataManagement as bool? ?? false;
    bool canViewCatalogsEngineering = ViewBag.CanViewCatalogsEngineering as bool? ?? false;
    bool canEditCatalogsEngineering = ViewBag.CanEditCatalogsEngineering as bool? ?? false;
}

@section estilos
{
    <style>
        /* Estilos para la sección de catálogos */
        .catalog-area {
            border: 2px solid #009ff5;
            border-radius: 6px;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #f9fcff;
        }

            .catalog-area h3 {
                color: #009ff5;
                margin-top: 0;
                margin-bottom: 10px;
            }

            .catalog-area p {
                margin-bottom: 15px;
            }

            .catalog-area .btn-catalog {
                background-color: #009ff5;
                border-color: #009ff5;
                color: #fff;
            }

                .catalog-area .btn-catalog:hover,
                .catalog-area .btn-catalog:focus {
                    background-color: #007dc4; /* Un tono más oscuro al hacer hover */
                    border-color: #007dc4;
                    color: #fff;
                }
    </style>
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Inicio Contenido -->
                        <!-- Sección para el área de Engineering -->
                        @if (canViewCatalogsEngineering)
                        {
                            <div class="catalog-area">
                                <h3><i class="fa fa-cogs"></i> Engineering</h3>
                                <p>
                                    Manage engineering-related catalogs, such as dimension data and other reference information.
                                </p>

                                @* Engineering Dimension *@
                                @{
                                    var btnClassEd1 = "btn btn-catalog";
                                    var hrefEd1 = Url.Action("engineering_dimension", ViewBag.ControllerName);
                                    var extraEd1 = "";
                                    if (!canEditCatalogsEngineering)
                                    {
                                        btnClassEd1 += " disabled";
                                        hrefEd1 = "#";
                                        extraEd1 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefEd1" class="@btnClassEd1" @Html.Raw(extraEd1)>
                                    <i class="fa fa-wrench"></i> Engineering Dimension
                                </a>

                                @* Strokes per Minute *@
                                @{
                                    var btnClassEd2 = "btn btn-catalog";
                                    var hrefEd2 = Url.Action("strokes_per_minute", ViewBag.ControllerName);
                                    var extraEd2 = "";
                                    if (!canEditCatalogsEngineering)
                                    {
                                        btnClassEd2 += " disabled";
                                        hrefEd2 = "#";
                                        extraEd2 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefEd2" class="@btnClassEd2" @Html.Raw(extraEd2)>
                                    <i class="fa fa-clock"></i> Strokes per Minute
                                </a>

                                @* OEE *@
                                @{
                                    var btnClassEd3 = "btn btn-catalog";
                                    var hrefEd3 = Url.Action("CTZ_OEE", ViewBag.ControllerName);
                                    var extraEd3 = "";
                                    if (!canEditCatalogsEngineering)
                                    {
                                        btnClassEd3 += " disabled";
                                        hrefEd3 = "#";
                                        extraEd3 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }

                                @{
                                    var btnClassEd4 = "btn btn-catalog";
                                    var hrefEd4 = Url.Action("TechnicalInformation", "CTZ_Catalogs"); // Apunta a la nueva acción
                                    var extraEd4 = "";
                                    if (!canEditCatalogsEngineering)
                                    {
                                        btnClassEd4 += " disabled";
                                        hrefEd4 = "#";
                                        extraEd4 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefEd4" class="@btnClassEd4" @Html.Raw(extraEd4)>
                                    <i class="fa fa-list-alt"></i> Technical Information
                                </a>
                                <a href="@hrefEd3" class="@btnClassEd3" @Html.Raw(extraEd3)>
                                    <i class="fa-solid fa-gauge-high"></i> OEE
                                </a>

                                @{
                                    var btnClassPkg = "btn btn-catalog";
                                    var hrefPkg = Url.Action("ManagePackagingCatalogs", "CTZ_Catalogs");
                                    var extraPkg = "";
                                    if (!canEditCatalogsEngineering) // Usamos el mismo permiso por ahora
                                    {
                                        btnClassPkg += " disabled";
                                        hrefPkg = "#";
                                        extraPkg = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefPkg" class="@btnClassPkg" @Html.Raw(extraPkg)>
                                    <i class="fa fa-box-open"></i> Manage Packaging
                                </a>

                            </div>
                        }
                        <!-- Sección para el área de Data Management -->
                        @if (canViewDataManagement)
                        {
                            <div class="catalog-area">
                                <h3><i class="fa fa-layer-group"></i> Data Management</h3>
                                <p>
                                    Manage Data Management-related catalogs, such as Efficiency and Capacity.
                                </p>

                                @* Times per Line *@
                                @{
                                    var btnClass1 = "btn btn-catalog";
                                    var href1 = Url.Action("hours_by_line", ViewBag.ControllerName);
                                    var extra1 = "";
                                    if (!canEditDataManagement)
                                    {
                                        btnClass1 += " disabled";
                                        href1 = "#";
                                        extra1 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@href1" class="@btnClass1" @Html.Raw(extra1)>
                                    <i class="fa fa-clock"></i> Times per Line
                                </a>

                                @* Holidays Calendar *@
                                @{
                                    var btnClass2 = "btn btn-catalog";
                                    var href2 = Url.Action("CTZ_Holidays", ViewBag.ControllerName);
                                    var extra2 = "";
                                    if (!canEditDataManagement)
                                    {
                                        btnClass2 += " disabled";
                                        href2 = "#";
                                        extra2 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }

                                <a href="@href2" class="@btnClass2" @Html.Raw(extra2)>
                                    <i class="fa fa-calendar-alt"></i> Holidays Calendar
                                </a>

                                @{
                                    var btnClass3 = "btn btn-catalog";
                                    var href3 = Url.Action("RejectionReasons", "CTZ_Catalogs");
                                    var extra3 = canViewDataManagement ? "" : " disabled tabindex=\"-1\" aria-disabled=\"true\"";
                                }
                                <a href="@href3" class="@btnClass3" @Html.Raw(extra3)>
                                    <i class="fa fa-ban"></i> Rejection Reasons
                                </a>
                                <!-- Actividades por departamento -->
                                @{
                                    var btnClass4 = "btn btn-catalog";
                                    var href4 = Url.Action("DepartmentActivities", ViewBag.ControllerName);
                                    var extra4 = "";
                                    if (!canEditDataManagement)
                                    {
                                        btnClass4 += " disabled";
                                        href4 = "#";
                                        extra4 = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@href4" class="@btnClass4" @Html.Raw(extra4)>
                                    <i class="fa-solid fa-list-check"></i> Manage Department Activities
                                </a>

                                @{
                                    var btnClassClients = "btn btn-catalog";
                                    var hrefClients = Url.Action("Clients", "CTZ_Catalogs");
                                    var extraClients = "";
                                    if (!canEditDataManagement) // O usa un permiso específico si lo creas
                                    {
                                        btnClassClients += " disabled";
                                        hrefClients = "#";
                                        extraClients = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefClients" class="@btnClassClients" @Html.Raw(extraClients)>
                                    <i class="fa fa-users"></i> Manage Clients
                                </a>

                                @{
                                    var btnClassOEMs = "btn btn-catalog";
                                    var hrefOEMs = Url.Action("OEMs", "CTZ_Catalogs");
                                    var extraOEMs = "";
                                    if (!canEditDataManagement) // O usa un permiso específico si lo creas
                                    {
                                        btnClassOEMs += " disabled";
                                        hrefOEMs = "#";
                                        extraOEMs = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefOEMs" class="@btnClassOEMs" @Html.Raw(extraOEMs)>
                                    <i class="fa fa-users"></i> Manage OEMs
                                </a>
                                @{
                                    var btnClassShifts = "btn btn-catalog";
                                    var hrefShifts = Url.Action("ManageShifts", "CTZ_Catalogs"); // Apunta a la nueva acción
                                    var extraShifts = "";
                                    if (!canEditDataManagement)
                                    {
                                        btnClassShifts += " disabled";
                                        hrefShifts = "#";
                                        extraShifts = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefShifts" class="@btnClassShifts" @Html.Raw(extraShifts)>
                                    <i class="fa fa-industry"></i> Manage Shifts by Plant
                                </a>
                            </div>
                        }
                        <!-- Sección para Foreign Trade -->
                        @if (canViewForeignTrade)
                        {
                            <div class="catalog-area">
                                <h3><i class="fa fa-globe"></i> Foreign Trade</h3>
                                <p>
                                    Manage foreign-trade catalogs, such as countries and Incoterms.
                                </p>
                                @{
                                    var btnClassFT = "btn btn-catalog";
                                    var hrefFT = Url.Action("CTZ_countries", "CTZ_Catalogs");
                                    var extraFT = "";
                                    if (!canEditForeignTrade)
                                    {
                                        btnClassFT += " disabled";
                                        hrefFT = "#";
                                        extraFT = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }
                                <a href="@hrefFT" class="@btnClassFT" @Html.Raw(extraFT)>
                                    <i class="fa fa-flag"></i> Manage Countries
                                </a>
                            </div>
                        }

                        @if (canViewManagePermissions)
                        {
                            <!-- Admin section -->
                            <div class="catalog-area">
                                <h3><i class="fa fa-user-shield"></i> Role &amp; Permission Management</h3>
                                <p>
                                    Manage user roles and their permissions across application resources.
                                </p>

                                @{
                                    // Construimos dinámicamente los atributos del botón
                                    var btnClass = "btn btn-catalog";
                                    var href = Url.Action("ManagePermissions", (string)ViewBag.ControllerName);
                                    var extra = "";
                                    if (!canEditManagePermissions)
                                    {
                                        btnClass += " disabled";
                                        href = "#";                             // evita navegación
                                        extra = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }
                                }

                                <a href="@href" class="@btnClass" @Html.Raw(extra)>
                                    <i class="fa fa-key"></i> Open Permissions Panel
                                </a>

                                @if (canViewManagePermissions)
                                {

                                    // Botón de Empleados
                                    var btnClassEmp = "btn btn-catalog";
                                    var hrefEmp = Url.Action("ManageEmployees", (string)ViewBag.ControllerName);
                                    var extraEmp = "";
                                    if (!canViewManagePermissions)
                                    {
                                        btnClassEmp += " disabled";
                                        hrefEmp = "#";
                                        extraEmp = " tabindex=\"-1\" aria-disabled=\"true\"";
                                    }

                                    <a href="@hrefEmp"
                                       class="@btnClassEmp"
                                       @Html.Raw(extraEmp)>
                                        <i class="fa fa-users"></i> Manage Employees
                                    </a>
                                }

                            </div>
                        }

                        <!-- Finaliza Contenido -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- jQuery ya está incluido en la plantilla base -->
    <script>
        $(document).ready(function () {
            // Aquí puedes agregar funcionalidad adicional si es necesario
        });
    </script>
}
