
@model Portal_2_0.Models.ExcelViewModel

@{
    ViewBag.Title = "Carga Export4Import";
    ViewBag.PrimerNivel = "IT_epo_wsus";
    ViewBag.SegundoNivel = "IT_reporte_usuarios";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];
    ViewBag.nav_style = "nav-sm";

}


<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            if (!Html.ViewData.ModelState.IsValid)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    @Html.ValidationSummary("", "Advertencia:")
                                                </div>
                                            }

                                            <div class="form-group row">
                                                @Html.LabelFor(m => m.PostedFile, new { @class = "col-sm-2 col-form-label" })
                                                <div class="col-sm-10">
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            @Html.TextBoxFor(m => m.PostedFile, new { type = "file", @accept = ".xls,.xlsx" })

                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <input type="submit" value="Cargar archivo" class="btn btn-success float-lg-left" />
                                                </div>
                                            </div>
                                        }

                                    </div>


                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {

        });


    </script>
}


