@model Portal_2_0.Models.ExcelViewModel

@{
    ViewBag.Title = "Carga Concentrado Budget";
    ViewBag.PrimerNivel = "index_forecast";
    ViewBag.SegundoNivel = "carga_masiva_forecast";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];
    ViewBag.nav_style = "nav-sm";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
}

@section estilos {
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet" />
    <style>
        /* Estilos personalizados */
        .form-section {
            margin-bottom: 30px;
            background: #fff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

            .form-section h4 {
                border-bottom: 2px solid #eee;
                margin-bottom: 20px;
                padding-bottom: 5px;
                font-weight: 600;
            }

        .custom-file-input ~ .custom-file-label::after {
            content: "Examinar";
        }
    </style>
}


@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="container-fluid">
        <!-- Encabezado de la página -->
        @*<div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <h3>@ViewBag.Title</h3>
                    </div>
                </div>
            </div>*@
        <div class="clearfix"></div>


        <!-- Sección: Cargar Plantilla -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-section">
                    <h4>Cargar Plantilla de Excel</h4>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        if (!Html.ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger" role="alert">
                                @Html.ValidationSummary("", "Advertencia:")
                            </div>
                        }

                        <div class="form-group row">
                            @Html.LabelFor(m => m.PostedFile, new { @class = "col-sm-2 col-form-label" })
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    @Html.TextBoxFor(m => m.PostedFile, new { type = "file", @class = "custom-file-input", accept = ".xls,.xlsx" })
                                    <label class="custom-file-label" for="PostedFile">Seleccione archivo Excel</label>
                                </div>
                                @Html.ValidationMessageFor(m => m.PostedFile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="submit" value="Cargar archivo" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    <script>
        $(document).ready(function () {
            // Inicializar Select2
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            // Actualizar el label del input file con el nombre del archivo seleccionado
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });



        });
    </script>
}
