@using Clases.Util;

@model Portal_2_0.Models.RU_rel_usuarios_planta

@{
    ViewBag.Title = "Registro de Unidades (Eliminar Relación Usuarios)";
    ViewBag.PrimerNivel = "registro_unidades";
    ViewBag.SegundoNivel = "usuarios";
    ViewBag.nav_style = "nav-sm";
    ViewBag.ControllerName = ViewContext.RouteData.Values["controller"];

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;

}
@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">
    <link href="~/Content/step-progress-bar.css?fecha=@DateTime.Now" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
}

@*@{Html.RenderPartial("_BlockUI", Model);}*@

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">


                                <h3>¿Desea Eliminar este registro?</h3>
                                <div>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.AspNetUsers.Email)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.plantas.descripcion)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.plantas.descripcion)
                                        </dd>

                                    </dl>

                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()



                                        <div class="form-actions no-color">
                                            <input type="submit" value="Borrar" class="btn btn-danger " /> |

                                            <a href="@Url.Action( "Index", ViewBag.ControllerName)" class="btn btn-success">
                                                Volver al listado
                                            </a>

                                        </div>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/dataTables_js")
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlertColored.js"))
    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- input mask -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.js"))
    <script>
        //steps funcionality

        document.addEventListener('DOMContentLoaded', function () {
            //inicializa los data table


            // Initialize Select2 Elements (debe ir después de asignar el valor)
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })




        });



    </script>
}
