@model Portal_2_0.Models.RU_rel_usuarios_planta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RU_rel_usuarios_planta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.plantas.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.plantas.descripcion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
