@using Clases.Util;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Portal thyssenkrupp | @ViewBag.Title </title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("~/Content/vendors/nprogress/nprogress.css")" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="@Url.Content("~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css")" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/build/css/custom.css")" rel="stylesheet">

    @RenderSection("estilos", required: false)
    
</head>

<body class="nav-md" id="body">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"> <img src="~/Content/images/logo_4_200px.png" alt="" width="200"> </a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @if (Request.IsAuthenticated)
                            {
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    @*PRIMER NIVEL*@
                                    <li class="@(ViewBag.PrimerNivel == "home" ? "active" : null )">
                                        <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "home" ? "display:block" : null )">
                                            <li class="@(ViewBag.SegundoNivel == "home" ? "current-page" : null )"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                                        </ul>
                                    </li>
                                    @if (User.IsInRole(TipoRoles.RH))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "recursos_humanos" ? "active" : null )">
                                            <a><i class="fa fa-child"></i>Recursos Humanos<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "recursos_humanos" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "areas" ? "current-page" : null )"><a href="@Url.Action( "Index", "Areas")">Areas</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "puestos" ? "current-page" : null )"><a href="@Url.Action( "Index", "Puestos")">Puestos</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "empleados" ? "current-page" : null )"><a href="@Url.Action( "Index", "Empleados")">Empleados</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @if (User.IsInRole(TipoRoles.ADMIN))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "catalogos_admin" ? "active" : null )">
                                            <a><i class="fa fa-database"></i>Cat&aacute;logos Admin <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "catalogos_admin" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "plantas" ? "current-page" : null )"><a href="@Url.Action( "Index", "Plantas")">Plantas</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @if (User.IsInRole(TipoRoles.USERS))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "usuarios" ? "active" : null )">
                                            <a><i class="fa fa-cog"></i>Usuarios <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "usuarios" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "roles" ? "current-page" : null )"><a href="@Url.Action( "Index", "RolesAdmin")">Roles</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "usuarios" ? "current-page" : null )"><a href="@Url.Action("Index", "UsersAdmin")">Usuarios</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @*@if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_CATALOGOS) || User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_REGISTRO))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "bitacoras_produccion" ? "active" : null )">
                                            <a><i class="fa fa-database"></i>Producci&oacute;n - Cat&aacute;logos <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "bitacoras_produccion" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "current-page" : null )"><a href="@Url.Action( "Index", "RolesAdmin")">Turnos</a></li>
                                            </ul>
                                        </li>
                                    }*@

                                    @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_CATALOGOS) || User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_REGISTRO))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "bitacoras_produccion" ? "active" : null )">
                                            <a><i class="fa fa-tasks"></i> Producci&oacute;n<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_CATALOGOS))
                                                {
                                                    <li class="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "active" : null )">
                                                        <a>C&aacute;talogos <span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "display:block" : null )">
                                                            <li class="@(ViewBag.TercelNivel == "produccion_turnos" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionTurnos")">Turnos</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "produccion_lineas" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionLineas")">L&iacute;neas Producci&oacute;n</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "produccion_supervisores" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionSupervisores")">Supervisores</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "produccion_operadores" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionOperadores")">Operadores</a></li>
                                                            @if (User.IsInRole(TipoRoles.ADMIN))
                                                            { 
                                                                 <li class="@(ViewBag.TercelNivel == "produccion_bom" ? "current-page" : null )"><a href="@Url.Action( "Index", "Bom")">Bom</a></li>
                                                            }
                                                            </ul>
                                                    </li>
                                                }

                                                @*<li>
                                                    <a href="#level1_2">Level One</a>
                                                </li>*@
                                                    @*Ejemplo de más submenus
                                                    @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_CATALOGOS))
                                                {
                                                    <li class="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "active" : null )">
                                                        <a>C&aacute;talogos <span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "display:block" : null )">
                                                            <li class="@(ViewBag.TercelNivel == "produccion_turnos" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionTurnos")">Turnos</a></li>
                                                        </ul>
                                                    </li>
                                                }*@
                                            </ul>
                                        </li>

                                    }
                                </ul>
                            }
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Mi usuario" href="@Url.Action( "Index", "Manage")">
                            <span class="glyphicon glyphicon-user" style="color:lightgray" aria-hidden="true"></span>
                        </a> <a data-toggle="tooltip" data-placement="top" title="Próximamente">
                            <span class="glyphicon glyphicon-info-sign" style="color:lightgray" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Próximamente">
                            <span class="glyphicon glyphicon-time" style="color:lightgray" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Próximamente">
                            <span class="glyphicon glyphicon-question-sign" style="color:lightgray" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->

            @Html.Partial("_LoginPartial")

            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    &copy; @DateTime.Now.Year - thyssenkrupp
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery/dist/jquery.min.js"))
    <!-- Bootstrap -->
    @Scripts.Render(Url.Content("~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"))
    <!-- FastClick -->
    @Scripts.Render(Url.Content("~/Content/vendors/fastclick/lib/fastclick.js"))
    <!-- NProgress -->
    @Scripts.Render(Url.Content("~/Content/vendors/nprogress/nprogress.js"))
    <!-- jQuery custom content scroller -->
    @Scripts.Render(Url.Content("~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"))


    @RenderSection("scripts", required: false)

    <!-- Custom Theme Scripts -->
    @Scripts.Render(Url.Content("~/Content/build/js/custom.min.js"))

    @Scripts.Render(Url.Content("~/Content/vendors/jquery_block_ui/jquery.blockUI.js"))

    @Scripts.Render(Url.Content("~/Scripts/site.js"))
</body>
</html>
