@using Clases.Util;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Portal thyssenkrupp | @ViewBag.Title </title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/logo_ico.png" />
    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="@Url.Content("~/Content/vendors/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("~/Content/vendors/nprogress/nprogress.css")" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="@Url.Content("~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css")" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/build/css/custom.css")" rel="stylesheet">

    <style>
        table.dataTable thead {
            background-color: #0094ff;
            color: azure;
        }

        .page-item.active .page-link {
            background-color: #0094ff !important;
            color: azure !important;
        }

        .page-link {
            color: black !important;
        }
    </style>

    @RenderSection("estilos", required: false)

</head>

<body class="nav-md" id="body">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home")" class="site_title"> <img src="~/Content/images/logo_4_200px.png" alt="" width="200"> </a>
                    </div>

                    <div class="clearfix"></div>

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            @if (Request.IsAuthenticated)
                            {
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    @*PRIMER NIVEL*@
                                    <li class="@(ViewBag.PrimerNivel == "home" ? "active" : null )">
                                        <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "home" ? "display:block" : null )">
                                            <li class="@(ViewBag.SegundoNivel == "home" ? "current-page" : null )"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                                        </ul>
                                    </li>
                                    @if (User.IsInRole(TipoRoles.RH))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "recursos_humanos" ? "active" : null )">
                                            <a><i class="fa fa-child"></i>Recursos Humanos<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "recursos_humanos" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "areas" ? "current-page" : null )"><a href="@Url.Action( "Index", "Areas")">Areas</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "puestos" ? "current-page" : null )"><a href="@Url.Action( "Index", "Puestos")">Puestos</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "empleados" ? "current-page" : null )"><a href="@Url.Action( "Index", "Empleados")">Empleados</a></li>
                                            </ul>
                                        </li>
                                    }
                                    @if (User.IsInRole(TipoRoles.ADMIN))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "catalogos_admin" ? "active" : null )">
                                            <a><i class="fa fa-database"></i>Cat&aacute;logos Admin <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "catalogos_admin" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "plantas" ? "current-page" : null )"><a href="@Url.Action( "Index", "Plantas")">Plantas</a></li>
                                            </ul>
                                        </li>
                                    }

                                    @if (User.IsInRole(TipoRoles.REPORTES_PESADAS))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "reporte_pesos" ? "active" : null )">
                                            <a><i class="fa fa-file-excel-o"></i>Reporte Pesadas <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "reporte_pesos" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "reporte_pesos_silao" ? "current-page" : null )"><a href="@Url.Action( "Silao", "ReportePesadas")">Silao</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "reporte_pesos_puebla" ? "current-page" : null )"><a href="@Url.Action( "Puebla", "ReportePesadas")">Puebla</a></li>
                                            </ul>
                                        </li>
                                    }

                                    @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_CATALOGOS) || User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_REGISTRO) || User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_REPORTE))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "bitacoras_produccion" ? "active" : null )">
                                            <a><i class="fa fa-tasks"></i> Producci&oacute;n<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_REGISTRO))
                                                {
                                                    <li class="@(ViewBag.SegundoNivel == "produccion_registros" ? "current-page" : null )"><a href="@Url.Action("Index", "ProduccionRegistros")">Bit&aacute;cora</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "produccion_respaldo" ? "current-page" : null )"><a href="@Url.Action("Respaldo", "ProduccionRegistros")">Cargar Respaldo</a></li>

                                                }
                                                @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_REPORTE))
                                                {
                                                    <li class="@(ViewBag.SegundoNivel == "produccion_reporte" ? "current-page" : null )"><a href="@Url.Action("Index", "ProduccionResultado")">Reporte de Producci&oacute;n</a></li>
                                                }
                                                @if (User.IsInRole(TipoRoles.BITACORAS_PRODUCCION_CATALOGOS))
                                                {
                                                    <li class="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "active" : null )">
                                                        <a>C&aacute;talogos <span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "display:block" : null )">
                                                            <li class="@(ViewBag.TercelNivel == "produccion_turnos" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionTurnos")">Turnos</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "produccion_lineas" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionLineas")">L&iacute;neas Producci&oacute;n</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "produccion_supervisores" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionSupervisores")">Supervisores</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "produccion_operadores" ? "current-page" : null )"><a href="@Url.Action( "Index", "ProduccionOperadores")">Operadores</a></li>
                                                            @if (User.IsInRole(TipoRoles.ADMIN))
                                                            {
                                                                <li class="@(ViewBag.TercelNivel == "produccion_bom" ? "current-page" : null )"><a href="@Url.Action( "Index", "Bom")">BOM</a></li>
                                                                <li class="@(ViewBag.TercelNivel == "produccion_class_v3" ? "current-page" : null )"><a href="@Url.Action( "Index", "class_v3")">Class V3</a></li>
                                                                <li class="@(ViewBag.TercelNivel == "produccion_mm_v3" ? "current-page" : null )"><a href="@Url.Action( "Index", "mm_v3")">MM V3</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>

                                        </li>

                                    }

                                    @*MENÚ PREMIUM FREIGHT APPROVAL*@

                                    @if (User.IsInRole(TipoRoles.PFA_REGISTRO) || User.IsInRole(TipoRoles.PFA_AUTORIZACION) || User.IsInRole(TipoRoles.PFA_VISUALIZACION))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "PFA" ? "active" : null )">
                                            <a><i class="fa fa-clipboard"></i> Formato PFA<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                @if (User.IsInRole(TipoRoles.PFA_REGISTRO))
                                                {
                                                    <h3>Registro</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_registro" ? "current-page" : null )"><a href="@Url.Action("Index", "PremiumFreightApproval")">Solicitudes Creadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_pendientes_capturista" ? "current-page" : null )"><a href="@Url.Action("PendientesCapturista", "PremiumFreightApproval")">Solicitudes Pendientes</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_rechazadas_capturista" ? "current-page" : null )"><a href="@Url.Action("RechazadasCapturista", "PremiumFreightApproval")">Solicitudes Rechazadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_autorizadas_capturista" ? "current-page" : null )"><a href="@Url.Action("AutorizadasCapturista", "PremiumFreightApproval")">Solicitudes Autorizadas</a></li>
                                                }

                                                @if (User.IsInRole(TipoRoles.PFA_AUTORIZACION))
                                                {
                                                    <h3>Autorizaci&oacute;n</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_autorizador_pendientes" ? "current-page" : null )"><a href="@Url.Action("AutorizadorPendientes", "PremiumFreightApproval")">PF por Autorizar</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_autorizador_rechazadas" ? "current-page" : null )"><a href="@Url.Action("AutorizadorRechazadas", "PremiumFreightApproval")">PF Rechazadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_autorizador_autorizadas" ? "current-page" : null )"><a href="@Url.Action("AutorizadorAutorizadas", "PremiumFreightApproval")">PF Autorizadas</a></li>
                                                    @*<li class="@(ViewBag.SegundoNivel == "PFA_autorizar" ? "current-page" : null )"><a href="@Url.Action("AutorizadorFinalizadas", "PremiumFreightApproval")">PF Finalizadas</a></li>*@
                                                }
                                                @if (User.IsInRole(TipoRoles.PFA_CATALOGOS))
                                                {

                                                    <li class="@(ViewBag.SegundoNivel == "PFA_catalogos" ? "active" : null )">
                                                        <a>C&aacute;talogos <span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="@(ViewBag.SegundoNivel == "bitacoras_produccion_catalogos" ? "display:block" : null )">
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Department" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Department")">Departments</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Volume" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Volume")">Volume</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Border_port" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Border_port")">Border/Port</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Destination_plant" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Destination_plant")">Destination Plant</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Reason" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Reason")">Reason of PFA</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Recovered_cost" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Recovered_cost")">How is Recovered Cost</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Responsible_cost" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Responsible_cost")">Responsible of PF</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PFA_Type_shipment" ? "current-page" : null )"><a href="@Url.Action( "Index", "PFA_Type_shipment")">Type of shipment</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                                @if (User.IsInRole(TipoRoles.PFA_VISUALIZACION))
                                                {
                                                    <h3>Reportes</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PFA_visualizar" ? "current-page" : null )"><a href="@Url.Action("ReportesPFA", "PremiumFreightApproval")">Reportes</a></li>
                                                }
                                            </ul>

                                        </li>

                                    }

                                    @*MENÚ POLIZAS MANUALES*@
                                    @if (User.IsInRole(TipoRoles.PM_AUTORIZAR_CONTROLLING) || User.IsInRole(TipoRoles.PM_CONTABILIDAD) || User.IsInRole(TipoRoles.PM_REGISTRO)
                                        || User.IsInRole(TipoRoles.PM_VALIDAR_POR_AREA) || User.IsInRole(TipoRoles.PM_CATALOGOS) || User.IsInRole(TipoRoles.PM_DIRECCION)
                                        || User.IsInRole(TipoRoles.PM_REPORTES))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "polizas_manuales" ? "active" : null )">
                                            <a><i class="fa fa-table"></i> P&oacute;lizas Manuales<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                @if (User.IsInRole(TipoRoles.PM_REGISTRO))
                                                {
                                                    <h3>Registro de P&oacute;lizas</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_registro" ? "current-page" : null )"><a href="@Url.Action("CapturistaCreadas", "PolizaManual")">Registro - Creadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_pendientes" ? "current-page" : null )"><a href="@Url.Action("CapturistaPendientes", "PolizaManual")">Registro - Pendientes</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_rechazadas" ? "current-page" : null )"><a href="@Url.Action("CapturistaRechazadas", "PolizaManual")">Registro - Rechazadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_finalizadas" ? "current-page" : null )"><a href="@Url.Action("CapturistaFinalizadas", "PolizaManual")">Registro - Finalizadas</a></li>
                                                }

                                                @if (User.IsInRole(TipoRoles.PM_VALIDAR_POR_AREA))
                                                {
                                                    <h3>Validaci&oacute;n por &Aacute;rea</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_validar_area_pendientes" ? "current-page" : null )"><a href="@Url.Action("ValidadorPendientes", "PolizaManual")">Validaci&oacute;n - Pendientes</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_validar_area_rechazadas" ? "current-page" : null )"><a href="@Url.Action("ValidadorRechazadas", "PolizaManual")">Validaci&oacute;n - Rechazadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_validar_area_enviadas" ? "current-page" : null )"><a href="@Url.Action("ValidadorEnviadas", "PolizaManual")">Validaci&oacute;n - Validadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_validar_area_finalizadas" ? "current-page" : null )"><a href="@Url.Action("ValidadorFinalizadas", "PolizaManual")">Validaci&oacute;n - Finalizadas</a></li>
                                                }

                                                @if (User.IsInRole(TipoRoles.PM_AUTORIZAR_CONTROLLING))
                                                {
                                                    <h3>Autorizaci&oacute;n de P&oacute;lizas</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_autorizar_controlling_pendientes" ? "current-page" : null )"><a href="@Url.Action("AutorizadorPendientes", "PolizaManual")">Autorizaci&oacute;n - Pendientes</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_autorizar_controlling_rechazadas" ? "current-page" : null )"><a href="@Url.Action("AutorizadorRechazadas", "PolizaManual")">Autorizaci&oacute;n - Rechazadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_autorizar_controlling_enviadas" ? "current-page" : null )"><a href="@Url.Action("AutorizadorEnviadas", "PolizaManual")">Autorizaci&oacute;n - Enviadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_autorizar_controlling_registradas" ? "current-page" : null )"><a href="@Url.Action("AutorizadorRegistradas", "PolizaManual")">Autorizaci&oacute;n - Finalizadas</a></li>
                                                }
                                                @if (User.IsInRole(TipoRoles.PM_CONTABILIDAD))
                                                {
                                                    <h3>Contabilidad PM</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_contabilidad_pendientes" ? "current-page" : null )"><a href="@Url.Action("ContabilidadPendientes", "PolizaManual")">Contabilidad - Pendientes</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_contabilidad_registradas" ? "current-page" : null )"><a href="@Url.Action("ContabilidadRegistradas", "PolizaManual")">Contabilidad - Registradas</a></li>
                                                }

                                                @if (User.IsInRole(TipoRoles.PM_DIRECCION))
                                                {
                                                    <h3>Direcci&oacute;n PM</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_direccion_pendientes" ? "current-page" : null )"><a href="@Url.Action("DireccionPendientes", "PolizaManual")">Direcci&oacute;n - Pendientes</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_direccion_rechazadas" ? "current-page" : null )"><a href="@Url.Action("DireccionRechazadas", "PolizaManual")">Direcci&oacute;n - Rechazadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_direccion_autorizadas" ? "current-page" : null )"><a href="@Url.Action("DireccionAutorizadas", "PolizaManual")">Direcci&oacute;n - Autorizadas</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_direccion_registradas" ? "current-page" : null )"><a href="@Url.Action("DireccionRegistradas", "PolizaManual")">Direcci&oacute;n - Registradas</a></li>
                                                }
                                                @if (User.IsInRole(TipoRoles.PM_REPORTES))
                                                {
                                                    <h3>Reportes</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "PM_reportes" ? "current-page" : null )"><a href="@Url.Action("Reportes", "PolizaManual")">Reportes</a></li>

                                                }
                                                @if (User.IsInRole(TipoRoles.PM_CATALOGOS) || User.IsInRole(TipoRoles.ADMIN) || User.IsInRole(TipoRoles.PM_REGISTRO))
                                                {
                                                    <h3>Cat&aacute;logos</h3>
                                                }
                                                @if (User.IsInRole(TipoRoles.PM_CATALOGOS) || User.IsInRole(TipoRoles.PM_REGISTRO))
                                                {

                                                    <li class="@(ViewBag.SegundoNivel == "PM_catalogos" ? "active" : "" )">
                                                        <a>C&aacute;talogos <span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="@(ViewBag.SegundoNivel == "PM_catalogos" ? "display:block" : null )">
                                                            @if (User.IsInRole(TipoRoles.PM_CATALOGOS))
                                                            {
                                                                <li class="@(ViewBag.TercelNivel == "PM_tipo_poliza" ? "current-page" : null )"><a href="@Url.Action( "Index", "PM_tipo_poliza")">Tipos de P&oacute;liza</a></li>
                                                            }
                                                            @if (User.IsInRole(TipoRoles.PM_REGISTRO))
                                                            {

                                                                <li class="@(ViewBag.TercelNivel == "PM_poliza_modelo" ? "current-page" : null )"><a href="@Url.Action( "Index", "PM_poliza_manual_modelo")">P&oacute;lizas Modelo</a></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                                @if (User.IsInRole(TipoRoles.ADMIN))
                                                {

                                                    <li class="@(ViewBag.SegundoNivel == "PM_catalogos_admin" ? "active" : "" )">
                                                        <a>C&aacute;talogos ADMIN<span class="fa fa-chevron-down"></span></a>
                                                        <ul class="nav child_menu" style="@(ViewBag.SegundoNivel == "PM_catalogos" ? "display:block" : null )">
                                                            <li class="@(ViewBag.TercelNivel == "PM_departamentos" ? "current-page" : null )"><a href="@Url.Action( "Index", "PM_departamentos")">Departamentos</a></li>
                                                            <li class="@(ViewBag.TercelNivel == "PM_usuarios_capturistas" ? "current-page" : null )"><a href="@Url.Action( "Index", "PM_usuarios_capturistas")">Capturistas</a></li>

                                                        </ul>
                                                    </li>
                                                }

                                                <h3>Manual de Usuario</h3>
                                                <li class="@(ViewBag.SegundoNivel == "PM_manual" ? "current-page" : null )"><a href="@Url.Action("ManualUsuario", "PolizaManual")" target="_blank">Manual de Usuarios</a></li>

                                            </ul>

                                        </li>

                                    }

                                    @*MENÚ INSPECCIÓN DE PIEZAS*@

                                    @if (User.IsInRole(TipoRoles.INSPECCION_CATALOGOS) || User.IsInRole(TipoRoles.INSPECCION_REGISTRO) || User.IsInRole(TipoRoles.INSPECCION_REPORTES))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "Inspeccion" ? "active" : null )">
                                            <a><i class="fa fa-search"></i> Piezas de Descarte<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                @if (User.IsInRole(TipoRoles.INSPECCION_REGISTRO))
                                                {
                                                    <h3>Registro</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "Inspeccion_registro" ? "current-page" : null )"><a href="@Url.Action("BusquedaRegistro", "InspeccionRegistros")">Registro de Piezas</a></li>
                                                }

                                                @if (User.IsInRole(TipoRoles.INSPECCION_CATALOGOS))
                                                {
                                                    <h3>Cat&aacute;logos</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "Inspeccion_inspectores" ? "current-page" : null )"><a href="@Url.Action("Inspectores", "inspeccion_Fallas")">Inspectores</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "Inspeccion_categorias" ? "current-page" : null )"><a href="@Url.Action("Index", "InspeccionCategoriaFallas")">Categorias</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "Inspeccion_fallas" ? "current-page" : null )"><a href="@Url.Action("Index", "inspeccion_Fallas")">Fallas</a></li>

                                                }
                                                @if (User.IsInRole(TipoRoles.INSPECCION_REPORTES))
                                                {
                                                    <h3>Reportes</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "Inspeccion_reportes" ? "current-page" : null )"><a href="@Url.Action("Reportes", "InspeccionRegistros")">Reportes Piezas Descarte</a></li>
                                                }
                                            </ul>

                                        </li>

                                    }


                                    @*MENÚ ORDENES DE TRABAJO*@

                                    @if (User.IsInRole(TipoRoles.OT_ASIGNACION) || User.IsInRole(TipoRoles.OT_REPORTE) || User.IsInRole(TipoRoles.OT_RESPONSABLE)|| User.IsInRole(TipoRoles.OT_SOLICITUD))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "orden_trabajo" ? "active" : null )">
                                            <a><i class="fa fa-wrench"></i>&Oacute;rdenes de Trabajo<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">

                                                @if (User.IsInRole(TipoRoles.OT_SOLICITUD))
                                                {
                                                    <h3>Solicitudes</h3>
                                                    <li class="@(ViewBag.SegundoNivel == "crear_solicitud" ? "current-page" : null )"><a href="@Url.Action("Create", "OrdenesTrabajo")">Crear Solicitud</a></li>
                                                    <li class="@(ViewBag.SegundoNivel == "mis_solicitudes" ? "current-page" : null )"><a href="@Url.Action("ListadoUsuario", "OrdenesTrabajo")">Mis Solicitudes</a></li>
                                                }


                                            </ul>

                                        </li>

                                    }

                                    @*MENÚ DE USUARIOS*@

                                    @if (User.IsInRole(TipoRoles.USERS))
                                    {
                                        <li class="@(ViewBag.PrimerNivel == "usuarios" ? "active" : null )">
                                            <a><i class="fa fa-cog"></i>Usuarios <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="@(ViewBag.PrimerNivel == "usuarios" ? "display:block" : null )">
                                                <li class="@(ViewBag.SegundoNivel == "roles" ? "current-page" : null )"><a href="@Url.Action( "Index", "RolesAdmin")">Roles</a></li>
                                                <li class="@(ViewBag.SegundoNivel == "usuarios" ? "current-page" : null )"><a href="@Url.Action("Index", "UsersAdmin")">Usuarios</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Mi usuario" href="@Url.Action( "Index", "Manage")">
                            <span class="glyphicon glyphicon-user" style="color:lightgray" aria-hidden="true"></span>
                        </a> <a data-toggle="tooltip" data-placement="top" title="Próximamente">
                            <span class="glyphicon glyphicon-info-sign" style="color:lightgray" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Próximamente">
                            <span class="glyphicon glyphicon-time" style="color:lightgray" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Próximamente">
                            <span class="glyphicon glyphicon-question-sign" style="color:lightgray" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->

            @Html.Partial("_LoginPartial")

            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    &copy; @DateTime.Now.Year - thyssenkrupp
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render(Url.Content("~/Content/vendors/jquery/dist/jquery.min.js"))
    <!-- Bootstrap -->
    @Scripts.Render(Url.Content("~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"))
    <!-- FastClick -->
    @Scripts.Render(Url.Content("~/Content/vendors/fastclick/lib/fastclick.js"))
    <!-- NProgress -->
    @Scripts.Render(Url.Content("~/Content/vendors/nprogress/nprogress.js"))
    <!-- jQuery custom content scroller -->
    @Scripts.Render(Url.Content("~/Content/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"))


    @RenderSection("scripts", required: false)

    <!-- Custom Theme Scripts -->
    @Scripts.Render(Url.Content("~/Content/build/js/custom.min.js"))

    @Scripts.Render(Url.Content("~/Content/vendors/jquery_block_ui/jquery.blockUI.js"))

    @Scripts.Render(Url.Content("~/Scripts/site.js"))
</body>
</html>
