@model Portal_2_0.Models.budget_rel_anio_fiscal_centro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>budget_rel_anio_fiscal_centro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget_anio_fiscal.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget_anio_fiscal.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.budget_centro_costo.num_centro_costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.budget_centro_costo.num_centro_costo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
