@model IEnumerable<Portal_2_0.Models.view_valores_anio_fiscal>
@using Bitacoras.Util

@{
    Portal_2_0.Models.budget_centro_costo centro_costo = (Portal_2_0.Models.budget_centro_costo)ViewBag.centroCosto;
    Portal_2_0.Models.budget_anio_fiscal anio_Fiscal_anterior = (Portal_2_0.Models.budget_anio_fiscal)ViewBag.anio_Fiscal_anterior;

    ViewBag.Title = "ACT FY " + anio_Fiscal_anterior.descripcion;
    ViewBag.PrimerNivel = "plantilla_budget";
    ViewBag.SegundoNivel = "actual";
    ViewBag.ControllerName = "ResponsableBudget";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;
    int fila = 1;
}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")

    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!--fixed columns css-->
    <link href="@Url.Content("~/Content/vendors/datatables.net-fixedcolumns/dataTables.fixedColumns.css")" rel="stylesheet">
    <style>
        .text_derecha {
            text-align: right;
        }
        /* Ensure that the demo table scrolls */
        th, td {
            white-space: nowrap;
        }       
    </style>
}

@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />


}



<div class="right_col" role="main">
    <div class="">

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">
                                    <div class="form-group">
                                        @*<a href="@Url.Action("Create", ViewBag.ControllerName)" class="btn btn-success">
                                                <i class="fa fa-plus-square"></i>
                                                Crear nuevo
                                            </a>*@
                                    </div>

                                    <div class="form-group row">
                                        <!--Planta-->
                                        <label class="control-label col-md-1 text_derecha">Plant</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="@centro_costo.Area.plantas.descripcion" readonly>
                                        </div>
                                        <!--Deparment-->
                                        <label class="control-label col-md-1 text_derecha">Department</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" value="@centro_costo.Area.descripcion" readonly>
                                        </div>
                                        <!--Cost center-->
                                        <label class="control-label col-md-1 text_derecha">Cost Center</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" value="@centro_costo.num_centro_costo" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <!--responsable-->
                                        <label class="control-label col-md-1 text_derecha">Responsable</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" value="@centro_costo.empleados.ConcatNombre" readonly>
                                        </div>

                                    </div>
                                    <div class="ln_solid"></div>

                                    <div class="form-group row">

                                        <table id="datatable_1" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
                                            <thead >
                                                <tr style=" background-color: #0094ff; color: azure;" !important> 
                                                    <th>
                                                        Item
                                                    </th>
                                                    <th>
                                                        SAP Account
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Mapping
                                                    </th>

                                                    <!-- MESES-->
                                                    <th>
                                                        ACT @MesesUtil.OCTUBRE.Abreviation-@anio_Fiscal_anterior.anio_inicio.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.NOVIEMBRE.Abreviation-@anio_Fiscal_anterior.anio_inicio.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.DICIEMBRE.Abreviation-@anio_Fiscal_anterior.anio_inicio.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.ENERO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.FEBRERO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.MARZO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.ABRIL.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.MAYO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.JUNIO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.JULIO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.AGOSTO.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        ACT @MesesUtil.SEPTIEMBRE.Abreviation-@anio_Fiscal_anterior.anio_fin.ToString().Substring(2, 2)
                                                    </th>
                                                    <th>
                                                        Totals
                                                    </th>
                                                    <th>
                                                        Comentarios
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                <tr>
                                                    <td>
                                                        @fila
                                                    </td>
                                                    <td>
                                                        @item.sap_account
                                                    </td>
                                                    <td>
                                                        @item.name
                                                    </td>
                                                    <td>
                                                        @item.descripcion
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Octubre.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Octubre)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Noviembre.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Noviembre)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Diciembre.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Diciembre)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Enero.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Enero)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Febrero.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Febrero)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Marzo.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Marzo)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Abril.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Abril)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Mayo.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Mayo)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Junio.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Junio)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Julio.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Julio)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Agosto.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Agosto)
                                                    </td>
                                                    <td class="text_derecha">
                                                        @if (item.Septiembre.HasValue)
                                                        {<span>$</span>}
                                                        @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.Septiembre)
                                                    </td>
                                                    <td class="text_derecha" style="background-color:#d4f2fc; font-weight: bold;">
                                                        $ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", item.TotalMeses().Value)
                                                    </td>
                                                    <td>
                                                        @item.Comentario
                                                    </td>
                                                </tr>

                                                    fila++;
                                                }
                                                <tr style="font-weight: bold;">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="background-color: #d4f2fc" >Totals</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Octubre))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Noviembre))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Diciembre))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Enero))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Febrero))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Marzo))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Abril))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Mayo))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Junio))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Julio))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Agosto))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.Septiembre))</td>
                                                    <td style="background-color: #d4f2fc"  class="text_derecha">$ @string.Format(System.Globalization.CultureInfo.GetCultureInfo("es-US"), "{0:N2}", Model.Sum(item => item.TotalMeses()))</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))
    @Scripts.Render("~/bundles/dataTables_js")

    <script>
        $(document).ready(function () {

            //inicializa los data table
            var tabla = $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "scrollX": true,
                "scrollY": "600px",
                "info": false,
                fixedColumns: {
                    left: 4
                }
            });

          

        });

        //agranda el tamaño de la barra
        window.onload = function () {
            clicMenu(1);
        }

    </script>

}

