@model Portal_2_0.Models.PM_usuarios_capturistas

@{
    ViewBag.Title = "Habilitar Capturista";
    ViewBag.PrimerNivel = "polizas_manuales";
    ViewBag.SegundoNivel = "PM_catalogos_admin";
    ViewBag.TercerNivel = "PM_usuarios_capturistas";
    ViewBag.ControllerName = "PM_usuarios_capturistas";
}

<div class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <div class="clearfix"></div>
                    </div>

                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <h5>¿Realmente desea habilitar este registro?</h5>
                            <table class="table">
                                <tbody>
                                <thead style="background-color: #0094ff; color: azure;">
                                    <tr>
                                        <th>
                                            Campo
                                        </th>
                                        <th>
                                            Valor
                                        </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.id_empleado)</th>
                                    <td>
                                        @Html.DisplayFor(model => model.empleados.ConcatNombre)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.id_departamento)
                                    </th>
                                    <td>@Html.DisplayFor(model => model.PM_departamentos.descripcion)</td>
                                </tr>
                                <tr>
                                    <th > @Html.DisplayNameFor(model => model.activo)</th>
                                    <td>
                                        @if (Model.activo)
                                        {
                                            <span>Activo</span>
                                        }
                                        else
                                        {
                                            <span>Inactivo</span>
                                        }
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <p class="float-md-right">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color float-md-right">
                                    <input type="submit" value="Habilitar" class="btn btn-warning" />
                                </div>
                            }
                        </p>
                    </div>
                </div>
                <div>
                    <br />
                    <a href="@Url.Action("Index", ViewBag.ControllerName)" class="btn btn-round btn-info btm-sm" title="Volver">
                        <i class="fa fa-arrow-circle-left"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
