@model IEnumerable<Portal_2_0.Models.produccion_registros>

@{
    ViewBag.Title = "Registros de Producción";
    ViewBag.PrimerNivel = "Inspeccion";
    ViewBag.SegundoNivel = "Inspeccion_registro";
    ViewBag.ControllerName = "InspeccionRegistros";

    Clases.Util.MensajesSweetAlert mensajeAlerta = (Clases.Util.MensajesSweetAlert)ViewBag.MensajeAlert;

    //obtiene los filtros
    Portal_2_0.Models.Paginacion paginacionFiltros = (Portal_2_0.Models.Paginacion)ViewBag.Paginacion;

    string clavePlanta = string.Empty;
    if (paginacionFiltros.ValoresQueryString["clave_planta"] != null)
    {
        clavePlanta = paginacionFiltros.ValoresQueryString["clave_planta"].ToString();
    }
    string idLinea = string.Empty;
    if (paginacionFiltros.ValoresQueryString["id_linea"] != null)
    {
        idLinea = paginacionFiltros.ValoresQueryString["id_linea"].ToString();
    }
    string filtroFechaInicio = string.Empty;
    if (paginacionFiltros.ValoresQueryString["fecha_inicial"] != null)
    {
        filtroFechaInicio = paginacionFiltros.ValoresQueryString["fecha_inicial"].ToString();
    }
    string filtroFechaFinal = string.Empty;
    if (paginacionFiltros.ValoresQueryString["fecha_final"] != null)
    {
        filtroFechaFinal = paginacionFiltros.ValoresQueryString["fecha_final"].ToString();
    }
    string numPagina = string.Empty;
    if (paginacionFiltros.ValoresQueryString["pagina"] != null)
    {
        numPagina = paginacionFiltros.ValoresQueryString["pagina"].ToString();
    }

}

@section estilos
{
    <!-- DataTables -->
    @Styles.Render("~/Content/dataTables_css")
   
    <!-- SweetAlert2 -->
    <link href="@Url.Content("~/Content/vendors/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet">
    <!-- Select2 -->
    <link href="@Url.Content("~/Content/vendors/select2/css/select2.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/vendors/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet">

    <style>
        .fondo_verde > td {
            background-color: green;
            color: #fffdf0;
            font-weight: bolder;
        }
    </style>
}

@if (idLinea != null)
{
    <input type="hidden" value="@idLinea" id="cLinea" />
}


@*Para SweetAlert*@
@if (mensajeAlerta != null)
{
    <input type="hidden" value="@mensajeAlerta.Mensaje" id="mensajeAlert" />
    <input type="hidden" value="@mensajeAlerta.getTipoMensaje()" id="mensajeAlertTipo" />
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>@ViewBag.Title</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            @*Utilizado para mover a la derecha los iconos del card*@
                            <span style="visibility:hidden">_______</span>
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box ">
                                    <div class="form-group">
                                        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "buscarForm", @class = "form-horizontal form-label-left" }))
                                        {


                                            <div class="ln_solid"></div>

                                            <div class="form-group row">
                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-2 col-sm-2" for="planta">Planta</label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    @Html.DropDownList("clave_planta", null, htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%", @required = "required" })
                                                </div>

                                            </div>
                                            <div class="form-group row ">
                                                <label class="control-label col-md-2 col-sm-2" for="linea">L&iacute;nea</label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    @Html.DropDownList("id_linea", null, "-- Seleccione un valor --", htmlAttributes: new { @class = "form-control select2bs4", @style = "width:100%" })
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="control-label col-md-2 col-sm-2" for="fecha_inicial">Fecha Inicial</label>
                                                <div class="col-md-3 col-sm-3">
                                                    <input type="date" class="form-control" name="fecha_inicial" id="fecha_inicial" value="@filtroFechaInicio">
                                                </div>
                                                <label class="control-label col-md-1 col-sm-1" for="fecha_final">Fecha Final</label>
                                                <div class="col-md-3 col-sm-3">
                                                    <input type="date" class="form-control" name="fecha_final" id="fecha_final" value="@filtroFechaFinal">
                                                </div>
                                            </div>
                                            <div class="form-group row ">
                                                <div class="col-md-10 col-sm-10">
                                                    <input type="submit" value="buscar" class="btn btn-info float-right" />
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    @if (Model.Count() > 0)
                                    {
                                <table id="datatable_1" class="table table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Acciones</th>
                                            <th>
                                                Planta
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.fecha)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.produccion_turnos.descripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.sap_platina)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.sap_rollo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Class_asociado.Customer_part_number)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.produccion_datos_entrada.orden_sap)
                                            </th>
                                            <th>
                                                L&iacute;nea
                                            </th>
                                            <th>
                                                Operador
                                            </th>
                                            <th>
                                                Supervisor
                                            </th>
                                            <th>
                                                Inspector
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr class="@(item.inspeccion_datos_generales!=null ? "fondo_verde" : "" )">
                                            <td>

                                                <a href="@Url.Action("RegistroPiezasDescarte", ViewBag.ControllerName, new { 
                                                    id = item.id,clave_planta = clavePlanta,
                                                    id_linea = idLinea,
                                                    fecha_inicial = filtroFechaInicio,
                                                    fecha_final = filtroFechaFinal,
                                                    pagina = numPagina})" class="btn btn-success btm-sm" title="Registrar Piezas de Descarte">
                                                    <i class="fa fa-keyboard-o"></i>
                                                </a>
                                                <a href="@Url.Action("DatosEntradasDetails", "ProduccionRegistros", new { id = item.id,clave_planta = clavePlanta,
                                                    id_linea = idLinea,
                                                    fecha_inicial = filtroFechaInicio,
                                                    fecha_final = filtroFechaFinal,
                                                    pagina = numPagina})" class="btn btn-info btm-sm" title="Detalles">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.plantas.descripcion)
                                            </td>
                                            <td>
                                                @item.fecha
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.produccion_turnos.descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.sap_platina)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.sap_rollo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Class_asociado.Customer_part_number)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.produccion_datos_entrada.orden_sap)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.produccion_lineas.linea)
                                            </td>
                                            <td>
                                                @item.produccion_operadores.empleados.ConcatNombre
                                            </td>
                                            <td>
                                                @item.produccion_supervisores.empleados.ConcatNombre
                                            </td>
                                            <td>
                                                @if (item.inspeccion_datos_generales != null && item.inspeccion_datos_generales.empleados != null)
                                                {
                                                    @item.inspeccion_datos_generales.empleados.ConcatNombre
                                                }
                                                else { 
                                                    <span>PENDIENTE</span>
                                                }


                                            </td>

                                        </tr>
                                        }



                                    </tbody>
                                </table>
                                    }
                                    else
                                    {
                                        <hr />
                                        <h5>¡No hay Resultados!</h5>
                                    }

                                    <br />
                                    @if (Model.Count() > 0)
                                    {
                                        <nav aria-label="...">
                                            @{Html.RenderPartial("_Paginacion", Model);}
                                        </nav>

                                        @*<div class="form-group">
                                            @ViewContext.RouteData.Values["clave_planta"]
                                            <a href="@Url.Action("Exportar", ViewBag.ControllerName, new
                                                {
                                                    clave_planta = clavePlanta,
                                                    id_linea = idLinea,
                                                    fecha_inicial = filtroFechaInicio,
                                                    fecha_final = filtroFechaFinal,
                                                    tipo_reporte = tipo_reporte,
                                                    fecha_turno = filtroFechaTurno,
                                                    turno = filtroTurno

                                                })" class="btn btn-success btm-sm" target="_blank" title="Reporte">
                                                <i class="fa fa-file-excel-o"></i> Exportar Excel
                                            </a>

                                        </div>*@
                                    }
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    @Scripts.Render(Url.Content("~/Content/vendors/select2/js/select2.full.min.js"))
    <!-- SweetAlert2 -->
    @Scripts.Render(Url.Content("~/Content/vendors/sweetalert2/sweetalert2.min.js"))
    @Scripts.Render(Url.Content("~/Scripts/AlertasSweetAlert.js"))

    @Scripts.Render("~/bundles/dataTables_js")
    <!-- iCheck -->
    @Scripts.Render(Url.Content("~/Content/vendors/iCheck/icheck.min.js"))

    <script>

        $(document).ready(function () {
            //agranda el tamaño de la barra
            window.onload = function () {
                document.getElementById('menu_toggle').click();
            }

            //inicializa los data table
            $('#datatable_1').DataTable({
                "paging": false,
                "ordering": false,
                "searching": false,
                "info": false
            });

            seleccionaValoresDefault();


            // Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })


        });

    
        //activa y desactiva los combos
        function verificaEstadoCombos() {

            var planta = $("#clave_planta option:selected").val();

            //si planta esta vacia
            if (planta == "") {
                $("#id_linea").prop("disabled", true);
                //  $("#crearFormButton").prop("disabled", true);
            }
            else {
                $("#id_linea").prop("disabled", false);
            }


        }


        //selecciona los valores que carga por defecto
        function seleccionaValoresDefault() {

            var cPlanta = document.getElementById("clave_planta");
            var cLinea = document.getElementById("cLinea");

            //Si hay valores previos (EDIT)
            if (cPlanta != null && cPlanta.value != 0) {
                //estable el valor del primer combo
                if ($("#clave_planta option[value='" + cPlanta.value + "']").length > 0) {
                    $("#clave_planta").val(cPlanta.value);
                } else {
                    $("#clave_planta").val("");
                }

                //realiza llamada para lineas
                $.ajax({
                    type: 'POST',
                    url: '/Combos/obtieneLineasPlantas',
                    data: { clavePlanta: cPlanta.value },
                    success: function (data) {
                        populateDropdown($("#id_linea"), data);
                    },
                    async: false
                });

                if (cLinea != null && cLinea.value != 0) {
                    //establece el valor del segundo select una vez termina la llamada ajax
                    if ($("#id_linea option[value='" + cLinea.value + "']").length > 0) {
                        $("#id_linea").val(cLinea.value);
                    } else {
                        $("#id_linea").val("");
                    }
                }

            } else { //en caso de que no haya valores previos (CREATE)
                verificaEstadoCombos();
            }
                     
                     

            // Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

        }

        //completa el selec con los datos recibidos
        function populateDropdown(select, data) {
            select.html('');
            $.each(data, function (id, option) {
                select.append($('<option></option>').val(option.value).html(option.name));
            });
        }

        //borra los datos del formulario para restablecerlo
        var form = document.getElementById("buscarForm");


    </script>

}

